div.j2tajax-confirm {
    margin-right:5px;
}

div.j2tajax-checkout-img {
    float:left;
}

div.j2tajax-confirm .success-msg {
    background:none;
    color:#000;
    padding: 8px !important;
    text-align:left;
    border:none !important;
}


div.j2tajax-confirm, div.j2tajax-progress{
    border:#ccc solid 1px; z-index: 199;
    text-align:center;
}
div.j2tajax-progress{padding:5px; z-index: 199;}


div.j2t-overlay{
    width: 100%;
    height: 100%;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 198;
}






a.j2t-checkout-link{
    background: transparent url('../../images/j2t/j2t-button-gray-left.gif') no-repeat top left;
    display: block;
    float: right;
    font-size:11px;
    line-height: 16px; /* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 24px) */
    height: 24px; /* Height of button background height */
    padding-left: 11px; /* Width of left menu image */
    text-decoration: none;
    margin-right:10px;
}

a:link.j2t-checkout-link, a:visited.j2t-checkout-link, a:active.j2t-checkout-link{
    color: #494949; /*button text color*/
}

a.j2t-checkout-link span{
    background: transparent url('../../images/j2t/j2t-button-gray-right.gif') no-repeat top right;
    display: block;
    padding: 4px 11px 4px 0; /*Set 11px below to match value of 'padding-left' value above*/
}

a.j2t-checkout-link:hover{ /* Hover state CSS */
    background-position: bottom left;
}

a.j2t-checkout-link:hover span{ /* Hover state CSS */
    background-position: bottom right;
    color: black;
}



span.j2t-or{
    display:none;
}
a.j2t-continue-link{
    background: transparent url('../../images/j2t/j2t-button-green-left.gif') no-repeat top left;
    display: block;
    float: left;
    font-size:11px;
    line-height: 16px; /* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 24px) */
    height: 24px; /* Height of button background height */
    padding-left: 11px; /* Width of left menu image */
    text-decoration: none;
    margin-left:10px;
}

a:link.j2t-continue-link, a:visited.j2t-continue-link, a:active.j2t-continue-link{
    color: #494949; /*button text color*/
}

a.j2t-continue-link span{
    background: transparent url('../../images/j2t/j2t-button-green-right.gif') no-repeat top right;
    display: block;
    padding: 4px 11px 4px 0; /*Set 11px below to match value of 'padding-left' value above*/
}

a.j2t-continue-link:hover{ /* Hover state CSS */
    background-position: bottom left;
}

a.j2t-continue-link:hover span{ /* Hover state CSS */
    background-position: bottom right;
    color: black;
}