.stock_indicator {
	position: relative;
	top: 3px;
	margin: 0 5px 0 3px;
	width: 39px;
	height: 11px;
 	display: inline-block;
	background: url(../../default/images/stockindicator/sprite.gif) repeat-x;
}

.red {}
.yellow { background-position: 0 -11px; }
.green { background-position: 0 -22px; }