<?php

/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   Mage
 * @package    Mage_CashOnDelivery
 * @copyright  Copyright (c) 2008 Andrej Sinicyn, Mik3e
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */

?>
<fieldset class="form-list">
    <ul id="payment_form_<?php echo $this->getMethodCode() ?>" style="display:none">
        <li>
            Die Zahlungsart Nachnahme ist nur innerhalb Deutschlands verfügbar. Für Bestellungen per Nachnahme erheben wir einen Aufschlag von 5,- EUR. Bitte bedenken Sie, dass DHL neben den Nachnahmegebühren einen zusätzlichen Aufschlag für Kontoführungsgebühren von 2,- EUR erhebt, welchen Sie direkt an den Paketzusteller zu entrichten haben.
            <?php if(false == true): ?>
            <div class="input-box">
                <?php if ($this->getMethod()->getCustomText()): ?>
                    <?php echo $this->getMethod()->getCustomText() ?><br />
                <?php endif; ?>
            </div>
            <?php endif; ?>
        </li>
        <li><button type="button" class="magenta button right" onclick="payment.save();"><span>&nbsp;&nbsp;<?php echo $this->__('Continue') ?>&nbsp;&nbsp;<img style="margin-top: 7px; width: 17px; height: 12px;" src="<?php echo $this->getSkinUrl('images/media/pfeil12.png'); ?>" alt="">&nbsp;</span></button></li>
    </ul>
</fieldset>
