<?php
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   design_default
 * @package    Phoenix_Ipayment
 * @copyright  Copyright (c) 2009 Phoenix Medien GmbH & Co. KG (http://www.phoenix-medien.de)
 */
?>
<?php
$_code=$this->getMethodCode();
echo '<script type="text/javascript"> var _3ds_trxuser_id = ' . $this->getMethod()->getConfigData('trxuser_id') . ';</script>' . "\n";
?>
<fieldset class="form-list">
    <ul id="payment_form_<?=$_code ?>" style="display:none">
		<li id="<?=$_code ?>_edit_switch" style="display:none">
			<a href="#" onclick="ipaymentSwitchEditFields('<?=$_code?>'); return false;"><?=$this->__('Change credit card information')?></a>
		</li>
        <li>
            <div class="input-box">
                <label for="<?php echo $_code ?>_cc_owner"><?php echo $this->__('Name on Card') ?> <span class="required">*</span></label><br />
                <input type="text" title="<?php echo $this->__('Name on Card') ?>" class="validate-ipayment-cc-owner required-entry input-text no-submit" id="<?php echo $_code ?>_cc_owner" name="cc_owner" value="<?php echo $this->htmlEscape($this->getInfoData('cc_owner')) ?>" />
            </div>
        </li>
        <li>
            <div class="input-box">
                <label for="<?php echo $_code ?>_cc_type"><?php echo $this->__('Credit Card Type') ?> <span class="required">*</span></label><br />
                <select id="<?php echo $_code ?>_cc_type" name="cc_type" class="validate-ipayment-cc-type required-entry validate-cc-type-select no-submit">
                    <option value=""><?=$this->__('--Please Select--') ?></option>
                <?php $_ccType = $this->getInfoData('cc_type') ?>
                <?php foreach ($this->getCcAvailableTypes() as $_typeCode => $_typeName): ?>
                    <option value="<?php echo $_typeCode ?>"<?php if($_typeCode==$_ccType): ?> selected="selected"<?php endif ?>><?php echo $_typeName ?></option>
                <?php endforeach ?>
                </select>
            </div>
        </li>
        <li>
            <div class="input-box">
                <label for="<?php echo $_code ?>_cc_number"><?php echo $this->__('Credit Card Number') ?> <span class="required">*</span></label><br />
                <input type="text" id="<?php echo $_code ?>_cc_number" name="cc_number" title="<?php echo $this->__('Credit Card Number') ?>" class="validate-ipayment-cc-number input-text validate-cc-number validate-cc-type no-submit" value="" autocomplete="off" />
            </div>
            <div id="<?php echo $_code ?>_success" style="display:none;">Check completed, Credit Card is valid. Press continue to proceed.</div>
        </li>
        <li>
            <div class="input-box">
                <label for="<?php echo $_code ?>_expiration"><?php echo $this->__('Expiration Date') ?> <span class="required">*</span></label><br />
                <div class="v-fix">
                <select id="<?php echo $_code ?>_expiration" style="width:140px;" name="cc_exp_month" class="validate-ipayment-cc-month required-entry no-submit">
                <?php $_ccExpMonth = $this->getInfoData('cc_exp_month') ?>
                <?php foreach ($this->getCcMonths() as $k=>$v): ?>
                    <option value="<?php echo $k?$k:'' ?>"<?php if($k==$_ccExpMonth): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
                <?php endforeach ?>
                </select>
                </div>
                <div class="v-fix" style="padding-left:5px;">
                <?php $_ccExpYear = $this->getInfoData('cc_exp_year') ?>
                <select id="<?php echo $_code ?>_expiration_yr" style="width:103px;" name="cc_exp_year" class="validate-ipayment-cc-year required-entry no-submit">
                <?php foreach ($this->getCcYears() as $k=>$v): ?>
                    <option value="<?php echo $k?$k:'' ?>"<?php if($k==$_ccExpYear): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
                <?php endforeach ?>
                </select>
                </div>
            </div>

        <?php if($this->hasVerification()): ?>
        </li>
        <li>
            <div class="input-box">
                <label for="<?php echo $_code ?>_cc_cid"><?php echo $this->__('Card Verification Number') ?> <span class="required">*</span></label><br />
                <input type="text" title="<?php echo $this->__('Card Verification Number') ?>" class="required-entry input-text validate-cc-cvn no-submit" id="<?php echo $_code ?>_cc_cid" name="cc_cid" style="width:3em;" value="" autocomplete="off" />
                &nbsp;
                <a href="#" class="cvv-what-is-this"><?php echo $this->__('What is this?') ?></a>
            </div>
        <?php else: ?>
        	<input type="hidden" id="<?php echo $_code ?>_cc_cid" name="cc_cid" class="no-submit" value="" />
        <?php endif; ?>

	        <input type="hidden" name="payment[cc_owner]" value="" />
    	    <input type="hidden" name="payment[cc_type]" value="" />
        	<input type="hidden" name="payment[cc_number]" value="" />
	        <input type="hidden" name="payment[cc_exp_month]" value="" />
    	    <input type="hidden" name="payment[cc_exp_year]" value="" />
        	<input type="hidden" name="payment[additional_data]" value="" />
            <input type="hidden" id="ipayment_cc_request_status" value="" />
        </li>
    </ul>
</fieldset>