<?php
/*$folder = "druckerpatronen";
$von = " von Tintenstrahldruckern";
$file = $_SERVER["DOCUMENT_ROOT"]."cache/".$folder."/0";
if(file_exists($file)) {
    echo "<div class=\"category-title\">\n<h2>Alle Hersteller".$von."</h2>\n</div>\n";
    include($file);
    echo "<script type=\"text/javascript\">decorateList('manufacturer-list-0')</script>\n";
    echo "<script type=\"text/javascript\">decorateList('manufacturer-list-1')</script>\n";
    echo "<script type=\"text/javascript\">decorateList('manufacturer-list-2')</script>\n";
} else {
    echo "Herstellerliste konnte im Cache nicht gefunden werden!<br>\n";
}*/
?>
<br />
<ul id="manufacturer-list-0">
<li><a href="http://www.druckerpatronen.de/brother/">Brother</a></li>
<li><a href="http://www.druckerpatronen.de/epson/">Epson</a></li>
<li><a href="http://www.druckerpatronen.de/konica-minolta/">Konica Minolta</a></li>
<li><a href="http://www.druckerpatronen.de/oki/">OKI</a></li>
<li><a href="http://www.druckerpatronen.de/philips/">Philips</a></li>
<li><a href="http://www.druckerpatronen.de/sharp/">Sharp</a></li>
</ul>
<ul id="manufacturer-list-1">
<li><a href="http://www.druckerpatronen.de/canon/">Canon</a></li>
<li><a href="http://www.druckerpatronen.de/hp/">HP</a></li>
<li><a href="http://www.druckerpatronen.de/kyocera-mita/">Kyocera/Mita</a></li>
<li><a href="http://www.druckerpatronen.de/olivetti/">Olivetti</a></li>
<li><a href="http://www.druckerpatronen.de/sagem/">Sagem</a></li>
<li><a href="http://www.druckerpatronen.de/xerox/">Xerox</a></li>
</ul>
<ul id="manufacturer-list-2">
<li><a href="http://www.druckerpatronen.de/dell/">Dell</a></li>
<li><a href="http://www.druckerpatronen.de/ibm/">IBM</a></li>
<li><a href="http://www.druckerpatronen.de/lexmark/">Lexmark</a></li>
<li><a href="http://www.druckerpatronen.de/panasonic/">Panasonic</a></li>
<li><a href="http://www.druckerpatronen.de/samsung/">Samsung</a></li>
<li><a href="http://www.druckerpatronen.de/hersteller/">weitere Hersteller</a></li>
</ul>
<script type="text/javascript">decorateList('manufacturer-list-0')</script>
<script type="text/javascript">decorateList('manufacturer-list-1')</script>
<script type="text/javascript">decorateList('manufacturer-list-2')</script>