<div style="margin-left:20px">
<?php
$prefix = "novi_";
$groupname = "lexicon";

if(empty($_GET[$groupname.'_id'])) {
	
?><h1 style="margin-top:-20px">Drucker Lexikon</h1><br />

In unserem Drucker Lexikon finden Sie Erklärungen zu vielen Begriffen aus dem Druckerbereich.<br />
<br />
Es werden beispielsweise die verschiedenen Druckerarten erklärt, die zugehörigen Verbrauchsmittel, wie Druckerpatronen und Toner, sowie der technische Ablauf beim Druckvorgang.<br />
<br />
Sie sind sicherlich schon selbst des &Ouml;fteren mal über technische Begriffe in Produktbeschreibungen gestossen, dessen Bedeutung Ihnen fremd war.<br />
<br />
Mit diesem Drucker Lexikon möchten wir versuchen Ihnen möglichst viele Fachbegriffe zu erläutern.<br />
<br />
Sollte, wider erwarten, eine nötige Erklärung fehlen, schreiben Sie uns doch eine kurze e-mail an <a href="mailto:info@druckerpatronen.de?subject=Druckerpatronen.de Lexikon">info@druckerpatronen.de</a> - wir werden dann versuchen Ihre Frage schnellstmöglich zu beantworten und das Lexikon diesbezüglich ergänzen.<br />
<br /><br />
<? $arr = array('A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z');
foreach($arr as $val) {
	$sql = "SELECT * FROM ".$prefix.$groupname." WHERE title LIKE '$val%' ORDER BY title ASC";
	$collection = Mage::getSingleton('core/resource')->getConnection('core_read')->fetchAll($sql);
	$nums = count($collection);
	if ($nums) $letters[] = '<a style="color:#0098E7;font-weight:bold" href="'.$this->getBaseUrl().'lexikon/#letter_'.$val.'">'.$val.'</a>';
	else $letters[] = $val;
}

$title = '<table style="width:100%;height:30px;line-height:30px;">
    <? $nums = nums(db_q(products,$query)); ?>
    <tr>
        <td colspan="3" style="text-align:center;font-weight:bold;background-color:#dbdbdb">';
            $title .= implode("&nbsp; | &nbsp;",$letters);
        $title .= '</td>
    </tr>
    </table>
    <br>';
        echo $title;
        /*
$title = "<div style='background-image:url(\"http://www.drucker.de/img/frontend/tab.png\");height:24px;width:500px;margin-bottom:5px;overflow:hidden;'>";
$title .= "<div style='color:#4E4E4E;font-size:12px;font-weight:bold;line-height:25px;margin-left:10px;margin-right:10px;'>";
$title .= "<span style='font-size:10px;line-height:24px'>";
$title .= implode(" | ",$letters);
$title .= "</span>";
$title .= "</div>";
$title .= "</div>";
echo $title."<br>";
         * 
         */
$x=0;
foreach($arr as $val) {
	$sql = "SELECT * FROM ".$prefix.$groupname." WHERE title LIKE '$val%' && status = '1' ORDER BY title ASC";
	$collection = Mage::getSingleton('core/resource')->getConnection('core_read')->fetchAll($sql);
	$nums = count($collection);
	if ($nums) {
		$x++;
		echo '<div style="float:left;width:280px;margin-left:20px;">';
		echo '<a name="letter_'.$val.'"></a>';
		echo '<h2>'.$val.'</h2>';
		foreach($collection as $item) {
			echo "&bull; <a href='".$this->getBaseUrl().$item['deeplink']."' title='".$item['title']."'>".$item['title']."</a><br>";
		}
		echo '<br><span class="size10"><a href="#top">nach oben</a></span>';
		echo '</div>';

		if ($x == 2) {
			echo '<br style="clear:both">';
			echo "<div style='border-bottom: 1px solid #CCCCCC;height:1px !important;margin:15px auto;overflow:hidden;padding:0;width:100%;'></div>";
			$x = 0;
		}
	}
}
if ($x != 0) echo '<br style="clear:both">';
echo '<br>';
echo $title;
    
} else {

    /* achtung sql injection! */
    $sql = "SELECT * FROM ".$prefix.$groupname." WHERE id = ".$_GET[$groupname.'_id'].";";
	$data = Mage::getSingleton('core/resource')->getConnection('core_read')->fetchAll($sql);

	if(empty($data[0])) {
        echo "Begriff nicht gefunden<br />\n<br />\n";
    } else {
        $item = $data[0];


        echo "<div class=\"std\">\n";
        echo "<h1 style=\"float: left;margin-top:-20px\">".$item['title']."</h1>\n";
        echo "<div class=\"clearer\"></div>\n";
        echo "</div>\n";
        echo "<div style=\"margin: 0;\" class=\"series-content\">\n";
        echo "<p style=\"text-align: justify;\">\n";

        echo $item['text']."<br />\n";
        ?>
        <a href="<?php echo $this->getBaseUrl()."lexikon/"; ?>">Zurück zum Lexikon</a>

        <?php
        echo "</p>\n";
        echo "</div>\n";
       
    }
}
?>
</div>