<?php
$folder = "zubehoer";
$von = " von Druckerzubeh&ouml;r";
$file = $_SERVER["DOCUMENT_ROOT"]."cache/".$folder."/0";
if(file_exists($file)) {
    echo "<div class=\"category-title\">\n<h2>Alle Hersteller".$von."</h2>\n</div>\n";
    include($file);
    echo "<script type=\"text/javascript\">decorateList('manufacturer-list-0')</script>\n";
    echo "<script type=\"text/javascript\">decorateList('manufacturer-list-1')</script>\n";
    echo "<script type=\"text/javascript\">decorateList('manufacturer-list-2')</script>\n";
} else {
    echo "Herstellerliste konnte im Cache nicht gefunden werden!<br>\n";
}
?>