<?php

/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   design_default
 * @package    Mage
 * @copyright  Copyright (c) 2004-2007 Irubin Consulting Inc. DBA Varien (http://www.varien.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?>
<?php
$orderId = Mage::getSingleton('checkout/session')->getLastOrderId();
$order = Mage::getSingleton('sales/order')->load($orderId);
$orderDetails = $order->getData();
$subtotal = $order->getBaseSubtotal();
$grandTotal = $order->getGrandTotal();
$currencyCode = $order->getOrderCurrencyCode();
$customerId = Mage::getSingleton('customer/session')->getCustomerId();
$customer = Mage::getSingleton('customer/session')->getCustomer();
$email = $order->getCustomerEmail();
$cytoken = Mage::getSingleton('core/session')->getCoyoteToken();
$baseurl = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB);
$orderItems = $order->getItemsCollection()->addAttributeToSelect('*')->addAttributeToFilter('product_type', array('eq'=>'simple'))->load();

######## Coyote Lead? #######
if ($cytoken != '') {
    echo '<!-- START COYOTE COOKIE LEADPIXEL -->'."\n";
	# extern
    echo '<img src="http://www.jomads.com/campaignVerifier/noticeSale_drucker_'.$cytoken.'_'.$order->getIncrementId().'--'.$subtotal.'--.png"
width="1" height="1"/>'."\n";
	# intern
	@fopen($baseurl.'affiliates/jomads.php?token='.$cytoken.'&order='.$order->getIncrementId().'&total='.$subtotal,'r');
	echo '<!-- '.$baseurl.'affiliates/jomads.php?token='.$cytoken.'&order='.$order->getIncrementId().'&total='.$subtotal.' -->'."\n";
    echo '<!-- END COYOTE COOKIE LEADPIXEL -->'."\n";
}	
########## Tracking Weiche ##############
$session = Mage::getSingleton("core/session",  array("name"=>"frontend"));
$network = $session->getData("network");

if ( isset($network) ) {
	if ($network =='1') { 
	//Affili	
	echo '<IMG SRC="https://partners.webmasterplan.com/registersale.asp?site=11065&mode=pps&ltype=1&price='.$subtotal.'&order='.$order->getIncrementId().'"  WIDTH="1" HEIGHT="1">';	
	} elseif ($network =='2') { 
	//Adcell
	echo '<div style="position: absolute;">';
	echo '<img height="1" width="1" style="border-style:none;" alt="" src="http://www.druckerpatronen.de/affiliates/ads/sales.php?orderId='.$order->getIncrementId().'&value='.$subtotal.'"/>';
    echo '<img src="http://www.adcell.de/event.php?pid=1830&eventid=1896&referenz='.$order->getIncrementId().'&betrag='.$subtotal.'"  border=0 width=1 height=1>';
    echo '</div>';

}}



########affiliprint########

$coupon_code = $order->getCouponCode();

$readonce = Mage::getSingleton('core/resource')->getConnection('core_read');
$rows = $readonce->fetchAll('SELECT * FROM dpm_salesrule_coupon where  (rule_id="89" or rule_id="137" or rule_id="138") and code ="'.$coupon_code.'"');
        
        foreach ($rows as $row)
            {
            $ops[] = $row;                                
            }
if (isset($ops)) {
echo "<img src='https://portal.affiliprint.com/pixel/sale/ver-1.1/sid-d36fac91b560259915bde26eb6517f83/bon-".$coupon_code."/val-".$subtotal."/tax-0/inf-Bestellung%".$orderId."/ap.gif'>";
}       

##########THARUKA SELECT##############
$billingaddress = $order->getBillingAddress();

function load_prefix ($vorname) {
getDatabaseConnection("lieferanten");
$vorname = str_replace("-"," ",$vorname);
$vorname = str_replace("/"," ",$vorname);
$aVornamen = explode(" ",strtolower($vorname));
$sql="select * from prefix where lower(vornamen) like '".$aVornamen['0']."' limit 1";


$query= mysql_query($sql);
$anzahl = mysql_num_rows($query); 
if ( $anzahl =='1' ) { 
$row = mysql_fetch_object($query);
$prefix = $row->prefix;
 
}
//mysql_close($con);
if (!isset($prefix)) $prefix ='Herr'; 
 
return $prefix;

}

function getDatabaseConnection($database){
$con = mysql_connect("intranet.menzemedia.de","backend","backendpass");
if (!$con)
  {
  die('Could not connect: ' . mysql_error());
  }
 mysql_select_db($database, $con);
}





preg_match("/^([a-zäöüß\s\.-]+)\s([0-9]+\s?[a-z]?)$/i", $billingaddress->getData('street'), $wert);
if ( isset($wert[1])) {
$strasse = $wert[1];
$hausnummer = $wert[2] ;
} else { 
$strasse = $billingaddress->getData('street');
$hausnummer = '-';
}

$geburtsdatum = $order->getCustomerDob().' GMT';


/*
echo "Prefix: ".load_prefix($billingaddress->getData('firstname'))." <br>";
echo "Vorname: ".$billingaddress->getData('firstname')." <br>";
echo "Nachname: ".$billingaddress->getData('lastname')." <br>";
echo "Strasse: ".$strasse."<br>";
echo "Hausnummer: ".$hausnummer."<br>";
echo "PLZ: ".$billingaddress->getData('postcode')."<br>";
echo "Land: ".$billingaddress->getData('country_id')."<br>";
echo "Ort: ".$billingaddress->getData('city')."<br>";
echo "email: ".$order->getCustomerEmail()."<br>";
echo "telefon: ".$billingaddress->getData('telephone')."<br>";
echo "gebJahr: ".date('Y',strtotime($geburtsdatum))."<br>";
echo "gebTag : ".date('m.d',strtotime($geburtsdatum))."<br>";
*/

$prefix=load_prefix($billingaddress->getData('firstname'));
$firstname=$billingaddress->getData('firstname');
$lastname=$billingaddress->getData('lastname');
$strasse=$strasse;
$hausnummer= $hausnummer;
$plz=$billingaddress->getData('postcode');
$land=$billingaddress->getData('country_id');
$ort=$billingaddress->getData('city');
$telefon=$billingaddress->getData('telephone');

$gebJahr=date('Y',strtotime($geburtsdatum));
$gebTag=date('d.m',strtotime($geburtsdatum));


if ( $gebJahr > '2005' ) { 
$gebJahr='';
$gebTag='';

}


########### Thakura Select ende 

//-------------------------------------------
// START ADWORDS CONVERSION VALUE TRACKING CODE
//-------------------------------------------
$order_details = Mage::getModel('sales/order')->loadByIncrementId(Mage::getSingleton('checkout/session')->getLastRealOrderId());
$adwords_conversion_value = $order_details->subtotal;
$adwords_conversion_id  = '1071963285'; // !!!WICHTIG!!! Hier Ihre Conversion-ID eintragen
?>

<div style="position: absolute;">
<!-- Google Code for Purchase/Sale Conversion Page -->
<script language="JavaScript" type="text/javascript">
<!--
var google_conversion_id = "<?php echo $adwords_conversion_id; ?>";
var google_conversion_language = "de";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "purchase";
var google_conversion_value = "<?php echo $adwords_conversion_value; ?>";
-->
</script>
<script language="JavaScript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<img height="1" width="1" border="0" src="https://www.googleadservices.com/pagead/conversion/<?php echo $adwords_conversion_id;?>/?label=purchase&amp;guid=ON&amp;script=0"/>
</noscript>
</div>

<?php
//-------------------------------------------
// END ADWORDS CONVERSION VALUE TRACKING CODE
//-------------------------------------------
?>

<?php
//-------------------------------------------
// facebook conversion code for DP Kauf
//-------------------------------------------
?>
<!--facebook-tracker-code -->
<script>(function() {
var _fbq = window._fbq || (window._fbq = []);
if (!_fbq.loaded) {
var fbds = document.createElement('script');
fbds.async = true;
fbds.src = '//connect.facebook.net/en_US/fbds.js';
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(fbds, s);
_fbq.loaded = true;
}
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6024826086620', {'value':'<?php echo $adwords_conversion_value ?>','currency':'EUR'}]);
</script>
<!--facebook-tracker-code -->
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6024826086620&amp;cd[value]=<?php echo $adwords_conversion_value ?>&amp;cd[currency]=EUR&amp;noscript=1" /></noscript>

<?php
//BING
?>
<script type="text/javascript">
if (!window.mstag) mstag = {loadTag : function(){},time : (new Date()).getTime()};
</script>
<script id="mstag_tops" type="text/javascript" src="//flex.msn.com/mstag/site/6875ee02-7a1d-4892-a049-59fe70f56bc6/mstag.js">
</script>
<script type="text/javascript"> mstag.loadTag("analytics", {dedup:"1",domainId:"48000378",type:"1",revenue:"",actionid:"264420"})</script>
<noscript>
<iframe src="//flex.msn.com/mstag/tag/6875ee02-7a1d-4892-a049-59fe70f56bc6/analytics.html?dedup=1&domainId=48000378&type=1&revenue=&actionid=264420" frameborder="0" scrolling="no" width="1" height="1" style="visibility:hidden;display:none"> </iframe> </noscript>

<?php
//EBAY
?> 
<script type="text/javascript">

var _roi = _roi || [];



_roi.push(['_setMerchantId', '518,472']);
 
_roi.push(['_setOrderId', '<?php echo $orderId; ?>']);
 
_roi.push(['_setOrderAmount', '<?php echo $grandTotal; ?>']);

_roi.push(['_setOrderNotes', '']);

<?php  
	
	 foreach ($order->getAllItems() as $item)
	 {
            if ($item->getParentItemId())
            {
                continue;
            }
            

            $productId = $item->getProductId();
            $product = Mage::getModel('catalog/product')->load($productId);
            
            $price = $this->helper('tax')->getPrice($product, $product->getPrice());

            $category = $product->getCategoryCollection()->getFirstItem();
            while($category->getLevel() > 2)
            {
                $category = $category->getParentCategory();
            }
            $category_name = $category->getName();
			$category_ID = $category->getId();
   echo "_roi.push(['_addItem',";
   echo '"' . $item->getSku() . '",';
   echo '"' . $product->getName() . '",';
   echo '"' . $category_ID . '",';
   echo '"' . $category_name . '",';
   echo '"' . ($price) . '",';
   echo '"' . $item->getQtyOrdered() . '"';
   echo "]);"; 
   }
?>

_roi.push(['_trackTrans']);

</script>
<script type=“text/javascript” src=“https://stat.dealtime.com/ROI/ROI2.js”>
</script>
<?php
//-------------------------------------------
// Analytics Ecommerce Tracking
//-------------------------------------------
?>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38061545-1']);
  _gaq.push(['_trackPageview']);
  _gaq.push(['_addTrans',

  <?php 
  
        $address = $order->getBillingAddress();
   
        echo '"' . $order->getIncrementId() . '",';
        echo '"druckerpatronen.de",';
        echo '"' . $order->getBaseGrandTotal() . '",';
        echo '"' . $order->getBaseTaxAmount() . '",';
        echo '"' . $order->getBaseShippingAmount() . '",';
        echo '"' . utf8_encode($address->getCity()) . '",';
        echo '"' . utf8_encode($address->getRegion()) . '",';
        echo '"' . utf8_encode($address->getCountry()) . '"';
		?>
  ]);

   // add item might be called for every item in the shopping cart
   // where your ecommerce engine loops through each item in the cart and
   // prints out _addItem for each
  
    
	<?php  
	
	 foreach ($order->getAllItems() as $item) {
            if ($item->getParentItemId()) {
                continue;
            }
            
            //$product = $item->getProduct();

            $productId = $item->getProductId();
            $product = Mage::getModel('catalog/product')->load($productId);
            
            //$price = $item->getBasePrice();
            $price = $this->helper('tax')->getPrice($product, $product->getPrice());

            $category = $product->getCategoryCollection()->getFirstItem();
            while($category->getLevel() > 2) {
                $category = $category->getParentCategory();
            }
            //$category_name = $item->getCategory();
            $category_name = $category->getName();
   echo "_gaq.push(['_addItem',	";
   echo '"' . $order->getIncrementId() . '",';
   echo '"' . $item->getSku() . '",';
   echo '"' . utf8_encode($item->getName()) . '",';
   echo '"' . $category_name . '",';
   echo '"' . $price . '",';
   echo '"' . $item->getQtyOrdered() . '"';
   echo "  ]);"; 
   }
   ?>
  _gaq.push(['_trackTrans']); //submits transaction to the Analytics servers

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<div class="block-box" style="margin-bottom: 0;">
    <h1 class="block-box-title">Vielen Dank für Ihre Bestellung</h1>
    <div class="block-box-content">
        <p><strong><?php echo $this->__('Ihre Bestellnummer lautet: <a target="_blank" href="%s">%s</a>', $this->getViewOrderUrl(), $this->getOrderId()) ?></strong></p>
        <p>Sie erhalten in kürze eine Bestellbestätigung per E-Mail.</p>
        <?php if ($this->canPrint()) :?>
        <p><?php echo $this->__('Klicken Sie <a target="_blank" href="%s">hier</a>, um Ihre Bestellbest&auml;tigung zu drucken.', $this->getPrintUrl()) ?></p>
        <?php endif;?>
		

		
<!-- START Google Zertifizierte Händler Order -->
<div id="gts-order" style="display:none;" translate="no">
	
	<!-- start order and merchant information -->
	<span id="gts-o-id"><?=$this->getOrderId()?></span>
	<span id="gts-o-domain">www.druckerpatronen.de</span>
	<span id="gts-o-email"><?=$email?></span>
	<span id="gts-o-country"><?=$land?></span>
	<span id="gts-o-currency"><?=$order->getOrderCurrencyCode()?></span>
	<span id="gts-o-total"><?=round($grandTotal,2)?></span>
	<span id="gts-o-discounts"><?=round($orderDetails['base_discount_amount'],2)?></span>
	<span id="gts-o-shipping-total"><?=round($order->getShippingAmount()*1.19,2)?></span>
	<span id="gts-o-tax-total">19</span>
	<span id="gts-o-est-ship-date"><?php
		if(date("H", time()) < 14) {
			echo date("Y.m.d",(time()+86400));
		} else {
			echo date("Y.m.d",(time()+172800));
		} ?></span>
	<span id="gts-o-est-delivery-date"><?php
		if(date("H", time()) < 14) {
			echo date("Y.m.d",(time()+259200));
		} else {
			echo date("Y.m.d",(time()+345600));
		} ?></span>
	<span id="gts-o-has-preorder">N</span>
	<span id="gts-o-has-digital">N</span>
	<!-- end order and merchant information -->
	<!-- start repeated item specific information -->
	
		<?php foreach($orderItems as $sItem) { ?>


		<span class="gts-item">
			<span class="gts-i-name"><?=$sItem->getName()?></span>
			<span class="gts-i-price"><?=round($sItem->getPrice(),2)?></span>
			<span class="gts-i-prodsearch-id"><?=$sItem->getSku()?></span>
			<span class="gts-i-prodsearch-store-id">6380389</span>
			<span class="gts-i-quantity"><?=round($sItem->getQtyOrdered())?></span>
			<span class="gts-i-prodsearch-country">DE</span>
			<span class="gts-i-prodsearch-language">de</span>
		</span>

		
		<?php } ?>
	<!-- end repeated item specific information -->
		
	
	
</div>
<!-- END Google Zertifizierte Händler Order -->
		
		
		<div id="tharuka" style="width: 570px;">
			<iframe style="border:0" src="https://www.tharuka.de/api/495/tharuka.html?anrede=<?php echo $prefix ?>&plz=<?php echo $plz; ?>&gebJahr=<?php echo $gebJahr; ?>&land=<?php echo $land; ?>&gutscheincode=#anrede=<?php echo $prefix ?>&vorname=<?php echo $firstname; ?>&name=<?php echo $lastname; ?>&strasse=<?php echo $strasse; ?>&hausnummer=<?php echo $hausnummer; ?>&ort=<?php echo $ort; ?>&plz=<?php echo $plz; ?>&tel=<?php echo $telefon; ?>&email=<?php echo $email; ?>&gebTag=<?php echo $gebTag; ?>" width="570" height="1500" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>		
		</div>
       
        <p>Hat Ihnen unser Shop gefallen, dann bewerten Sie uns bitte bei Trusted Shops und werden Sie Fan auf unserer Facebook-Seite. Als Belohnung bekommen Sie einen kostenlosen 5% Gutschein für Ihre nächste Bestellung.</p>
    </div>
</div>
<div class="block-actions">
    <div class="block-actions-title"></div>
    <div class="block-actions-trusted">
        <p class="block-actions-trusted-info">Als zusätzlichen Service bieten wir Ihnen den Trusted Shops Käuferschutz an. Wir übernehmen alle Kosten, Sie müssen sich lediglich anmelden.</p>

        <form class="block-actions-trusted-links" id="formTShops" name="formTShops" method="post" action="https://www.trustedshops.com/shop/protection.php" target="_blank">
            <input name="_charset_" type="hidden" value="">
            <input name="shop_id" type="hidden" value="X9B616552B35F3AAE4E92C7FF9DD83756">
            <input name="email" type="hidden" value="<?php echo $email ?>">
            <input name="amount" type="hidden" value="<?php echo $grandTotal ?>">
            <input name="curr" type="hidden" value="<?php echo $currencyCode ?>">
            <input name="payment" type="hidden" value="">
            <input name="KDNR" type="hidden" value="<?php echo $customerId ?>">
            <input name="ORDERNR" type="hidden" value="<?php echo $orderId ?>">
            &rsaquo; <a href="#" onclick="document.formTShops.submit();">Anmeldung zum Trusted Shops K&auml;uferschutz</a><br />
            &rsaquo; <a href="https://www.trustedshops.de/bewertung/bewerten_X9B616552B35F3AAE4E92C7FF9DD83756.html" target="_blank">Bewerten Sie uns bei Trusted Shops</a>
        </form>

    </div>
    <a href="http://www.facebook.com/Druckerpatronen.de/app_227560917375788" target="_blank" class="block-actions-facebook"></a>
</div>
<?php if ($subtotal > 0): ?>
<?php endif ?> 

