<div class="block-box-right-facebook" >
     <h1 class="block-box-right-facebook-title">
         Fan werden, Vorteile sichern!
     </h1>
     <div class="block-box-right-facebook-content">
        <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FDruckerpatronen.de&amp;width=292&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false&amp;appId=113179685475129" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:292px;height:258px;" allowTransparency="true"></iframe>
     </div>
</div>
