<!--@subject Willkommen, {{var customer.name}}! @-->

<style type="text/css">
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
	a { color:#1E7EC8; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
            	<!-- [ header starts here] -->
            	<table cellspacing="0" cellpadding="0" border="0" width="650" style="margin-bottom: 15px;">
            		<tr>
                		<td valign="top">
                    		<a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area=''frontend''}}" alt="{{block type="symmetrics_impressum/impressum" value="shopname"}}" border="0"/></a>
                		</td>
            		</tr>
            	</table>
            	<!-- [ middle starts here] -->
            	<table cellspacing="0" cellpadding="0" border="0" width="650">
            		<tr>
                		<td align="left" valign="top">
							<p><strong>Hallo {{htmlescape var=$customer.name}}</strong>,</p>
							<p>herzlich willkommen in unserem Shop!</p>
							<p>Um sich bei Ihrem nächsten Besuch in unserem Shop einzuloggen, klicken Sie einfach auf <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Login</a> oder <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Mein Kundenkonto</a> im oberen Bereich jeder Seite, und geben Sie Ihre E-Mail-Adresse und Passwort ein.</p>
							<p style="border:1px solid #BEBCB7; padding:13px 18px; background:#F8F7F5; ">
							    Mit folgenden Zugangsdaten können Sie sich anmelden:<br/>
							    E-Mail: {{var customer.email}}<br/>
							    Passwort: {{htmlescape var=$customer.password}}
							</p>
							<p>Nach erfolgreichem Login auf unserer Seite haben Sie die folgenden Möglichkeiten:</p>
							<ul>
							    <li>Schnellerer Bezahlvorgang beim nächsten Einkauf</li>
							    <li>Alle laufenden Bestellungen im Auge behalten</li>
							    <li>Verlauf der vergangenen Bestellungen</li>
							    <li>Verwalten der Kundenkonto-Einstellungen</li>
							    <li>Ihr Passwort ändern</li>
							    <li>Verschiedene Adressen für den Versand an Familienmitglieder und Freunde sowie Rechnungsadressen speichern</li>
							</ul>
							<p>Sollten Sie Fragen zu Ihrem Kundenkonto oder andere Anfragen haben, senden Sie uns eine E-Mail an <a href="mailto:{{block type="symmetrics_impressum/impressum" value="email"}}" style="color:#1E7EC8;">{{block type="symmetrics_impressum/impressum" value="email"}}</a></p>
						</td>
					</tr>
					<tr>
						<td align="left" style="padding-top: 15px;">
							{{block type="symmetrics_impressum/impressum" value="emailfooter"}}
						</td>
					</tr>
                    <tr>
                       <td style="border-bottom:2px solid #eee;">
                           &nbsp;
                       </td>
                    </tr>
					<tr>
						<td align="left" style="font:9px/1em Verdana, Arial, Helvetica, sans-serif;">
		                    {{block type="cms/block" block_id="sym_agb"}}
		                </td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>
