<!--@subject Newsletter Anmeldung Bestätigung @-->

<style type="text/css">
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
	a { color:#1E7EC8; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
            	<!-- [ header starts here] -->
            	<table cellspacing="0" cellpadding="0" border="0" width="650" style="margin-bottom: 15px;">
            		<tr>
                		<td valign="top">
                    		<a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area=''frontend''}}" alt="{{block type="symmetrics_impressum/impressum" value="shopname"}}" border="0"/></a>
                		</td>
            		</tr>
            	</table>
            	<!-- [ middle starts here] -->
            	<table cellspacing="0" cellpadding="0" border="0" width="650">
            		<tr>
                		<td valign="top">
                            <p><strong>Hallo</strong>,</p>
                            <p>vielen Dank, dass Sie sich als Abonnent unseres kostenlosen Newsletters angemeldet haben.</p>
                            <p style="border:1px solid #BEBCB7; padding:13px 18px; background:#F8F7F5; ">Um Sie in den Versandverteiler aufnehmen zu können, müssen Sie einmalig Ihre Anmeldung bestätigen. Klicken Sie dazu bitte auf den folgenden Link:<br />
                            <a href="{{var subscriber.getConfirmationLink()}}" style="color:#1E7EC8;">{{var subscriber.getConfirmationLink()}}</a></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{block type="symmetrics_impressum/impressum" value="emailfooter"}}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
