<!--@subject {{var sender_name}} möchte Ihnen etwas zeigen @-->

<style type="text/css">
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
	a { color:#1E7EC8; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
            	<!-- [ header starts here] -->
            	<table cellspacing="0" cellpadding="0" border="0" width="650" style="margin-bottom: 15px;">
            		<tr>
                		<td valign="top">
                    		<a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area=''frontend''}}" alt="{{block type="symmetrics_impressum/impressum" value="shopname"}}" border="0"/></a>
                		</td>
            		</tr>
            	</table>
            	<!-- [ middle starts here] -->
            	<table cellspacing="0" cellpadding="0" border="0" width="650">
            		<tr>
                		<td align="left" valign="top">
							<p>Hallo {{htmlescape var=$name}},</p>
							<p>{{var sender_name}} möchte Ihnen folgendes Produkt zeigen:</p>
							<p><a href="{{var product_url}}">{{var product_name}}</a></p>
							<p>{{var message}}</p>
						</td>
					</tr>
					<tr>
						<td align="left" style="padding-top: 15px;">
							{{block type="symmetrics_impressum/impressum" value="emailfooter"}}
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>
