<!--@subject Schauen Sie sich {{var customer.firstname}} {{var customer.lastname}}'s Wunschzettel an @-->

<style type="text/css">
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
	a { color:#1E7EC8; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
            	<!-- [ header starts here] -->
            	<table cellspacing="0" cellpadding="0" border="0" width="650" style="margin-bottom: 15px;">
            		<tr>
                		<td valign="top">
                    		<a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area=''frontend''}}" alt="{{block type="symmetrics_impressum/impressum" value="shopname"}}" border="0"/></a>
                		</td>
            		</tr>
            	</table>
            	<!-- [ middle starts here] -->
            	<table cellspacing="0" cellpadding="0" border="0" width="650">
            		<tr>
                		<td align="left" valign="top">
                    		<p>Hallo,</p>
							<p>hier gibt es meinen Wunschzettel!</p>
                    		<p>{{var message}}</p>
							<p><strong><a href="{{var viewOnSiteLink}}" style="color:#1E7EC8;">Zum Wunschzettel</a></strong></p>
                    		<p>{{var items}}</p>
                    		{{depend salable}}<p><strong><a href="{{var addAllLink}}" style="color:#DC6809;">Alle Artikel in den Warenkorb legen</a></strong></p>{{/depend}}
                    		<p>Danke,</p>
							<p><strong>{{var customer.firstname}} {{var customer.lastname}}</strong></p>
                		</td>
            		</tr>
					<tr>
						<td align="left" style="padding-top: 15px;">
							{{block type="symmetrics_impressum/impressum" value="emailfooter"}}
						</td>
					</tr>
            	</table>
            </td>
        </tr>
    </table>
</div>
