<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script type="text/javascript" src="<?php echo $this->getJsUrl()?>ext-3.0-rc1.1/adapter/ext/ext-base.js"></script>
<script 	type="text/javascript" src="<?php echo $this->getJsUrl()?>ext-3.0-rc1.1/ext-all-debug.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo $this->getJsUrl()?>ext-3.0-rc1.1/resources/css/ext-all.css" />
<link rel="stylesheet" type="text/css" href="<?php echo $this->getJsUrl()?>ext-3.0-rc1.1/resources/css/xtheme-darkgray.css" />

<div class="content-header">
    <table cellspacing="0">
        <tr>
            <td><h3><?php echo $this->__('Attribute verwalten') ?></h3></td>
        </tr>
    </table>
</div>
<script language="javascript" type="text/javascript">

Event.observe(document,'dom:loaded',function (){
	formGrid(<?php echo $this->getFunctionsJson()?>);
});

function showResult(btn){
	if (btn=='yes'){
		grid.getStore().remove(sel);
		$('loading-mask').show();
		window.location.href=  '<?php echo $this->getUrl("*/*/delete")."?id="?>'+sel.data.column3;
	}
}

function formGrid(functions){
	Ext.BLANK_IMAGE_URL = '<?php echo $this->getJsUrl()?>ext-3.0-rc1.1/resources/images/default/s.gif';

	var fields = [
	   {name: 'name', mapping : 'function_description'},
	   {name: 'column1', mapping : 'function_name'},
	   {name: 'column2', mapping : 'function_param1'},
	   {name: 'column3', mapping: 'function_id'}
	];
	

    var gridStore = new Ext.data.JsonStore({
        fields : fields,
		data   : functions,
		root   : 'records'
    });
	


	var cols = [
		{ id : 'name', header: "Name", width: 100, sortable: true, dataIndex: 'name'},
		{header: "Funktion", width: 100, sortable: true, dataIndex: 'column1', hidden:true},
		{header: "Attribut", width: 100, sortable: true, dataIndex: 'column2'},
		{header: "Key", width: 100, sortable: true, dataIndex: 'column3', hidden:true}
	];
    

     grid = new Ext.grid.GridPanel({
		ddGroup          : 'gridDDGroup',
        store            : gridStore,
        columns          : cols,
		enableDragDrop   : true,
        stripeRows       : true,
        autoExpandColumn : 'name',
        width            : 325,
		region           : 'center',
        title            : 'Funktionen',
		selModel         : new Ext.grid.RowSelectionModel({singleSelect : true})
    });


var textField1 = new Ext.form.TextField({
		fieldLabel : 'Name',
		name       : 'name',
		id : 'name'
	});
	
	
	
var textField3 = new Ext.form.TextField({
		fieldLabel : 'Attribut',
		name       : 'column2',
		id: 'attr'
	});	

var textField4 = new Ext.form.TextField({
		fieldLabel : 'Key',
		name       : 'column3',
		id: 'key',
		disabled:true
		
});
	
var formPanel = new Ext.form.FormPanel({
		region : 'east',
		title      : 'Attribut',
		bodyStyle  : 'padding: 10px; background-color: #000000;display:block;',      //;display: table',
		labelWidth : 100,
		width      : 325,
		items      : [
			textField1,
			textField3,
			textField4
		]
	});
	
	var displayPanel = new Ext.Panel({
		width    : 650,
		height   : 300,
		layout   : 'border',
		renderTo : 'functiongrid',
		items    : [
			grid,
			formPanel
		],
		bbar    : [
			
			{
				text    : 'Funktion Löschen',
				handler : function() {
	
				sm = grid.getSelectionModel();
				sel = sm.selections.itemAt(0);
				if ( sel.data.column1 !='getAttribute'){
					Ext.Msg.show({msg: 'Nur Attributfunktionen  können  gelöscht werden!'});
				}else {

					if (sm.hasSelection()){
						Ext.MessageBox.confirm('Bestätigen', 'Sind Sie sicher?', showResult);
						}
				}
			}},
			{ xtype:'tbseparator'},
			'->', // Fill 
			{
				text    : 'Formular Reset',
				handler : function() {
					gridStore.loadData(functions);
					formPanel.getForm().reset();
				}
			},
			{ xtype:'tbseparator'},
			{
				text    : 'Speichern',
				handler : function() {
				if (Ext.get("name").getValue()==""){
					
					Ext.Msg.show({msg: 'Kein Name für den Datensatz angegeben'});
				}
				else if (Ext.get("attr").getValue()==""){
					
					Ext.Msg.show({msg: 'Kein Attribut für den Datensatz angegeben'});
					}
				else{
					$('loading-mask').show();
					window.location.href='<?php echo $this->getUrl("*/*/save")."?name="?>'+Ext.get("name").getValue()+'&func=getAttribute'+'&attr='+Ext.get("attr").getValue()+'&id='+Ext.get("key").getValue();
				}}}
		
		]
	});
	

	// used to add records to the destination stores
	var blankRecord =  Ext.data.Record.create(fields);

	/****
	* Setup Drop Targets
	***/
	
	// This will make sure we only drop to the view container
	var formPanelDropTargetEl =  formPanel.body.dom;
	
	var formPanelDropTarget = new Ext.dd.DropTarget(formPanelDropTargetEl, {
		ddGroup     : 'gridDDGroup',
		notifyEnter : function(ddSource, e, data) {
			//Add some flare to invite drop.
			formPanel.body.stopFx();
			formPanel.body.highlight();
		},
		notifyDrop  : function(ddSource, e, data){
			
			// Reference the record (single selection) for readability
			var selectedRecord = ddSource.dragData.selections[0];						
			
			
			// Load the record into the form
			if (selectedRecord.data.column1 == 'getAttribute'){
			formPanel.getForm().loadRecord(selectedRecord);	
			}
			
			return(true);
		}
	});
}
</script>


<div id='functiongrid'></div>
<br>
<br>
<a href="http://www.psmext.de"><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'psmext/images/logo.jpg' ?>"></img></a>
