<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script
	type="text/javascript"
	src="<?php echo $this->getJsUrl()?>ext-3.0-rc1.1/adapter/ext/ext-base.js"></script>
<script
	type="text/javascript"
	src="<?php echo $this->getJsUrl()?>ext-3.0-rc1.1/ext-all-debug.js"></script>
<link
	rel="stylesheet" type="text/css"
	href="<?php echo $this->getJsUrl()?>ext-3.0-rc1.1/resources/css/ext-all.css" />
<link
	rel="stylesheet" type="text/css"
	href="<?php echo $this->getJsUrl()?>ext-3.0-rc1.1/resources/css/xtheme-darkgray.css" />

<div class="content-header">
<table cellspacing="0">
	<tr>
		<td>
		<h3><?php echo $this->__('Dateien erzeugen') ?></h3>
		</td>
	</tr>
</table>
</div>

<script language="javascript" type="text/javascript">

Event.observe(document,'dom:loaded',function (){
	buildMyTree2(<?php echo $this->getTreeData()?>);
});

function showResult(btn){
    if (btn=='yes'){
    	node.remove();
		  window.location.href= '<?php echo $this->getUrl("*/*/remove")."?param="?>'+node.text;
    }
};


function writeChunk(searchengine, counterstat, storeId){
	Ext.Ajax.request({
		 
		   url: '<?php echo $this->getUrl("*/*/write")."?param="?>'+searchengine+"&counterstat="+counterstat+"&storeId="+storeId,
		   method:'GET',
		   success: received,
		   failure: function (result, request){ 
				alert("ERROR!");
	            window.location.href= '<?php echo $this->getUrl("*/*/overview")?>';
			},
		   headers: {
		       'my-header': 'psmext'
		   }		   
		});
}

function received(response){

	//var ext_counter = document.getElementById('ext-counter');
	params = response.responseText.split("&",2);
	$('ext-counter').update(params[1]+" von "+params[0]+" geschrieben");
	if (params[1] != params[0]){
	writeChunk( searchengine,params[1],selected_id );
	}
	else{
		 window.location.href='<?php echo $this->getUrl("*/*/copy")."?param="?>'+searchengine+"&storeId="+selected_id;
	}
}


function buildMyTree2(json){
	selected=false;
	Ext.BLANK_IMAGE_URL = '<?php echo $this->getJsUrl()?>ext-3.0-rc1.1/resources/images/default/s.gif';
	counter="";
	var tree = new Ext.tree.TreePanel({
	    el: 'tree',
	    useArrows: true,
	    autoScroll: true,
	    width    : 650,
	    tbar: [
	           {xtype: 'tbbutton',
	        	   text: 'Neue Suchmaschine', handler: function() {$('loading-mask').show(); window.location.href='<?php echo $this->getUrl("*/*/index")?>';}},
	        		{ xtype:'tbseparator'},{ xtype: 'tbfill'},{ xtype:'tbseparator'},
	        	   new Ext.form.ComboBox({
		        	   id: 'store_combo',
                       store: new Ext.data.SimpleStore({
                       fields: ['id', 'name'],
                       data: 
		  			<?php echo Zend_Json::encode(Mage::helper('psmext')->getShopOptions());?>
                      }),
      	           mode: 'local',  
		      	    listeners:{select:{fn:function(field, value) {
			      	  	 selected_name = value.data.name; 
		      	  		 selected_id = value.data.id;
		      	  		 selected=true;
                        }}},
                        emptyText: 'Store auswählen..',
                        editable: false,
        				allowBlank:false,
      	           displayField:'name',
      	           valueField:'id',
      	           typeAhead: 'false',
	               triggerAction: 'all'
  	  })
        	   ],
	    bbar: [	{xtype: 'tbtext', text: counter, id: 'ext-counter'},
	   	    	{ xtype: 'tbfill'},
	           	{text: 'Suchmaschine entfernen',
			handler: function() {
				node = tree.getSelectionModel().getSelectedNode();
				if (node != null && node.text !='Suchmaschinen' ){
				Ext.MessageBox.confirm('Bestätigen', 'Wollen Sie das wirklich tun?', showResult);
				}else {
					Ext.Msg.show({msg: 'Keine Preissuchmaschine ausgewählt!'});
					}
				
			}},
	           	{ xtype:'tbseparator'},
	       	           {xtype: 'tbbutton',
	       	        	text: 'Datei erzeugen',
	       	        	handler: function() {
	       			    node = tree.getSelectionModel().getSelectedNode();
	       				if (node != null && node.text !='Suchmaschinen' && node.leaf != true && selected != false  ){
							searchengine=node.text;
							Ext.Ajax.request({
								 
								   url: '<?php echo $this->getUrl("*/*/deltempfile")."?param="?>'+searchengine+"&storeId="+selected_id,
								   method:'GET',
								   success: function received(){
									   writeChunk(node.text, 'undefined',selected_id);
										$('loading-mask').show();
									   },
								   failure: function (result, request){ 
										   Ext.Msg.show({msg: 'Konnte Tempdatei in /media/psmext_temp/ nicht löschen!'});
									},
								   headers: {
								       'my-header': 'psmext'
								   }		   
								});
							
							
		       			}
						else if (node == null || node.text =='Suchmaschinen'){ Ext.Msg.show({msg: 'Keine Preissuchmaschine ausgewählt!'});
	       	           }
						else if (selected == false){ Ext.Msg.show({msg: 'Keine Preissuchmaschine ausgewählt!'});
		       	           }
						else if (node.leaf == true){ Ext.Msg.show({msg: 'Keine Preissuchmaschine ausgewählt!'});
		       	           }
		      	           }}
	       	        	   ],
	    animate: true,
	    enableDD: true,
	    containerScroll: true,
	    border: true,
	    remove: function() {
			alert('removed');
			
		},
	    // auto create TreeLoader
	    loader: new Ext.tree.TreeLoader(), 
	    root: new Ext.tree.AsyncTreeNode({
			text: 'Suchmaschinen',
            expanded: true,
            children: json
        })

	});

	// render the tree
	tree.render();
	tree.getRootNode().expand();


	
}
</script>


<div id='tree'></div>
<br>
<br>
<a href="http://www.psmext.de"><img
	src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'psmext/images/logo.jpg' ?>"></img></a>
