<div class="popupwrapper">
    <div class="popuphead">
        <img src="https://www.druckerpatronen.de/media/wysiwyg/logo.png"/>
    </div>
    <div class="main">

        <div class="row">
            <p class="first">Warte! Du kannst heute noch g&uuml;nstiger einkaufen</p>
        </div>
        <div class="row">
            <p>5% Gutschein* geschenkt?</p>
        </div>
        <div class="row rowheight">

            <div class="half first">
                <a href="<?php echo Mage::getBaseUrl(array('_secure' => true)); ?>discountlink/?code=<?php if($this->getData('code')!='XX88AM5P') { echo 'AB662MN5P'; } else { echo 'XX88AM5P'; } ?>&return=<?php echo Mage::helper('core/url')->getCurrentUrl(); ?>">
                    <img src="https://www.druckerpatronen.de/media/wysiwyg/ja-btn-5p.png"/>
                </a>
            </div>
            <div class="half">
                <a href="#" onclick="javascript:jQuery.fancybox.close();">
                    <img src="https://www.druckerpatronen.de/media/wysiwyg/nein-btn.png"/></a>
            </div>

        </div>
        <?php
        $untilDate = new DateTime('now');
        $untilDate->modify('+5 Days');
        ?>
        <div class="strapline">* G&uuml;ltig bis zum <?php echo $untilDate->format('d.m.Y'); ?>. Gilt f&uuml;r alle Produkte auf Druckerpatronen.de, ohne Mindestbestellwert. Nicht
            mit anderen Gutscheinen kombinierbar. Keine Barauszahlung oder nachtr&auml;gliche Anrechnung. Pro Haushalt und Bestellung nur ein Gutschein.</span></div>

    </div>
</div>   