<?php
/**
 * Admin Custom Shipping Rate
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to jeffk@industrialtechware.com so we can send you a copy immediately.
 *
 * @category   Indust
 * @package    Indust_CustomShippingRate
 * @author     Jeff Kieke <jeffk@industrialtechware.com>
 * @copyright  Copyright (c) 2011, Jeff Kieke
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?>
<?php if($_shippingRateGroups = $this->getShippingRates()): ?>
    <div id="order-shipping-method-choose" style="display:none">
    <dl class="shipment-methods">
    <?php foreach ($_shippingRateGroups as $code => $_rates): ?>
        <?php if ((Mage::helper('customshippingrate')->isEnabled()) && ($code == 'customshippingrate')): ?>
        <dt><strong><?php echo $this->getCarrierName($code) ?></strong></dt>
        <dd style="margin-top:1em">
            <ul>
            <?php foreach ($_rates as $_rate): ?>
                <?php $_code=$_rate->getCode() ?>
                <li>
                   <?php if ($_rate->getErrorMessage()): ?>
                        <ul class="messages">
                            <li class="error-msg"><?php echo $_rate->getErrorMessage() ?></li>
                        </ul>
                   <?php else: ?>
                        <label class="normal" for="s_method_<?php echo $_code ?>">
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;<strong><?php echo $this->__('Rate:'); ?></strong>&nbsp;&nbsp;<input id="custom-shipping-rate" type="text" style="width: 175px;" value="<?php if ($this->getCustomShippingPrice()): echo sprintf("%.2f", $this->getCustomShippingPrice()); endif; ?>" /></p>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;<strong><?php echo $this->__('Title:'); ?></strong>&nbsp;&nbsp;&nbsp;<input id="custom-shipping-title" type="text" style="width: 175px;" value="<?php echo $this->getCustomTitle() ?>" />&nbsp;&nbsp;<button id="custom-shipping-button" type="button" class="scalable " onclick="order.setCustomShippingValues(document.getElementById('custom-shipping-rate').value,document.getElementById('custom-shipping-title').value,'customshippingrate_customshippingrate');return false"><span><?php echo $this->__('Save'); ?></span></button></p>
                        </label>
                   <?php endif; ?>
                </li>
            <?php endforeach; ?>
            </ul>
            <ul class="messages">
                <li class="notice-msg"><?php echo $this->__('Note: This will override any other shipping method selected.'); ?></li>
            </ul>
            <script type="text/javascript">
                //<![CDATA[
                AdminOrder.addMethods({
                    setCustomShippingValues : function(amount, description, method){
                        var data = {};
                        data['order[shipping_method]'] = method;
                        data['order[shipping_amount]'] = amount;
                        data['order[base_shipping_amount]'] = amount;
                        data['order[shipping_description]'] = description;
                        this.loadArea(['shipping_method', 'totals', 'billing_method'], true, data);
                    },

                    submit : function()
                    {
                        if (this.orderItemChanged) {
                            if (confirm('You have item changes')) {
                                if (editForm.submit()) {
                                    disableElements('save');
                                }
                            } else {
                                this.itemsUpdate();
                            }
                        } else {
                            if (editForm.submit()) {
                                disableElements('save');
                            }
                        }
                    }
                });
                //]]>
            </script>
        </dd>
        <?php else: ?>
        <dt><strong><?php echo $this->getCarrierName($code) ?></strong></dt>
        <dd>
            <ul>
            <?php foreach ($_rates as $_rate): ?>
                <?php $_radioProperty = 'name="order[shipping_method]" type="radio" onclick="order.setShippingMethod(this.value)"' ?>
                <?php $_code=$_rate->getCode() ?>
                <li>
                   <?php if ($_rate->getErrorMessage()): ?>
                        <ul class="messages">
                            <li class="error-msg"><?php echo $_rate->getErrorMessage() ?></li>
                        </ul>
                   <?php else: ?>
                        <?php $_checked = $this->isMethodActive($_code) ? 'checked="checked"' : '' ?>
                        <input <?php echo $_radioProperty ?> value="<?php echo $_code ?>" id="s_method_<?php echo $_code ?>" <?php echo $_checked ?>/>
                        <label class="normal" for="s_method_<?php echo $_code ?>">
                            <?php echo $_rate->getMethodTitle() ? $_rate->getMethodTitle() : $_rate->getMethodDescription()?> -
                            <strong>
                                <?php $_excl = $this->getShippingPrice($_rate->getPrice(), $this->helper('tax')->displayShippingPriceIncludingTax()); ?>
                                <?php $_incl = $this->getShippingPrice($_rate->getPrice(), true); ?>

                                <?php echo $_excl; ?>
                                <?php if ($this->helper('tax')->displayShippingBothPrices() && $_incl != $_excl): ?>
                                    (<?php echo $this->__('Incl. Tax'); ?> <?php echo $_incl; ?>)
                                <?php endif; ?>
                            </strong>
                        </label>
                   <?php endif ?>
                </li>
            <?php endforeach; ?>
            </ul>
        </dd>
        <?php endif; ?>
    <?php endforeach; ?>
    </dl>
    </div>
    <?php if ($_rate = $this->getActiveMethodRate()): ?>
        <div id="order-shipping-method-info">
            <strong><?php echo $this->getCarrierName($_rate->getCarrier()) ?></strong><br/>
            <?php if ((Mage::helper('customshippingrate')->isEnabled()) && ($_rate->getCode() == 'customshippingrate_customshippingrate') && ($this->getCustomTitle())): ?>
                <?php if ($this->getCustomTitle()): echo $this->getCustomTitle(); endif; ?> -
            <?php else: ?>
                <?php echo $_rate->getMethodTitle() ? $_rate->getMethodTitle() : $_rate->getMethodDescription() ?> -
            <?php endif; ?>
            <strong>
                <?php if ((Mage::helper('customshippingrate')->isEnabled()) && ($_rate->getCode() == 'customshippingrate_customshippingrate') && ($this->getCustomShippingPrice())): ?>
                    <?php $_excl = $this->getShippingPrice($this->getCustomShippingPrice(), $this->helper('tax')->displayShippingPriceIncludingTax()); ?>
                    <?php $_incl = $this->getShippingPrice($this->getCustomShippingPrice(), true); ?>
                <?php else: ?>
                    <?php $_excl = $this->getShippingPrice($_rate->getPrice(), $this->helper('tax')->displayShippingPriceIncludingTax()); ?>
                    <?php $_incl = $this->getShippingPrice($_rate->getPrice(), true); ?>
                <?php endif; ?>
                <?php echo $_excl; ?>
                <?php if ($this->helper('tax')->displayShippingBothPrices() && $_incl != $_excl): ?>
                    (<?php echo $this->__('Incl. Tax'); ?> <?php echo $_incl; ?>)
                <?php endif; ?>
            </strong>
            <br/>
            <a href="#" onclick="$('order-shipping-method-info').hide();$('order-shipping-method-choose').show();return false">
                <?php echo Mage::helper('sales')->__('Click to change shipping method') ?>
            </a>
        </div>
    <?php else: ?>
        <script type="text/javascript">$('order-shipping-method-choose').show();</script>
    <?php endif; ?>
<?php elseif($this->getIsRateRequest()): ?>
    <strong><?php echo Mage::helper('sales')->__('Sorry, no quotes are available for this order at this time.') ?></strong>
<?php else: ?>
    <div id="order-shipping-method-summary">
        <a href="#" onclick="order.loadShippingRates();return false">
            <?php echo Mage::helper('sales')->__('Get shipping methods and rates') ?>
        </a>
        <input type="hidden" name="order[has_shipping]" value="" class="required-entry">
    </div>
<?php endif; ?>
<div style="display:none;" id="shipping-method-overlay" class="overlay"><span><?php echo $this->__('Shipping method selection is not applicable') ?></span></div>
<script type="text/javascript">
order.overlay('shipping-method-overlay', <?php if ($this->getQuote()->isVirtual()): ?>false<?php else: ?>true<?php endif; ?>);
order.overlay('address-shipping-overlay', <?php if ($this->getQuote()->isVirtual()): ?>false<?php else: ?>true<?php endif; ?>);
</script>