<!--@subject {{var order.getStoreGroupName()}}: Bestellung Nr. # {{var order.increment_id}} Ergänzung @-->

<style type="text/css">
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
	a { color:#1E7EC8; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
            	<!-- [ header starts here] -->
            	<table cellspacing="0" cellpadding="0" border="0" width="650" style="margin-bottom: 15px;">
            		<tr>
                		<td valign="top">
                    		<a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area=''frontend''}}" alt="{{block type="symmetrics_impressum/impressum" value="shopname"}}" border="0"/></a>
                		</td>
            		</tr>
            	</table>
            	<!-- [ middle starts here] -->
            	<table cellspacing="0" cellpadding="0" border="0" width="650">
            		<tr>
                		<td align="left" valign="top">
	                		<p><strong>Hallo {{htmlescape var=$order.getCustomerName()}}</strong>,</p>
	                		<p>Der aktuelle Status Ihrer Bestellung Nr. {{var order.increment_id}} lautet: <strong>{{var order.getStatusLabel()}}</strong>.</p>
	                		<p>Sie können ihn auch jederzeit <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">in Ihrem Kundenbereich</a> einsehen.</p>
	                		<p>{{var comment}}</p>
	                		<p>Sollten Sie Fragen haben, senden Sie uns eine E-Mail an <a href="mailto:{{block type="symmetrics_impressum/impressum" value="email"}}" style="color:#1E7EC8;">{{block type="symmetrics_impressum/impressum" value="email"}}</a>.</p>
	            		</td>
	        		</tr>
	        		<tr>
						<td align="left" style="padding-top: 15px;">
							{{block type="symmetrics_impressum/impressum" value="emailfooter"}}
						</td>
	        		</tr>
	        		<tr>
	        			<td style="border-bottom:2px solid #eee;">&nbsp;</td>
					</tr>
	        		<tr>
	            		<td align="left" style="font:9px/1em Verdana, Arial, Helvetica, sans-serif;">
	                		{{block type="cms/block" block_id="sym_agb"}}
	            		</td>
	        		</tr>
	        	</table>
        	</td>
		</tr>
	</table>
</div>
