<?php
/**
 * Magpleasure Ltd.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE-CE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.magpleasure.com/LICENSE-CE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * Magpleasure does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Magpleasure does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   Magpleasure
 * @package    Magpleasure_Common
 * @version    0.6.12
 * @copyright  Copyright (c) 2012-2013 Magpleasure Ltd. (http://www.magpleasure.com)
 * @license    http://www.magpleasure.com/LICENSE-CE.txt
 */
?>
<?php /** @var $this Magpleasure_Common_Block_Adminhtml_Widget_Treeview_Root */ ?>

<div class="columns ">
    <div id="page:left" class="side-col">
        <div class="categories-side-col">
            <div class="content-header">
                <h3 class="icon-head head-categories"></h3>
                <?php echo $this->getTreeHtml(); ?>
            </div>
        </div>
    </div>
    <div id="content" class="main-col">
        <div class="main-col-inner">
            <?php echo $this->getContainerHtml(); ?>
        </div>
    </div>
</div>