.PrinterChooseBoxLogo_ID {
	border: none;
	position: absolute;
	bottom: 10px;
	right: 10px;
}
.PrinterChooseBox_ID {
	position: relative;
}
#Step1_ID{
	vertical-align: middle;
	margin: 0 5px 0 0px;
}
#Step2_ID {
	vertical-align: middle;
	margin: 0 5px 0 0px;
}
.PrinterChooseBox_ID,
.PrinterChooseBox_ID select {
}
.SelectionBox_ID {
	margin: 30px 0 0 7px;
	padding: 20px 0 20px 0;
}
.PrinterSelection_ID,
.ManufacturerSelection_ID {
			font-size: 11px;
	width: 110px;
}
.PrinterChooseBox_ID legend {
}
.LayoutSeperator_ID {
	margin:	0 0 30px 0;
}
.Title_ID {
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
	margin: 20px 0 0 0;
}
.Subtitle_ID {
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	margin: 40px 0 0 0;
}