.PrinterChooseBoxLogo_ID {
	border: none;
	position: static;
}
.LogoContainer_ID {
	text-align: center;
}
.PrinterChooseBox_ID {
	position: relative;
}
#Step1_ID,
#Step2_ID {
	vertical-align: middle;
	margin: 0 10px 0 30px;
}
.PrinterChooseBox_ID,
.PrinterChooseBox_ID select {
}
.SelectionBox_ID {
	margin: 25px 0 0 0;
	padding: 0 0 20px 0;
}
.PrinterSelection_ID,
.ManufacturerSelection_ID {
	width: 156px;
	font-size: 14px;
}
.PrinterChooseBox_ID legend {
}
.LayoutSeperator_ID {
	margin:	0 0 10px 0;
}
.Title_ID {
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	line-height: 26px;
	margin: 20px 0 0 0;
}
