.PrinterChooseBoxLogo_ID {
	border: none;
	position: absolute;
	bottom: 10px;
	right: 10px;
}
.PrinterChooseBox_ID {
	position: relative;
}
#Step1_ID,
#Step2_ID {
	vertical-align: middle;
	margin: 0 10px 0 20px;
}
.PrinterChooseBox_ID,
.PrinterChooseBox_ID select {
}
.SelectionBox_ID {
	margin: 20px 0 0 45px;
	padding: 20px 0 20px 0;
}
.PrinterSelection_ID,
.ManufacturerSelection_ID {
	width: 156px;
}
.PrinterChooseBox_ID legend {
}
.LayoutSeperator_ID {
	margin:	0 0 10px 0;
}
.Title_ID {
	text-align: center;
	font-size: 22px;
	line-height: 28px;
	width: 200px;
	font-weight: bold;
	margin: 20px 0 0 0;
}
.Subtitle_ID {
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	margin: 40px 0 0 0;
}