.PrinterChooseBoxLogo_ID {
	border: none;
	position: absolute;
	bottom: 5px;
	right: 5px;
}
.PrinterChooseBox_ID {
	position: relative;
}
#Step1_ID,
#Step2_ID {
	vertical-align: middle;
	margin: 0 10px 0 20px;
}
.PrinterChooseBox_ID,
.PrinterChooseBox_ID select {
}
.SelectionBox_ID {
	margin: 35px 0 30px 40px;
	padding: 0 0 0 0;
}
.PrinterSelection_ID,
.ManufacturerSelection_ID {
	width: 136px;
}
.PrinterChooseBox_ID legend {
}
.LayoutSeperator_ID {
	margin:	0 0 10px 0;
}
.Title_ID {
	font-size: 21px;
	font-weight: bold;
	margin: 30px 0 0 35px;
}
.Subtitle_ID {
	font-weight: bold;
	font-size: 20px;
	margin: 0 0 0 59px;
}