.PrinterChooseBoxLogo_ID {
	border: none;
	position: absolute;
	bottom: 5px;
	right: 5px;
}
.PrinterChooseBox_ID {
	position: relative;
}
#Step1_ID,
#Step2_ID {
	vertical-align: middle;
	margin: 0 10px 0 20px;
}
.PrinterChooseBox_ID,
.PrinterChooseBox_ID select {
}
.SelectionBox_ID {
	margin: 10px 0 0 80px;
	padding: 10px 0 20px 0;
}
.PrinterSelection_ID,
.ManufacturerSelection_ID {
	width: 136px;
}
.PrinterChooseBox_ID legend {
}
.LayoutSeperator_ID {
	margin:	0 0 10px 0;
}
.Title_ID {
	font-size: 24px;
	font-weight: bold;
	margin: 15px 0 0 99px;
}
.Subtitle_ID {
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	margin: 40px 0 0 0;
}