<div class="popupwrapper">
    <div class="popuphead">
        <img style="width:223px;height:43px;border-radius:8px;overflow:hidden;background:#fff;padding:3px 20px;" src="/skin/frontend/default/blank/images/media/header/header-logo.png"/>
    </div>
    <div class="main">

        <div class="row">
            <p class="first">Warte! Du kannst heute noch g&uuml;nstiger einkaufen</p>
        </div>
        <div class="row">
            <p>5% Gutschein* geschenkt?</p>
        </div>
        <div class="row rowheight">



			
				<div class="half first">
					<a style="text-decoration:none;" href="<?php echo Mage::getUrl("", array('_secure' => true)); ?>discountlink/?code=<?php if($this->getData('code')!='XX88AM5P') { echo 'AB662MN5P'; } else { echo 'XX88AM5P'; } ?>&return=<?php echo Mage::helper('core/url')->getCurrentUrl(); ?>&t=<?php echo time(); ?>">
						<div class="button22 col_magenta">
							<div class="font">Ja</div>
							<div class="sign">›</div>
							<div class="text">
								Klicken und 5% Rabatt werden automatisch an der Kasse abgezogen.
							</div>
						</div>
					</a>
				</div>
				
				 <div class="half">
					<a href="#" onclick="javascript:jQuery.fancybox.close();">
						<div class="button22">
							<div class="font">Nein</div>
							<div class="sign">›</div>
							<div class="text">
								Ich möchte nicht sparen.
							</div>
						</div>
					</a>
				</div>
				

            </div>



        <?php
        $untilDate = new DateTime('now');
        $untilDate->modify('+5 Days');
        ?>
		<div class="br"></div>
        <div class="strapline">* G&uuml;ltig bis zum <?php echo $untilDate->format('d.m.Y'); ?>. Gilt f&uuml;r alle Produkte auf Druckerpatronen.de, ohne Mindestbestellwert. Nicht mit
            anderen Gutscheinen kombinierbar. Keine Barauszahlung oder nachtr&auml;gliche Anrechnung. Pro Haushalt und Bestellung nur ein Gutschein..</span></div>

    </div>
</div>