<?php
/**
 * Magpleasure Ltd.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE-CE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.magpleasure.com/LICENSE-CE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * Magpleasure does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Magpleasure does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   Magpleasure
 * @package    Magpleasure_Adminlogger
 * @version    1.0.2
 * @copyright  Copyright (c) 2012-2013 Magpleasure Ltd. (http://www.magpleasure.com)
 * @license    http://www.magpleasure.com/LICENSE-CE.txt
 */
?>
<div class="mp-al-summary">
    <ul>
        <li><strong><?php echo $this->__("Section: "); ?></strong><?php echo $this->getSectionName(); ?></li>
    </ul>
</div>
<?php if (count($this->getSectionDetails())): ?>
<table class="data">
    <thead>
        <tr class="headings">
            <th><span class="nobr"><?php echo $this->__('Config Path') ?></span></th>
            <th><span class="nobr"><?php echo $this->__('From') ?></span></th>
            <th><span class="nobr"><?php echo $this->__('To') ?></span></th>
        </tr>
    </thead>
    <tbody>
        <?php foreach($this->getSectionDetails() as $detail): ?>
        <?php $htmlEscape = !$detail->getDiffRequired(); ?>
        <tr>
            <td><span><?php echo $this->escapeHtml($detail->getAttributeCode()); ?></span></td>
            <td><span><?php echo $htmlEscape ? $this->escapeHtml($detail->getFrom()) : $detail->getFrom(true); ?></span></td>
            <td><span><?php echo $htmlEscape ? $this->escapeHtml($detail->getTo()) : $detail->getTo(true); ?></span></td>
        </tr>
        <?php endforeach; ?>
    </tbody>
</table>
<?php endif; ?>