<ul>
    <li><a href="<?php echo $this->getUrl('bestellung') ?>">So bestellen Sie bei uns</a>.</li>
    <li>Hier finden Sie die <a href="<?php echo $this->getUrl('widerruf') ?>">Einzelheiten zu Ihrem Widerrufsrecht</a>.</li>
</ul>
