<div class="shipping-estimate box">
    <h4>Versandkosten Informationen</h4>
    <p><a href="<?php echo $this->getUrl('lieferung') ?>">Hier finden Sie Informationen zu den Versandkosten.</a></p>
</div>