<?php
$_helper = $this->helper('catalog/output');
$_product = $this->getProduct();
$cap_flag = 0;
$bechlem_artnr = $_product->getResource()->getAttribute('bechlem_artnr')->getFrontend()->getValue($_product);
$hersteller_produkt = $_product->getResource()->getAttribute('manufacturer')->getFrontend()->getValue($_product);
$produktart= $_product->getResource()->getAttribute('type2')->getFrontend()->getValue($_product);
if ( $this->helper('catalog/data')->getCategory() ) {
    $drucker= $this->helper('catalog/data')->getCategory();
    $druckername= $drucker->getName();
    $hersteller = $drucker->getParentCategory()->getName();

}

if ( !ISSET($hersteller)) $hersteller = ' ';
if ( !ISSET($druckername)) $druckername = ' ';

/*
$testname= $_helper->productAttribute($_product, $this->htmlEscape($_product->getName()), 'name');

if ( $_helper->productAttribute($_product, $this->htmlEscape($_product->getName()), 'name') == 'Druckerpatrone schwarz Doppelpack') {
    $headline = '<span id="product-name" style="font-size:12px">Druckerpatrone schwarz <span style="color:#E40479;"> Doppelpack (2 Stück)</span></span>';
    $packanzahl = 2;
} elseif ( ($_helper->productAttribute($_product, $this->htmlEscape($_product->getName()), 'name') == 'Toner schwarz Doppelpack') || ($_helper->productAttribute($_product, $this->htmlEscape($_product->getName()), 'name') == 'Toner Doppelpack')) {
    $headline = '<span id="product-name" style="font-size:12px">Toner schwarz <span style="color:#E40479;"> Doppelpack (2 Stück)</span></span>';
    $packanzahl = 2;
} elseif (preg_match('/SPAR-SET 4x/i', $testname )) {
    $headline = '<span id="product-name" style="font-size:12px">'.str_replace(" SPAR-SET 4x","",$testname ).'<span style="color:#E40479;"> SPAR-SET (4 Stück)</span></span>';
    $packanzahl = 4;
} elseif (preg_match('/SPAR-SET 5x/i', $testname )) {
    $headline ='<span id="product-name" style="font-size:12px">'.str_replace(" SPAR-SET 5x","",$testname ).'<span style="color:#E40479;"> SPAR-SET (5 Stück)</span></span>';
    $packanzahl = 5;
}  elseif (preg_match('/SPAR-SET 10x/i', $testname )) {
    $headline = '<span id="product-name" style="font-size:12px">'.str_replace(" SPAR-SET 10x","",$testname ).'<span style="color:#E40479;"> SPAR-SET (10 Stück)</span></span>';
    $packanzahl = 10;
} else { $headline = '<span id="product-name">'.$_helper->productAttribute($_product, $this->htmlEscape($_product->getName()),"name").' - '.$_product->getManufacturer().'</span>';

}
unset ($testname);
*/



if($_additional = $this->getAdditionalData()):

    foreach ($_additional as $_data):
        if ($_data['code'] == 'bechlem_partnr' && $_data['value'] !='' && strpos($_data['value'], 'Nein') === false && strpos($_data['value'], 'Keine Angabe') === false) {
            $bechlem_partnr = $_data['value'];
        }

        if ($_data['code'] == 'manufacturer' && isset($_data['value'])) {
            $manufacturer_code = str_replace(" ", "-", strtolower($_data['value']));
            $manufacturer_url = "<a style=\"color:#009EE0;\" target=\"_blank\" title=\"".$_data['value']."\" onclick=\"window.open(this.href, 'popupwindow', 'width=700,height=800,scrollbars=1,resizable=1,top=50,left=50'); return false;\" href=\"".$this->getUrl($manufacturer_code)."\">".$_data['value']."</a>";

        }

        if($_data['code'] == 'compatible' && isset($_data['value'])) {
            $kompatibels='1';
        }

        if($_data['code'] == 'sku' && isset($_data['value'])) {
            $sku=$_data['value'];
        }

        if($_data['code'] == 'capacity' ) {
            if ( $_data['value'] !='0' ) { $seiten= $_data['value'];}
        }

        if($_data['code'] == 'content' ) {
            if ( $_data['value'] !='0' && strpos($_data['value'], 'Nein') === false) {
                $zeichenkette = $_data['value'];
                $suchmuster = '/^ml/';
                preg_match($suchmuster, $zeichenkette, $treffer);
                if ( count($treffer) == '0' ) { $_data['value']= $_data['value'].' ml'; }
                $inhalt= $_data['value'];
            }
        }

        if($_data['code'] == 'color') {

            $mini_array=explode(" ",$_data['value']);
            $_data['value']= $mini_array['0'];
            // $farbe_url = "<img alt=\"\" src=\"".$this->getSkinUrl()."images/media/colors/".$_data['value']."_klein.png\" />";
			$_data['value']=str_replace('ü','ue',$_data['value']);
			$farbe_url = "<div class=\"small_icon_".$_data['value']."\" style=\"display:inline-block;margin:0px;\"></div>";
            $farbe_name = $_data['value'];

        }
    endforeach;

endif;




$zeilen[]  = $headline;
$zeilen[] = "<table>";

	

/*
$zeilen[]  = "<tr><td colspan='2'><h2 style=\"color:#009EE0;\">Beschreibung</h2></td><td></td></tr>";
*/
	if($hersteller=='Druckerpatrone' or $hersteller=='Toner') {
		
		if ( $hersteller_produkt =='Alternativ' ) {
				$zeilen[]  = "<tr><td>Hersteller:</td><td>".$manufacturer_url."</td></tr>";
			} else {
				$zeilen[]  = "<tr><td>Hersteller:</td><td>".$manufacturer_url."</td></tr>";
		}
		
	} else {
		
		if ( $hersteller_produkt =='Alternativ' ) {
				$zeilen[]  = "<tr><td>Hersteller:</td><td>".$manufacturer_url." kompatibel zu ".$hersteller."</td></tr>";
			} else {
				$zeilen[]  = "<tr><td>Hersteller:</td><td>".$manufacturer_url."</td></tr>";
			}
	}
	
if (isset($sku)) $zeilen[] = "<tr><td>Artikelnummer:</td><td>".$sku."</td>";
if (isset($bechlem_artnr)) { $zeilen[] = "<tr><td>Hersteller Art.Nr.:</td><td>".$bechlem_artnr."</td></tr>"; } elseif (isset($bechlem_partnr)) { $zeilen[] = "<tr><td>Hersteller Art.Nr.:</td><td>".$bechlem_partnr."</td></tr>"; }
if (isset($farbe_name)) $zeilen[] = "<tr><td>Farbe:</td><td>".$farbe_url." ".$farbe_name."</td></tr>";
if (isset($inhalt)) $zeilen[] = "<tr><td>Inhalt:</td><td>".$inhalt."</td></tr>";
if ( ISSET($packanzahl) ) {
    if ($packanzahl >=2 && isset($seiten)) { $zeilen[] = "<tr><td>Druckleistung:</td><td style=\"color: #E40479;\">ca. ".$packanzahl.'x '.$seiten." Seiten (".$packanzahl." Stück)*</td></tr>";}
} elseif ( isset($seiten) ) { $zeilen[] = "<tr><td>Druckleistung:</td><td style=\"color: green\">ca. ".$seiten." Seiten*</td></tr>";}

// Bottomview
	if($hersteller=='Druckerpatrone' or $hersteller=='Toner') {} else {	
		$zeilen[]  = "<tr><td>Passend zu: </td><td>".$hersteller." ".$druckername."</td></tr>";
	}

	if (isset($bechlem_partnr)) {
		$zeilen[]  = "<tr><td style=\"width:95px\">Kompatibel zu: </td><td>".$hersteller." ".$bechlem_partnr."</td></tr>";
	
	} elseif (
		isset($bechlem_artnr)) { $zeilen[]  = "<tr><td style=\"width:95px\">Kompatibel zu: </td><td>".$hersteller." ".$bechlem_artnr."</td></tr>"; 
		}

$zeilen[] = "</table>";

if ( ISSET($packanzahl) ) {
    if ($packanzahl >=2 && isset($seiten)) { $zeilen[] = "<div class=\"packinfo\"><small>* Bei einer DIN A4-Seite mit ca. 5% Deckungsgrad</small></div>";}
} elseif ( isset($seiten) ) { $zeilen[] = "<div class=\"packinfo\"><small>* Bei einer DIN A4-Seite mit ca. 5% Deckungsgrad</small></div>";}

/*
if ( $hersteller_produkt =='Alternativ' ) {


    if ( $produktart =='druckerpatrone' ) {
        $block = Mage::getModel('cms/block')->load('kundenversprechen_druckerpatronen');
        $titletext= $block->getTitle();
        $contenttext= $block->getContent();

        $zeilen[]  = "<h2 style=\"color:#009EE0;\">".$titletext."</h2>";
        $zeilen[]= $contenttext;


    } else {
        $block = Mage::getModel('cms/block')->load('kundenversprechen_toner');
        $titletext= $block->getTitle();
        $contenttext= $block->getContent();

        $zeilen[]  = "<h2 style=\"color:#009EE0;\">".$titletext."</h2>";
        $zeilen[]= $contenttext;

    }
}
*/
$block = Mage::getModel('cms/block')->load('kundenversprechen_2015');
        $titletext= $block->getTitle();
        $contenttext= $block->getContent();

        $zeilen[]  = "<h2 style=\"color:#009EE0;\">".$titletext."</h2>";
        $zeilen[]= $contenttext;


foreach ( $zeilen as $zeile ) {
    echo $zeile;
}
?>
