<?php
    $_helper = $this->helper('catalog/output');
    $_product = $this->getProduct();
   // $bechlem_artnr = $_product->getResource()->getAttribute('bechlem_artnr')->getFrontend()->getValue($_product);
    $sku = $_product->getSku();

if ($sku=='pa10002') { $zeilen[]  = '<span id="product-name">Universal-Papier DIN A4 <span style="color:#E40479;">SPAR-SET 5x</span></span>'; }
elseif ($sku=='pa10003') { $zeilen[]  = '<span id="product-name">Universal-Papier DIN A4 <span style="color:#E40479;">SPAR-SET 10x</span></span>'; }
elseif ($sku=='pa10004') { $zeilen[]  = '<span id="product-name">Universal-Papier DIN A4 <span style="color:#E40479;">SPAR-SET 20x</span></span>'; }
elseif ($sku=='pa10005') { $zeilen[]  = '<span id="product-name">Universal-Papier DIN A4 <span style="color:#E40479;">SPAR-SET 60x</span></span>'; }
elseif ($sku=='pa10006') { $zeilen[]  = '<span id="product-name">Universal-Papier DIN A4 <span style="color:#E40479;">SPAR-SET 200x</span></span>'; }
else { $zeilen[]  = '<span id="product-name">Universal-Papier DIN A4</span>'; }

$zeilen[] = "<table>";
$zeilen[]  = "<tr><td colspan='2'><h2 style=\"color:#009EE0;\">Beschreibung</h2></td><td></td></tr>";
$zeilen[] = "<tr><td>Artikelnummer:</td><td>".$sku."</td>";
$zeilen[] = "<tr><td>Format:</td><td>DIN A4</td></tr>";
$zeilen[] = "<tr><td>Gewicht:</td><td>80g/m²</td></tr>";
$zeilen[] = "<tr><td>Geeignet für:</td><td>Tinte/Laser/Kopierer</td></tr>";

if ($sku=='pa10002') { $zeilen[] = "<tr><td>Inhalt:</td><td style=\"color: #E40479;\">5 Pakete a. 500 Blatt</td></tr>"; }
elseif ($sku=='pa10003') { $zeilen[] = "<tr><td>Inhalt:</td><td style=\"color: #E40479;\">10 Pakete a. 500 Blatt</td></tr>"; }
elseif ($sku=='pa10004') { $zeilen[] = "<tr><td>Inhalt:</td><td style=\"color: #E40479;\">20 Pakete a. 500 Blatt</td></tr>"; }
elseif ($sku=='pa10005') { $zeilen[] = "<tr><td>Inhalt:</td><td style=\"color: #E40479;\">60 Pakete a. 500 Blatt</td></tr>"; }
elseif ($sku=='pa10006') { $zeilen[] = "<tr><td>Inhalt:</td><td style=\"color: #E40479;\">200 Pakete a. 500 Blatt</td></tr>"; }
else { $zeilen[] = "<tr><td>Inhalt:</td><td style=\"color: #E40479;\">500 Blatt</td></tr>";}
$zeilen[] = "</table>";

$zeilen[]  = "<h2 style=\"color:#009EE0;\">Warum Papier mitbestellen?</h2>";
$zeilen[] = "<p><b>1. Weil keine weiteren Versandkosten anfallen.<br>2. Weil wir Ihnen das Papier bis zur Tür tragen.<br>3. Weil wir super Preise und Rabatte anbieten.</b></p>";

foreach ( $zeilen as $zeile ) {
echo $zeile;
}
               
?>
