<?php

/**
 * J2T-DESIGN.
 *
 * @category   J2t
 * @package    J2t_Ajaxcheckout
 * @copyright  Copyright (c) 2003-2009 J2T DESIGN. (http://www.j2t-design.com)
 * @license    GPL
 */

?>
<!--begin--><div id="back-ajax-add">
<div class="layer-checkout">
    <div class="layer-checkout-hint">Möchten Sie weitere Produkte einkaufen<br />klicken Sie auf "Weiter einkaufen".</div>
    <div class="layer-checkout-link-container">
        <a id="j2t-continue-link" class="layer-checkout-link-continue" href="javascript:void(0);" onclick="hideJ2tOverlay();"><span>Weiter einkaufen</span></a>
        <a id="j2t-checkout-link" class="layer-checkout-link-checkout" href="<?php echo $this->getUrl('onestepcheckout'); ?>"><span>Direkt zur Kasse</span></a>
        <a id="j2t-checkout-link" class="layer-checkout-link-cart" href="<?php echo $this->getUrl('checkout/cart'); ?>"><span>Zum Warenkorb</span></a>
    </div>
</div>
</div><!--end-->
<div id="cart_content"><?php
$count = Mage::helper('checkout/cart')->getSummaryCount();

if( $count == 1 ) {
    echo $this->__('My Cart (%s item)', $count);
} elseif( $count > 0 ) {
    echo $this->__('My Cart (%s items)', $count);
} else {
    echo $this->__('My Cart');
}
?></div>
<div class="cart_side_ajax">
    <?php echo $this->getChildHtml('cart_sidebar_ajax') ?>
<span>j2t_ajax_auto_add</span></div>
<div class="j2t_ajax_message">
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<span>j2t_ajax_auto_add</span></div>