<script type="text/javascript">
    var ajax_cart_show_popup = <?php echo (int)Mage::getStoreConfig('j2tajaxcheckout/default/j2t_ajax_cart_show_popup', Mage::app()->getStore()->getId());?>;
    <?php $loading_arr = explode("x",Mage::getStoreConfig('j2tajaxcheckout/default/j2t_ajax_cart_loading_size', Mage::app()->getStore()->getId()));?>
    <?php $confirm_arr = explode("x",Mage::getStoreConfig('j2tajaxcheckout/default/j2t_ajax_cart_confirm_size', Mage::app()->getStore()->getId()));?>

    var loadingW = <?php echo $loading_arr[0];?>;
    var loadingH = <?php echo $loading_arr[1];?>;
    var confirmW = 554;
    var confirmH = 220;
</script>

<div class="j2t-overlay" id="j2t-overlay" style="display: none;">&nbsp;</div>

<div style="display: none; width: <?php echo $loading_arr[0];?>px; height: <?php echo $loading_arr[1];?>px; top: 550px; background:#fff;" class="j2tajax-progress" id="j2t_ajax_progress">
        <img src="<?php echo $this->getSkinUrl();?>images/j2t/ajax-loader.gif"/>
        <p><?php echo $this->__('loading...');?></p>
</div>

<div style="display: none; width: 554px; height: 220px; position: fixed; top: 400px; border: 0;" class="j2tajax-confirm" id="j2t_ajax_confirm">
        &nbsp;
</div>

