body {
	font-family: "myriad","Trebuchet MS",Verdana, Arial, sans-serif;
	font-size: 12px;
	margin: 0;
	color: #3d4d5a;
	text-align: left;
	line-height: 18px;
}

.gruen { color: #629420 }
.red { color: #66070D; }
.blue { color: #0098e7; }

a, a:visited, a:active {	
	color: #4e4e4e;
	text-decoration: none;
}

.grey {
	color: #4e4e4e;
}

a:hover
{
	color: #0098e7 !important;
}


.login
{
	width:100%;
	height:29px;
	background-image:url(../images/title_bg_grey.jpg); 	
	border-bottom: 1px solid #3d4d5a;
}

.login .inner
{
	text-align:right;
	line-height:30px;
	color: #fff;
	font-weight: bold;
}

.login .inner .left
{
    float:left;
    margin-left: 10px;
}

.login .inner .right
{
    margin-right: 10px;
    float:right;
}

.login a
{
	color: #fff !important;
}

.login a:hover
{
	color: #e4e4e4 !important;	
}

#Content {
	background-color: #ffffff;
}

#mainContent {
	background-image: url(../images/bg.jpg);
	background-repeat: repeat-y;
	width: 980px;
	padding-bottom: 15px;
}

#headTopLeft {
	background-image:url(../images/);
	background-repeat: no-repeat;
	float: left;	
	margin-left: 25px;
	margin-top:15px;
	width: 415px;

	text-align: left;
	line-height: 110px;
	font-weight: bold;
	font-size: 20px;
}

#headTopRight {

	float: right;	
	margin-right: 40px;
	margin-top: 20px;
        margin-bottom: 20px;

}

#naviTop {
	background-image:url(../images/navi_top_bg.jpg);
	background-repeat: repeat-x;
	float: left;	
	padding-left: 20px;
	padding-right: 25px;
	width: 923px;
	height: 30px;
	margin-left: 6px;
	margin-bottom: 15px;
}

#naviTop ul {
	padding: 0;
	margin: 0;
	padding-top: 1px;
}



#headTopLinks ul {
	padding: 0;
	margin: 0;
}

#naviTop li {
	float: left;
	display: inline;
	font-size: 11px;
	line-height: 27px;
	border-right: 1px dotted #fff;
}

#naviTop li:first-child {
	border-left: 1px dotted #fff;
}



#naviTopActive a{

	background-image: url(../images/navi_top_active.jpg);
	color: #ffffff !important;
	font-weight: bold;
}

.headTopLinksActive {
	background-image: url(../images/navi_content_hover.png);
	font-weight: bold;

}

#naviTop li a {
	padding-top: 7px;
	padding-bottom: 8px;
	padding-left: 11px;
	padding-right: 11px;
	color: #3d4d5a;
	text-decoration: none;
	font-weight: bold;
}



#naviTop li a:hover {
	background-image: url(../images/navi_top_hover.jpg);
	color: #fff !important;
}







#naviThird {
	background-image:url(../images/navi_top_bg.jpg);
	background-repeat: repeat-x;
	float: left;
	padding-left:10px;
	padding-right: 25px;
	width: 876px;
	height: 30px;
	margin-bottom: 20px;

}

#naviThird ul {
	padding: 0;
	margin: 0;
	padding-top: 1px;
}



#headTopLinks ul {
	padding: 0;
	margin: 0;
}

#naviThird li {
	float: left;
	display: inline;
	font-size: 11px;
	line-height: 27px;
	border-right: 1px dotted #fff;
}

#naviThird li:first-child {
	border-left: 1px dotted #fff;
}



#naviThirdActive {
	background-image: url(../images/navi_top_active.jpg);
	color: #ffffff !important;
	font-weight: bold;
}



#naviThird li a {
	padding-top: 7px;
	padding-bottom: 8px;
	padding-left: 11px;
	padding-right: 11px;
	color: #3d4d5a;
	text-decoration: none;
	font-weight: bold;
}



#naviThird li a:hover {
	background-image: url(../images/navi_top_hover.jpg);
	color: #fff !important;
}



.naviLeft {
	margin-left: 25px;
	margin-right: 0;
	width: 168px;
	color: #3d4d5a;
	text-align: left;
	margin:auto;
	background-image:url(../images/navi_content_bg.jpg);
}

.naviLeft ul {
	margin: 0;
	padding: 0;
}

.naviLeft li {
	margin:0;
	float: left;
	font-size: 11px;
	line-height: 23px;
	border-bottom: 1px dotted #afafaf;
	list-style-type: none;
	display:block;
}

.naviLeft li a {
	padding-left: 11px;
	padding-right: 11px;
	color: #3d4d5a;
	text-decoration: none;
	font-weight: bold;
	width: 146px;
	height: 23px;
	display: block;
}

.naviLeft li a:hover {
	background-image: url(../images/navi_content_hover.jpg);
	color: #ffffff !important;
}

#naviLeftCatActive a
{
	background-image: url(../images/navi_content_hover.jpg);
	color: #ffffff;
	font-weight: bold;
}

#naviLeftSubCat a
{
	text-decoration: none;
	background-image:none;
	background-image:url(../images/subnavi_content_bg.jpg);
	background-color: #fff;
	text-indent: 10px;
	color: #3d4d5a;
}

#naviLeftSubCat a:hover
{
	text-decoration: underline;
	background-image:url(../images/subnavi_content_bg.jpg);
	color: #0098e7 !important;

}

#naviLeftSubCatActive a
{
	text-decoration: underline;
	text-indent: 10px;
	color: #0098e7 !important;
	font-weight:bold;
	background-image:url(../images/subnavi_content_bg.jpg);
}

#naviLeftSubCatActive a:hover
{
	text-decoration: underline;
	background-image:url(../images/subnavi_content_bg.jpg);
	color: #0098e7;
}





#naviInfo {
	background-color:#ffffff;
	text-align: justify;
}

#centerContent {
	margin-left: -5px;
	width: 740px;
	float: left;
	text-align: justify;
}

#centerContent a {
	color: #294163;
	text-decoration: none;
}

#centerContent a:hover {
	color: #878787;
}


h1 {
	margin-top: 0;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 15px;
}

h2 {
	font-size: 16px;
	font-weight: lighter;
	margin-bottom: 5px;
}
#footer {
	background-image: url(../images/bg_footer.jpg);



	width: 980px;


	height: 61px;
}

#footer .inner
{
	color: #393b30;
	font-size: 11px;
	text-align: right;
    padding-top: 5px;
    padding-right:25px;
    line-height: 23px;
}

#footer a { color: #393b30; }
.bildunterschrift { font-size: 10px; }


/*#########
 FORMULARE
#########*/

.input {
	width: 250px;
	height: 17px;
	border: 1px solid #c0c0c0;
	padding: 2px;
	text-indent: 2px;
	font-size: 11px;
	margin-right: 10px;
	background-image: url("../images/input.gif");
	background-repeat: repeat-x;
        padding-top: 5px;

}

.input:hover, .input:focus, .textarea:hover, .textarea:focus
{
        background: none;
	background-color: #eaf2f7 !important;
        border: 1px solid #52b7e0;
}


.inputError {
	width: 250px;
	height: 20px;
	border: 1px solid #ff0000;
	background-color: #ffdfdf;
	background-repeat: no-repeat;
	padding: 2px;
	text-indent: 2px;
	margin-right: 10px;
	font-size: 11px;
}

.inputError:hover, .inputError:focus
{
	background-color: #efefef;
}



.fileError {
	border: 1px solid #ff0000;
	background-color: #ffdfdf;
	background-repeat: no-repeat;
}

.textarea {
	width: 300px;
	height: 100px;
	border: 1px solid #c0c0c0;
	font-size: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: verdana;
	font-size: 11px;
}

.textareaError {
	width: 300px;
	height: 100px;
	border: 1px solid #ff0000;
	background-color: #ffdfdf;
	font-size: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: verdana;
	font-size: 11px;
}

.select {
	width: 256px;
	border: 1px solid #c0c0c0;
	height: 25px;
	font-size: 11px;
		padding-top: 2px;
	padding-bottom: 2px;
	margin-right: 10px;
}

.selectError {
	width: 256px;
	border: 1px solid #ff0000;
	background-color: #ffdfdf;
	height: 25px;
	font-size: 11px;
		padding-top: 2px;
	padding-bottom: 2px;
}

.submit
{
	width:130px;
	height:26px;
	text-align:center;
	background-color: none;
	background-image: url(../images/submit.png);
	cursor:pointer;
	color: #3d4d5a;
        font-weight: bold;
	border: 0;
	margin:0;
	font-size:11px;
	font-family: "Trebuchet MS",Verdana, Arial, sans-serif;
        margin-top: 1px;
	
}

.submit:hover
{
	background-image: url(../images/submit_hover.png);
}

.grey2
{
	background-image: url(../images/button_grey.png);	
	font-size: 12px;
	font-weight: normal;
}

.icon { 
    margin-top: -3px;
	margin-right: 3px;
	vertical-align: middle;
}


.table.click
{
	cursor:pointer;
}

.table
{
	width: 100%;
}

.table th
{
	background-image:url(../images/title_bg.jpg);
	background-repeat: repeat-x;
	height: 30px;
	line-height: 21px;
	padding: 0 5px 0 5px;
	color: #ffffff;
	vertical-align: middle;
}

.table td
{
	padding: 6px;

}




.table tr
{
	vertical-align: top;
}

.table_error tr:hover
{
	background-color: #ffed95;
}

.table_error td
{
	padding: 6px;
}




.table_blank
{
	width: 100%;
}

.table_blank th
{
	padding: 6px;
	line-height:20px;
}

.table_blank td
{
	padding: 6px;
	line-height:20px;	
}

.table_blank tr
{
	vertical-align:top !important;
    text-align: left;
}

.table_blank tr:hover
{
	background-color: #efefef;
}

.table_blank td, .table_blank th
{
	vertical-align:top !important;
}

.table_blank .blank:hover
{
	background:none !important;	
}

.errorBox {
margin-bottom: 15px;
border: 1px solid #ff0000;
background-color: #ffdfdf;
padding: 10px;
font-size: 11px;
font-weight: bold;
}

.errorBox h2
{
	color: #ff0000;
	font-size: 12px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: bold;
}

.img {
padding: 2px;
border: 1px solid #cccccc;
margin:0;
padding-bottom: 3px;
}

a .img:hover {
border: 1px solid #e4e4e4;
}

.configuration_box {
	float:left;
	margin:10px;
	width:220px;	
}

.configuration_box_padding {
	padding:10px;
	height:100px;	
	text-align: left;
}

#message_box {
margin-bottom: 15px;

font-size: 12px;
font-weight: bold;
overflow:hidden !important;
}

.message_box_success
{
	border: 1px solid #cccccc;
	background-color: #ffffe1;
}

.message_box_error
{
	border: 1px solid #66070D;
	background-color: #ffdfdf;
}

.sortable-list {
    list-style-type : none;
    margin : 0;
}
.sortable-list li {
    cursor : move;
    margin : 0px 0 5px -40px;
    border : 1px solid #fff;
    padding: 0;
}

*+html .sortable-list li
{
	margin-left: 0;
}




.sortable-list li:hover
{
	border: 1px dotted #ccc;
}

#root
{
	margin-left: 25px;
	text-align: left;
	margin-bottom: 15px;
	line-height: 15px;
	font-size: 11px;	
}

#root a:hover
{
	color: #0098e7;
}

.box
{
	background-image:url(../images/frontend/content/box_bottom.png) !important;
	background-repeat: repeat-x;
	background-position: bottom;
}

.box .inner
{
	margin:10px;
}

fieldset
{
	border: 1px solid #cccccc;	
	padding: 10px;
}

fieldset legend
{
	padding: 5px;	
	color: #0098e7;
	font-size: 14px;
	font-weight: bold;
}


.fieldset_error
{
	border: 1px solid #ff0000;
	background-color: #ffdfdf;
	padding: 10px;
}

.fieldset_error legend
{
	color: #ff0000;
}

.fieldset_yellow
{
	background-color:#ffffe1;
}

#counter
{
	font-weight: bold;
	color: #2fde18;
	font-size: 14px;
}

#counter_stopped
{
	font-weight: bold;
	color: red;
	font-size: 14px;
}

#counter_complete
{
	font-weight: bold;
	font-size: 14px;
}

.bold
{
	font-weight: bold;
}