/* 
    Document   : style_dropdown
    Created on : 16.02.2010, 15:54:26
    Author     : Manuel
    Description: 
*/

/*Allgemeines */
.NavigationBox {
	background-image:	url('../images/navi_top_bg.jpg');
	background-repeat:	repeat-x;
	padding:		0 12px 0 12px;
	margin:			0 0 15px 6px;
	width:			944px;
	height:			29px;
	float:			left;
}
.ThirdNavigationBox {
	width:			878px;
}
.Navigation {
	text-align:		left;
	color:			#ffffff;
}


.Navigation a {
	white-space:		nowrap;
	color:			#3d4d5a;
	font-weight:		bold;
	background-repeat:	repeat-x;
	padding:		5px 10px 5px 10px;
	margin:			1px 0 0 0;
	display:		block;
}
.Navigation a:hover,
.Navigation a:focus,
.Navigation a:active {
	color:			#ffffff !important;
	background-image:	url(../images/navi_top_hover.jpg);
	background-color:	#0098e7;
}
.Navigation ul a {
	display:		block;
	margin:			0;
}
.Navigation ul a:hover,
.Navigation ul a:focus,
.Navigation ul a:active {
	color:			#0098e7 !important;
	background-image:	none;
	background-color:	transparent;
}
.Navigation ul ul a span {
	background-image:	url('../images/bullet_black.png');
	background-position:	left center;
	background-repeat:	no-repeat;
	padding:		0 0 0 20px;
}
.Navigation ul ul a {
	background-image:	none;
}
.Navigation ul ul a:hover,
.Navigation ul ul a:focus
.Navigation ul ul a:active {
	background-image:	none;
	color:			#0098e7 !important;
}
.Navigation ul ul a:hover span,
.Navigation ul ul a:focus span,
.Navigation ul ul a:active span {
	background-image:	url('../images/bullet_blue.png');
}
.Navigation ul a {
	background-image:	url('../images/navi_top_bg.jpg');
	color:			#000000 !important;
}
.Navigation ul a span {
	background-image:	none;
}
.Navigation ul a:hover,
.Navigation ul a:focus,
.Navigation ul a:active {
	background-image:	url('../images/navi_top_active.jpg');
	color:			#ffffff !important;
}



.Navigation ul {
	position:		absolute;
	top:			29px;
	left:			0;
	display:		none;
	padding:		5px;
	background-image:	url('../images/bg_navigation.png');
	z-index:		100;
	min-width:		200px;
}
.Navigation ul ul {
	position:		static;
	width:			355px;
	display:		block;
	padding:		0 0 10px 5px;
	border:			none;
	background-image:	none;
	z-index:		150;
	min-width:		0;
}
.Navigation ul li {
	background-color:	#eeeeee;
}



.Navigation li {
	float:			left;
	position:		relative;
	font-size:		11px;
	border-right:		1px dotted #ffffff;
}
.Navigation li:first-child {
	border-left:		1px dotted #ffffff;
}
.Navigation li li {
	display:		block;
	float:			none;
	position:		static;
	padding:		0;
	clear:			both;
	border:			none;
	line-height:		normal;
}
.Navigation li li:first-child {
	border:			none;
}
.Navigation li li li {
	display:		inline-block;
	width:			175px;
	clear:			none;
	background-image:	none;
}



.Navigation li:hover ul {
	display:		block;
}
.NavigationActive {
	background-image:	url('../images/navi_top_active.jpg');
	color:			#ffffff !important;
	background-color:	#0098e7;
}
.Navigation ul .NavigationActive span {
	background-image:	url('../images/arrow_white.png');
	background-repeat:	no-repeat;
	background-position:	left center;
	padding-left:		7px;
}
.MoreBox {
	border-top:		1px solid #cccccc;
}
.MoreBox li {
	padding:		0 0 0 20px;
	text-align:		right;
	display:		block !important;
	width:			auto !important;
}
.CloseButton {
	display:		none !important;
	position:		absolute;
	right:			10px;
	top:			10px;
	width:			16px;
	height:			16px;
	background-image:	url('../images/cancel.png');
	background-repeat:	no-repeat;
}
.CloseButton:hover {
	background-image:	url('../images/cancel.png');
}
