<?php

/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   Mage
 * @package    Mage_BankPayment
 * @copyright  Copyright (c) 2008 Andrej Sinicyn
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */

?>
<fieldset class="form-list">
    <ul id="payment_form_<?php echo $this->getMethodCode(); ?>" style="display:none">
        <li>
        <?php if(true == false): ?>
            <div class="input-box">
                <p>Einzelheiten der Zahlungsart finden Sie <a target="_blank" href="<?php echo $this->getUrl('zahlung') ?>">hier</a>.</p>
            </div>
        <?php endif; ?>
        Bezahlen Sie per Vorkasse und Sie bekommen von uns <b>2% Rabatt</b> auf den Warenwert geschenkt.
Klicken Sie rechts auf "Jetzt kaufen" um Ihre Bestellung abzuschließen.
        </li>
       <!-- <li><button type="button" class="magenta button right" onclick="payment.save();"><span>&nbsp;&nbsp;<?php echo $this->__('Continue') ?>&nbsp;&nbsp;<img style="margin-top: 7px; width: 17px; height: 12px;" src="<?php echo $this->getSkinUrl('images/media/pfeil12.png'); ?>" alt="">&nbsp;</span></button></li> -->
    </ul>
</fieldset>
