<?php
echo '<script type="text/javascript" src="https://ipayment.de/merchant/' . $this->getAccountId() . '/jsAPI/2.0/base/"> </script>' . "\n";
echo '<script type="text/javascript" src="https://ipayment.de/merchant/' . $this->getAccountId() . '/jsAPI/2.0/app/?trxuser_id=' .$this->getTrxUserId() . '&amp;trxpassword=' . $this->getTrxUserPassword() . '"></script>' . "\n";
?>