.mp-al-summary ul li {
    margin-bottom: 5px;
}
.mp-al-summary {

    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #D6D6D6;
    margin-bottom: 10px;
    padding: 10px;
}

.mp-al-summary-table .data del {
    text-decoration: none;
    color: #ff2a45;
    background-color: #ffe5dc;
}


.mp-al-summary-table .data ins {
    text-decoration: none;
    color: #214a0e;
    background-color: #b7ffad;
}

