<?php
$t1 = "default"; /* don't change this */
if (Mage::registry('current_category') && !Mage::registry('current_product')) {
	$t1 = 'category';
}
elseif(Mage::registry('current_product')){
	$t1 = 'product';
}
elseif(Mage::getSingleton('cms/page')->getIdentifier()){
	$t1 = Mage::getSingleton('cms/page')->getIdentifier();
}
?>
<?php 
	$oN = '';
	if($t1 && in_array($t1,$this->getOverlayPages('one'))){
		$oN = "one";
	}
	elseif($t1 && in_array($t1,$this->getOverlayPages('two'))){
		$oN = "two";
	}
	elseif($t1 && in_array($t1,$this->getOverlayPages('three'))){
		$oN = "three";
	}
?>
<?php if($oN):?>
<div style="display:none;" id="OverlayContent">
<div class="overlay-contents">
<?php if($this->getOverlayTitle($oN)):?>
	<h2 class="overlay-title"><?php echo $this->__($this->getOverlayTitle($oN));?></h2>
<?php endif;?>
<?php
	echo $this->getOverlayContent($t1,$oN);
?>
</div>
<?php //echo $this->getCookieExpireTime();?>
</div> 
<script>

jQuery(window).ready(function() {
		count =0;
   jQuery(document).bind("mouseout mouseleave", function(e){
   count++;
		//console.log(e.pageY - jQuery(document).scrollTop() );
		if (e.pageY - jQuery(document).scrollTop() <= -1 && e.pageY - jQuery(document).scrollTop() >= -15){
			if(!jQuery('.fancybox-wrap').length){
				if(!readCookie('<?php echo $this->getCookieName($oN);?>')){ //check cookie
				jQuery.fancybox({
					'width': '<?php echo $this->getOverlayWeight($oN)?>',
					'height': '<?php echo $this->getOverlayHeight($oN)?>',
					'transitionIn': 'fade',
					'transitionOut': 'fade',
					'showCloseButton': true,	
					'fitToView'   : false,
					 'centerOnScroll' :false,
					'autoSize'    : false,
					'fixed': false,
					'href': "#OverlayContent",
					'autoCenter': true,
					'helpers'     : { 
                        'overlay' : {'closeClick': false}
                        },
					'afterClose' : function(){
						<?php if($this->getCookieExpireTime($oN)){ ?>
							createCookie('<?php echo $this->getCookieName($oN);?>', 1, '<?php echo $this->getCookieExpireTime($oN);?>');
						<?php } ?>
					}  
				});
				}//cookie check
				createCookie('<?php echo $this->getCookieName($oN);?>', "1", <?php echo $this->getCookieExpireTime($oN);?>);
			}
			
			
		}	
	});
<?php if(!$this->getCookieExpireTime($oN)){ ?>
	eraseCookie('<?php echo $this->getCookieName($oN);?>');
<?php } ?>
	
});

/**To create cookie**/
function createCookie(name, value, time) {
var time = parseInt(time);
    if (time) {
        var date = new Date();
        date.setTime(date.getTime() + (time * 60 * 60 * 1000));
        var expires = "; expires=" + date.toGMTString();
    } else var expires = "";
    document.cookie = escape(name) + "=" + escape(value) + expires + "; path=/";
}
/**To read cookie**/
function readCookie(name) {
    var nameEQ = escape(name) + "=";
    var ca = document.cookie.split(';');
    for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') c = c.substring(1, c.length);
        if (c.indexOf(nameEQ) == 0) return unescape(c.substring(nameEQ.length, c.length));
    }
    return null;
}
/**To erase cookie**/
function eraseCookie(name) {
    createCookie(name, "", -1);
}


</script>
<?php endif;?> 