<?php

/**

 * Magento

 *

 * NOTICE OF LICENSE

 *

 * This source file is subject to the Open Software License (OSL 3.0)

 * that is bundled with this package in the file LICENSE.txt.

 * It is also available through the world-wide-web at this URL:

 * http://opensource.org/licenses/osl-3.0.php

 * If you did not receive a copy of the license and are unable to

 * obtain it through the world-wide-web, please send an email

 * to license@magentocommerce.com so we can send you a copy immediately.

 *

 * @category   Mage

 * @package    Mage_Sofortueberweisung

  * @copyright  Copyright (c) 2008 [m]zentrale GbR 

 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)

 */

?>

<div class="block block-sofortueberweisung">

    <div class="block-title">
        <h2><?php echo $this->__('Sofortueberweisung'); ?></h2>
    </div>

    <div class="block-content">

		<a href="<?php echo $this->getUrl('sofortueberweisung') ?>" title="Informationen zu sofortüberweisung.de"><img src="<?= $this->getSkinUrl() ?>images/sofortueberweisung/logo_sofortueberweisung170.jpg" alt="Sofortüberweisung" title="Sofortüberweisung"></a>

		<p>

			<ul style="list-style-type:disc;">
				<li style="margin-left:15px;"><?php echo $this->helper('sofortueberweisung')->__('Fast shippiung') ?></li>
				<li style="margin-left:15px;"><?php echo $this->helper('sofortueberweisung')->__('Privacy') ?></li>
				<li style="margin-left:15px;"><?php echo $this->helper('sofortueberweisung')->__('No registration') ?></li>
				<li style="margin-left:15px;"><?php echo $this->helper('sofortueberweisung')->__('Save payment') ?></li>						
			</ul>

		</p>

    

    <div style="margin-left:15px; margin-top: 10px;">
        <a href="<?php echo $this->getUrl('sofortueberweisunginfo') ?>"><small><?php echo $this->__('More') ?></small></a>
    </div>

  </div>

</div>