<?php
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   Mage
 * @package    Mage_Sofortueberweisung
  * @copyright  Copyright (c) 2008 [m]zentrale GbR 
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?>
<p><?= $this->getMethod()->getTitle() ?></p>
<?if($_info = $this->getInfo()):?>
	<?=$this->__('Account holder: %s', $this->getInfo()->getSuHolder())?><br/>
	<?=$this->__('Account number: %s', 'xxxx'.substr($this->getInfo()->getSuAccountNumber(),4,strlen($this->getInfo()->getSuAccountNumber())))?><br/>
	<?=$this->__('Bank code: %s', $this->getInfo()->getSuBankCode())?><br/>
	<?php if($this->getInfo()->getSuPaycode()): ?>
		<?=$this->__('Paycode: %s', $this->getInfo()->getSuPaycode())?><br/>
	<? endif; ?>
	<?php if($this->getInfo()->getSuIban()): ?>
		<?=$this->__('IBAN: %s', $this->getInfo()->getSuIban())?><br/>
	<? endif; ?>
	<?php if($this->getInfo()->getSuBic()): ?>
		<?=$this->__('BIC/SWIFT : %s', $this->getInfo()->getSuBic())?><br/>
	<? endif; ?>

<?php else: ?>

<?php endif; ?>