.ui-autocomplete-category {
	font-weight: bold;
}
ul.ui-autocomplete li {
	text-align: left;
}
ul.ui-autocomplete li em {
	background-color: #dedede;
}
.header-suchbox-left-form-button {
	cursor: pointer;
}

.header-suchbox .header-suchbox-left .form {
	padding: 0;
	padding: 0;
	width: 466px;
	height: 34px;
}

.header-suchbox .header-suchbox-left .form input.header-suchbox-left-form-field {
	background: transparent url(/skin/frontend/default/blank/images/media/header/header-suchbox-left-form-field.gif) no-repeat 0 0;
	width: 359px;
	height: 34px;
	padding: 0 0 0 34px;
	margin: 0;
	border: 0;
	font-size: 14px;
	color: #111111;
	display: block;
	float: left;
	border-radius:7px;
}

.header-suchbox .header-suchbox-left .form input.header-suchbox-left-form-button {
	width: 73px;
	height: 34px;
	padding: 0;
	margin: 0;
	border: 0;
	display: block;
	float: left;
}