<?php if ($this->getContainerShow()) : ?>
<div id="overlay_modal" class="overlay_default" style="background-color: #000000; position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 9998; opacity: 0.65; display: none;" onclick="closePromotionPopup();"></div>
<div id="promotion-gifts-popup-container" style="display:none;position:fixed;left:50%;top:50%;z-index:10001;width:820px;"><?php endif; ?>
<?php $collections = $this->getPromoCollection() ?>
<?php if (count($collections) > 0) : ?>

	<?php $items = array() ?>
	<?php $exchangeProductIds = array() ?>
	<?php $cartProductIds = array() ?>
	<?php foreach($this->getQuote()->getAllVisibleItems() as $item): ?>
		<?php $cartProductIds[] = $item->getProductId() ?>
	<?php endforeach ?>
	<?php $giftMode = true ?>
	<?php foreach($collections as $rule): ?>
		<?php $productIds = $rule->getMatchingProductIds($cartProductIds) ?>
		<?php $id = $exchangeId = 0 ?>
		<?php foreach($productIds as $productId => $value): ?>
			<?php //if(!$this->getQuote()->hasProductId($productId)): ?>
				<?php //unset($productIds[$productId]) ?>
			<?php //else: ?>
				<?php $product = Mage::getModel('catalog/product')->load($productId) ?>
				<?php $exchange = $this->getExchangeProduct($rule, $product) ?>
				<?php if(!$product->getId() || !$exchange) continue ?>
				<?php if($rule->getPriceControl() == '1' && $product->getPrice() <= $exchange->getPrice()) continue ?>
				<?php if(isset($exchangeProductIds[$productId])) continue ?>
				<?php $exchangeProductIds[$productId] = $productId ?>
				<?php $items[] = array('product'=>$product, 'exchange'=>$exchange, 'rule'=>$rule) ?>
				<?php $giftIds = $rule->getProductIds() ?>
				<?php if(count($giftIds) > 0) $giftMode = true ?>			
			<?php //endif ?>
		<?php endforeach ?>			
	<?php endforeach ?>	
	
	<?php if (count($items) > 0) : ?>
		<div id="promotion-gifts-popup">
			<p class="close" onclick="closePromotionPopup();"></p>
			<table class="promotion-popup-box">
				<tr class="promotion-popup-title">
					<td class="promotion-popup-title-left"></td>
					<td class="promotion-popup-title-center"><?php echo $this->__('Interessante Sparmöglichkeiten für Sie') ?></td>
					<td class="promotion-popup-title-right"></td>
				</tr>
				<tr>
					<td class="promotion-popup-center-left"></td>
					<td class="promotion-popup-center-center">
						<div id="promotion-popup-items-overflow">
							<table id="promotion-popup-items">
							<tr>
								<td class="promotion-popup-product-header"><?php echo $this->__('Ihre Auswahl') ?></td>
								<td class="promotion-popup-border"></td>
								<td class="promotion-popup-product-header-exchange"><?php echo $this->__('Unser Sparvorschlag') ?></td>
								<?php if($giftMode): ?>
									<td class="promotion-popup-border"></td>
									<td class="promotion-popup-product-header-gift"><?php echo $this->__('Ihr Vorteil') ?></td>
								<?php else: ?>
									<td class="promotion-popup-product-header"></td>
								<?php endif ?>
							</tr>
							<?php $n = 1 ?>
							<?php foreach($items as $item): ?>
								<?php $product = $item['product'] ?>
								<?php $exchange = $item['exchange'] ?>
								<?php $rule = $item['rule'] ?>
								<?php $qty = floor($rule->getItemQty()/$rule->getConditionQty()) ?>	
								<tr id="promotion-popup-item-<?php echo $n ?>" class="promotion-popup-item">
									<td>
										<table>
											<tr>
												<td class="image">
													<img src="<?php echo $this->getImageSrc($product) ?>" width="50" height="50" alt="" />
												</td>
												<td class="description">
													<p><?php echo $product->getName() ?></p>
													<p><?php echo $this->__('Original für') ?> <?php echo $product->getManufacturer() ?></p>
													<p><?php echo $this->__('Art.-Nr.:') ?> <?php echo $product->getSku() ?></p>
													<p><?php echo $this->__('Menge:') ?> <?php echo $qty * $rule->getConditionQty() ?></p>
													<p><b><?php echo $this->__('Preis:') ?> <?php echo Mage::helper('core')->currency(Mage::helper('tax')->getPrice($product, $qty * $rule->getConditionQty() * $product->getPrice()),true,false) ?></b></p>
												</td>
											</tr>
										</table>								
									</td>
									<td class="promotion-popup-border"><div class="promotion-popup-arrow"></div></td>
									<td class="promotion-popup-exchange">
										<table>
											<tr>
												<td class="image">
													<img src="<?php echo $this->getImageSrc($exchange) ?>" width="50" height="50" alt="" />
												</td>
												<td class="description">
													<p><?php echo $exchange->getName() ?></p>
													<p><?php echo $this->__('Kompatibel zu') ?> <?php echo $exchange->getManufacturer() ?></p>
													<p><?php echo $this->__('Art.-Nr.:') ?> <?php echo $exchange->getSku() ?></p>
													<p><?php echo $this->__('Menge:') ?> <?php echo $qty ?></p>
													<p><b><?php echo $this->__('Preis:') ?> <?php echo Mage::helper('core')->currency(Mage::helper('tax')->getPrice($exchange, $qty*$exchange->getPrice()),true,false) ?></b></p>
												</td>
											</tr>
										</table>								
									</td>
									<?php if($giftMode): ?>
										<?php $gift = $rule->getProductIds() ?>
										<?php $giftId = isset($gift[0]) ? $gift[0] : 0  ?>									
										<td class="promotion-popup-border"><?php if($giftId >0): ?><div class="promotion-popup-gift"></div><?php endif ?></td>
										<td class="promotion-gift-box">
											<table><tr>
												<?php if($giftId >0): ?>
													<?php $gift = Mage::getModel('catalog/product')->load($giftId) ?>
													<td class="image">
														<img src="<?php echo $this->getImageSrc($gift) ?>" width="50" height="50" alt="" />
													</td>
													<td class="description gift-product-button">
														<p><?php echo $gift->getName() ?></p>
														<p><?php echo $this->__('Original für') ?> <?php echo $gift->getManufacturer() ?></p>
														<button onclick="setPromotionGift('<?php echo $rule->getId() ?>', '<?php echo $product->getId() ?>', 'promotion-popup-item-<?php echo $n ?>');" class="button-artikel" type="button">
															<span><?php echo $this->__('Austauschen und sparen') ?></span>
														</button>												
													</td>											
												<?php else: ?>
													<?php $totalOriginal = $qty * $product->getPrice() ?>
													<?php $totalAlternative = $qty * $exchange->getPrice() ?>
													<td class="image">
														<div class="sticker"><?php echo 100 - floor($totalAlternative*100/$totalOriginal) ?>%</div>
														<b><?php echo $this->__('Ersparnis') ?></b>
													</td>
													<td class="gift-exchange-button">
														<button onclick="setPromotionGift('<?php echo $rule->getId() ?>', '<?php echo $product->getId() ?>', 'promotion-popup-item-<?php echo $n ?>');" class="button-artikel" type="button">
															<span><?php echo $this->__('Austauschen und sparen') ?></span>
														</button>												
													</td>											
												<?php endif ?>	
											</tr></table>
										</td>
									<?php else: ?>
										<td class="promotion-button-box">
											<?php $totalOriginal = $qty * $product->getPrice() ?>
											<?php $totalAlternative = $qty * $exchange->getPrice() ?>
											<div class="promotion"><div class="sticker"><?php echo 100 - floor($totalAlternative*100/$totalOriginal) ?>%</div><?php echo $this->__('sparen') ?></div>
											<button onclick="setPromotionGift('<?php echo $rule->getId() ?>', '<?php echo $product->getId() ?>', 'promotion-popup-item-<?php echo $n ?>');" class="button-artikel" type="button">
												<span><?php echo $qty ?> <?php echo $this->__('Artikel austauschen') ?></span>
											</button>								
										</td>
									<?php endif ?>
								</tr>
								<?php $n++ ?>
							<?php endforeach ?>							
							</table>
						</div>
					</td>
					<td class="promotion-popup-center-right"></td>
				</tr>
				<tr>
					<td class="promotion-popup-bottom-left"></td>
					<td class="promotion-popup-bottom-center"><table><tr>
						<td><button class="button-artikel2" onclick="setPromotionAllAction();"><span><?php echo $this->__('Alle Artikel austauschen') ?></span></button></td>
						<td style="text-align:right;"><button class="button-close" onclick="closePromotionPopup();"><span><?php echo $this->__('Schließen') ?></span></button></td>
					</tr></table></td>
					<td class="promotion-popup-bottom-right"></td>
				</tr>
			</table>
			<script type="text/javascript">
			//<![CDATA[
				var setPromotionAll = false;
				function setPromotionGift(code, product, id)
				{
					new Ajax.Request(
						formatExchangeUrl("<?php echo Mage::getUrl('promotion/cart/setGift') ?>"), 
						{
							method: 'post',
							parameters: {id: id, code: code, product: product},
							onSuccess: function(transport){
								if(transport.status == 200){
									var json = transport.responseText.evalJSON();
									if(json.hasError == '0') {
										if ($j('tr#' + json.product).length) $j('tr#' + json.product).removeClass('product-shop-cart');
										if ($j('tr#' + json.exchange).length) $j('tr#' + json.exchange).addClass('product-shop-cart');
										if(!setPromotionAll){
											var text = 'Artikel wurde ausgetauscht.';
											$j('#' + id).
												html('<td class="upsell-successful" colspan="5">' + text + '</td>').
												fadeOut(1000, function(){ 
													$j(this).remove();
													closePromotionGiftPopup();
													updateSummaryCheckout();
													updateSummaryCart();
												});
											//location.reload(true);
										} else {
											$j('#' + id).addClass('promotion-exchange-successful');
											closePromotionGiftPopup(true);
										}
									}								
								}
							}
						}
					);					
				};
				function closePromotionGiftPopup(all)
				{
					var count = $j("#promotion-gifts-popup .promotion-popup-item").length;
					if(!setPromotionAll){
						if(0 == count) {
							closePromotionPopup();
						}
					} else {
						var successful = $j("#promotion-gifts-popup .promotion-exchange-successful").length;
						if(successful == count){
							var text = 'Keine weiteren Sparvorschläge mehr.';
							$j('#promotion-popup-items').
							html('<tr><td class="upsell-successful">' + text + '</td></tr>').
							fadeOut(1000, function(){ 
								closePromotionPopup();
							});	
							updateSummaryCheckout();
							updateSummaryCart();
						}
					}
				};
				function updateSummaryCart()
				{
					if (!$j('#warenkorb-content').length) return false;
					$j.getJSON("<?php echo Mage::getUrl('onestepcheckout/ajax/set_methods_separate/', array('_secure'=>true));?>?jsoncallback=?", function(json) {
						$j('#warenkorb-content').html(json.summary);
						updateOriginalProductPopup();
					});			
					return true;
				}
				function updateSummaryCheckout()
				{
					if(typeof(get_totals_element) == 'function'){
						var totals = get_totals_element();
						totals.update('<div class="loading-ajax">&nbsp;</div>');
						new Ajax.Request(
							formatExchangeUrl("<?php echo $this->getUrl('onestepcheckout/ajax/set_methods_separate', array('_secure'=>true)) ?>"), 
							{
								method: 'post',
								onSuccess: function(transport){
									if(transport.status == 200){
										var data = transport.responseText.evalJSON();
										totals.update(data.summary);
										updateOriginalProductPopup();	
									}
								}
							}
						);
						return true;
					}
					return false;
				}				
				function setPromotionAllAction()
				{
					setPromotionAll = true;
					$j.each($j("#promotion-gifts-popup .promotion-popup-item button"), function(key, button){
						key = key * 1800;
						setTimeout(function(){button.click();}, key);
						
					});
					
				};	
			//]]>	
			</script>
		</div>			
	<?php endif ?>
<?php endif ?>
<?php if ($this->getContainerShow()) : ?>
	</div>
	<script type="text/javascript">
	//<![CDATA[
		var oneStepCheckoutShow = true;
	//]]>	
	</script>	
<?php endif; ?>