<?php

$step_counter = 1;
$helper = Mage::helper('onestepcheckout/checkout');

?>
<a name="ct"></a>
<?php if(!$this->canCheckout() || !$this->validateMinimumAmount()): ?>
    <?php if($this->settings['checkout_title']): ?>
        <h1 class="onestepcheckout-title"><?php echo $this->settings['checkout_title']; ?></h1>
    <?php endif; ?>

    <?php if($this->canCheckout() && !$this->validateMinimumAmount()): ?>
    <p><?php echo Mage::getStoreConfig('sales/minimum_order/description'); ?></p>
    <p><a href="<?php echo $this->getUrl(''); ?>"><?php echo $this->__('Back to homepage'); ?></a></p>
    <?php else: ?>
    <p><?php echo $this->__('You need to have products in your cart to checkout, and your cart is empty.'); ?></p>
    <p><a href="<?php echo $this->getUrl(''); ?>"><?php echo $this->__('Back to homepage'); ?></a></p>
    <?php endif; ?>
<?php else: ?>

<form id="onestepcheckout-form" method="post" action="<?php echo $this->getUrl('onestepcheckout', array('_secure'=>true)); ?>">
<fieldset class="group-select" style="margin-bottom: 10px;">

<?php if($this->settings['checkout_title']): ?>
    <h1 class="onestepcheckout-title"><?php echo $this->settings['checkout_title']; ?></h1>
<?php endif; ?>

<?php if($this->settings['checkout_description']): ?>
    <p class="onestepcheckout-description"><?php echo $this->settings['checkout_description']; ?></p>
<?php endif; ?>
<!--
<?php if(!$this->isCustomerLoggedIn() && $helper->showLoginLink()): ?>
    <p class="onestepcheckout-login-link">
        <a id="onestepcheckout-login-link" href="javascript:void(0);"><?php echo $this->__('Already registered? Click here to login.'); ?></a>
    </p>
<?php endif; ?>
-->
<?php if(isset($this->formErrors['unknown_source_error'])): ?>
<div class="onestepcheckout-error">
    <?php echo $this->formErrors['unknown_source_error']; ?>
</div>
<?php endif; ?>
<div class="onestepcheckout-threecolumns checkoutcontainer onestepcheckout-skin-<?php echo $this->settings['skin']; ?> <?php if(Mage::helper('onestepcheckout')->isEnterprise()): ?>onestepcheckout-enterprise<?php endif; ?>">
    <div class="onestepcheckout-column-left">
        <div id="billing_address" style = "margin-top:10px;">
            <script type="text/javascript">
            var billing = new Billing();

            </script>
            <ul>
                <li>
                    <p class="onestepcheckout-numbers onestepcheckout-numbers-<?php echo $step_counter++; ?>"><?php echo "Rechnungsadresse eingeben"; ?></p>
                        <?php if(isset($this->formErrors['billing_error']) && count($this->formErrors['billing_errors']) > 0): ?>
                        <div class="onestepcheckout-error">
                            <?php echo $this->__('Please check red fields below and try again.'); ?>
                        </div>
                        <?php endif; ?>
                </li>
                <?php if ($this->customerHasAddresses()): ?>
                <li>
                    <label for="billing-address-select"><?php echo $this->__('Select a billing address from your address book or enter a new address.') ?></label>
                    <div class="input-box">
                        <?php echo $this->getAddressesHtmlSelect('billing') ?>
                    </div>
                </li>
                <?php endif; ?>  
                <?php if(!$this->isCustomerLoggedIn() && $helper->showLoginLink()): ?>
                      <p class="onestepcheckout-login-link">
                         <a id="onestepcheckout-login-link" style="text-decoration:underline; color: #009EE0;" href="javascript:void(0);" ><?php echo $this->__('Already registered? Click here to login.'); ?></a>
                      </p>
                <?php endif; ?>
                <li>
                    <div>
                        <ul id="billing_address_list" <?php echo (($this->customerHasAddresses() && !$this->getNewAddressSelectValueOnError('billing')) ? 'style = "display:none"' : false ); ?>>
                            <?php echo $this->getChildHtml('billing_address');?>
                            <?php $addressAttributes = $this->getChild('customer_form_billing_address_user_defined_attributes');?>
                            <?php if ($addressAttributes): ?>
                                <?php $addressAttributes->setEntity($this->getQuote()->getBillingAddress())->setEntityType('customer_address');?>
                                <?php $addressAttributes->setFieldIdFormat('billing:%1$s')->setFieldNameFormat('billing[%1$s]');?>
                                <?php echo $addressAttributes->setExcludeFileAttributes(true)->setShowContainer(false)->toHtml()?>
                            <?php endif;?>
                            <?php $customerAttributes = $this->getChild('customer_form_customer_user_defined_attributes');?>
                            <?php if ($customerAttributes): ?>
                                <?php $customerAttributes->setEntityModelClass('customer/customer')->setFieldIdFormat('billing:%1$s');?>
                                <?php $customerAttributes->setFieldNameFormat('billing[%1$s]')->setShowContainer(false);?>
                                <?php echo $customerAttributes->setExcludeFileAttributes(true)->toHtml()?>
                            <?php endif;?>
                        </ul>
                    </div>
                </li>
                <li>
                    <?php $uncheck = (!empty($_POST['billing']) && empty($_POST['billing']['use_for_shipping']));?>
                    <?php if($this->differentShippingAvailable()): ?>
                        <div class="input-box input-different-shipping">
                            <input type="checkbox" name="billing[use_for_shipping]" id="billing:use_for_shipping_yes" checked value="1" <?php echo (($this->sameAsBilling() && !$uncheck) ? 'checked="checked" ':'')?>/>
                            <label for="billing:use_for_shipping_yes"><?php echo $this->__('Ship to the same address')?></label>
                        </div>
                    <?php else: ?>
                        <input type="hidden" name="billing[use_for_shipping]" id="billing:use_for_shipping_yes" value="1" />
                    <?php endif; ?>
                </li>
            </ul>
        </div>
    <?php if($this->differentShippingAvailable()): ?>
        <div id="shipping_address" <?php  echo (($this->sameAsBilling() && !$uncheck) ? 'style="display: none"': false);?>>
            <script type="text/javascript">
                var shipping = new Shipping();
            </script>
            <ul>
                <li class="shipping-address-title">
                    <?php echo $this->__('Shipping address'); ?>
                </li>
                <?php if ($this->customerHasAddresses()): ?>
                   <li class="form-alt">
                       <label for="shipping-address-select"><?php echo $this->__('Select a shipping address from your address book or enter a new address.') ?></label>
                       <div class="input-box"><?php echo $this->getAddressesHtmlSelect('shipping') ?></div>
                   </li>
                <?php endif ?>
                <li id="shipping_address_list" <?php if($this->customerHasAddresses() && !$this->getNewAddressSelectValueOnError('shipping')) { echo '  style="display: none;" '; } ?>>
                    <div id="">
                        <ul>
                            <?php echo $this->getChildHtml('shipping_address');?>
                            <?php $addressAttributes = $this->getChild('customer_form_shipping_address_user_defined_attributes');?>
                            <?php if ($addressAttributes): ?>
                                <?php $addressAttributes->setEntity($this->getQuote()->getShippingAddress())->setEntityType('customer_address');?>
                                <?php $addressAttributes->setFieldIdFormat('shipping:%1$s')->setFieldNameFormat('shipping[%1$s]');?>
                                <?php echo $addressAttributes->setExcludeFileAttributes(true)->setShowContainer(false)->toHtml()?>
                            <?php endif;?>
                        </ul>
                        <input type="hidden" name="shipping[address_id]" value="<?php echo $this->getQuote()->getShippingAddress()->getId() ?>" id="shipping:address_id" />
                        <!-- END LIST OF SHIPPIING FIELDS -->
                    </div>
                </li>
            </ul>
        </div>
    <?php endif; ?>
    <div style="padding-top: 16px;"><span class="required">*</span> Pflichtfelder</div>
</div>

    <div class="onestepcheckout-column-middle">


        <?php if(!$this->isVirtual()): ?>
            <?php if(Mage::getStoreConfig('onestepcheckout/general/hide_shipping_method')):?>
                <?php if(isset($this->formErrors['shipping_method']) && $this->formErrors['shipping_method']): ?>
                    <div class="onestepcheckout-error onestepcheckout-shipment-method-error">
                        <?php echo $this->__('Please choose a shipping method.'); ?>
                    </div>
                <?php endif; ?>
                <?php echo $this->getChildHtml('choose-shipping-method'); ?> 
            <?php else:?>
                <div class="onestepcheckout-shipping-method" style = "margin-top:10px;">
                 <p class="onestepcheckout-numbers onestepcheckout-numbers-<?php echo $step_counter++; ?>"><?php echo $this->__('Shipping method'); ?></p>

                    <?php if(isset($this->formErrors['shipping_method']) && $this->formErrors['shipping_method']): ?>
                    <div class="onestepcheckout-error onestepcheckout-shipment-method-error">
                        <?php echo $this->__('Please choose a shipping method.'); ?>
                    </div>
                    <?php endif; ?>

                    <div class="onestepcheckout-shipping-method-block">
                        <?php echo $this->getChildHtml('choose-shipping-method'); ?>
                    </div>
                </div>
            <?php endif; ?>
        <?php endif; ?>

        <?php if(Mage::getStoreConfig('onestepcheckout/general/hide_payment_method')):?>
            <?php if(!empty($this->formErrors['payment_method'])): ?>
            <div class="onestepcheckout-error onestepcheckout-payment-method-error">
                <?php echo $this->__('Please choose a payment method.'); ?>
            </div>
            <?php endif; ?>
            <?php if(!empty($this->formErrors['payment_method_error'])): ?>
                <div class="onestepcheckout-error onestepcheckout-payment-method-error">
                    <?php echo $this->__('Please enter valid details below.'); ?>
                </div>
            <?php endif; ?>
            <?php echo $this->getChildHtml('choose-payment-method'); ?>
        <?php else: ?>
            <p class="onestepcheckout-numbers onestepcheckout-numbers-<?php echo $step_counter++; ?>"><?php  echo "Wie möchten Sie zahlen?"; ?></p>
            <?php if(isset($this->formErrors['payment_method']) && $this->formErrors['payment_method']): ?>
                <div class="onestepcheckout-error onestepcheckout-payment-method-error">
                    <?php echo $this->__('Please choose a payment method.'); ?>
                </div>
            <?php else: ?>
                <?php if(isset($this->formErrors['payment_method_error'])): ?>
                    <div class="onestepcheckout-error onestepcheckout-payment-method-error">
                        <?php echo $this->__('Please enter valid details below.'); ?>
                    </div>
                <?php endif; ?>
            <?php endif; ?>

            <?php echo $this->getChildHtml('choose-payment-method'); ?>

            <div class="tool-tip" id="payment-tool-tip" style="display:none;">
                <div class="btn-close">
                    <a href="javascript:void(0);" id="payment-tool-tip-close"><img src="<?php echo $this->getSkinUrl('images/btn_window_close.gif') ?>" alt="<?php echo $this->__('Close') ?>" /></a>
                </div>
                <div class="block-content">
                <img src="<?php echo $this->getSkinUrl('images/cvv.gif') ?>" alt="<?php echo $this->__('Card Verification Number Visual Reference') ?>" />
                </div>
            </div>
        <?php endif; ?>
   


<?php # Papier box ?>
<?php $_extraProductsHelper = Mage::helper('onestepcheckout/extraproducts'); ?>
<div id= "extra_products" style =' border: 1px solid #CFCFCF;margin: 20px -7px 0px; 0; padding: 8px 12px;width:260px;height:375px;text-align:center;' >
<?php echo "<h2 style='font-size:16px;font-weight:bold;'>Warum Papier mitbestellen?</h2>"; 
	  echo "<div id='tipps' style='margin-left:5px;margin-top:5px;text-align:left;'>";
	  echo "<span>1. Weil keine weiteren Versandkosten anfallen.</span><br>";
      echo "<span>2. Weil wir Ihnen das Papier bis zur Tür tragen.</span><br>";
      echo "<span>3. Weil wir super Preise und Rabatte anbieten.</span>";
      echo "</div>";
?>

  
   <?php 
   				$_extraProductsHelper = Mage::helper('onestepcheckout/extraproducts');
            	if($_extraProductsHelper->hasExtraProducts()):
            	  echo '<div class="onestepcheckout-extraproducts" style="width:260px;height:30px;size:20px;font-size:20px;">';
            	   echo '<div class="onestepcheckout-extraproducts">';
                   echo '<ul style="background:#F4F4F4;border: 1px solid #CFCFCF;margin: 10px -13px 0px; 0; padding: 8px 0px;">';
                	foreach($_extraProductsHelper->getExtraProducts() as $product):
                 		echo '<li><div style="float:left;margin-top:-1px;"><input type="checkbox" class="css-checkbox onestepcheckout-extra-product"';
                    	if($_extraProductsHelper->productInCart($product->getId())):
                        	echo 'checked="checked"';
                        endif;
                        echo 'name="extra_products_'.$product->getId().'"'; 
                        echo 'id="id_extra_product_'.$product->getId().'" /> &nbsp;';
                    	echo '<label class="css-label" for="id_extra_product_'.$product->getId().'"></div>'; 
        				echo "<div style='font-size:12px;text-align:left; margin-left: 25px;' class='onestepcheckout-extraproduct-body'>";
                    	if ( $product->getId() =='32204' ) { echo "<b>1x</b> Universal-Papier, DIN A4, 80g/m&sup2;, 500 Blatt <b>nur ".str_replace(".",",",sprintf("%.2f",round(($product->getPrice()*1.19),2)))." €*</b>"; } 
                    	elseif ( $product->getId() =='32206' ) { echo "<b>10x</b> Universal-Papier, DIN A4, 80g/m&sup2;, 500 Blatt <b>nur ".str_replace(".",",",sprintf("%.2f",round(($product->getPrice()*1.19),2)))." €*</b> (<span style='color:#51AA1C'>15% gespart**</span>)"; } 
                    	elseif ( $product->getId() =='32670' ) { echo "<b>20x</b> Universal-Papier, DIN A4, 80g/m&sup2;, 500 Blatt <b>nur ".str_replace(".",",",sprintf("%.2f",round(($product->getPrice()*1.19),2)))." €*</b> (<span style='color:#51AA1C'>20% gespart**</span>)"; } 
                    	
                    	echo "</div>";
         			    echo "</label></li>";
                    endforeach; 
        ?>
                </ul>
            </div>
 
                    
                     
                      
                    
                    


                    
<div><img style="float:left; margin-left:10px;" src="/skin/frontend/default/blank/images/media/checkout/druckerpatronen_lkw.jpg" alt="Druckerpatronen LKW Lieferung"><img style="float:right;margin-right:10px;" src="/skin/frontend/default/blank/images/media/checkout/druckerpatronen_lieferung.jpg" alt="Druckerpatronen Lieferung"></div>        

           

  
<script>
function css_browser_selector(u){var ua=u.toLowerCase(),is=function(t){return ua.indexOf(t)>-1},g='gecko',w='webkit',s='safari',o='opera',m='mobile',h=document.documentElement,b=[(!(/opera|webtv/i.test(ua))&&/msie\s(\d)/.test(ua))?('ie ie'+RegExp.$1):is('firefox/2')?g+' ff2':is('firefox/3.5')?g+' ff3 ff3_5':is('firefox/3.6')?g+' ff3 ff3_6':is('firefox/3')?g+' ff3':is('gecko/')?g:is('opera')?o+(/version\/(\d+)/.test(ua)?' '+o+RegExp.$1:(/opera(\s|\/)(\d+)/.test(ua)?' '+o+RegExp.$2:'')):is('konqueror')?'konqueror':is('blackberry')?m+' blackberry':is('android')?m+' android':is('chrome')?w+' chrome':is('iron')?w+' iron':is('applewebkit/')?w+' '+s+(/version\/(\d+)/.test(ua)?' '+s+RegExp.$1:''):is('mozilla/')?g:'',is('j2me')?m+' j2me':is('iphone')?m+' iphone':is('ipod')?m+' ipod':is('ipad')?m+' ipad':is('mac')?'mac':is('darwin')?'mac':is('webtv')?'webtv':is('win')?'win'+(is('windows nt 6.0')?' vista':''):is('freebsd')?'freebsd':(is('x11')||is('linux'))?'linux':'','js']; c = b.join(' '); h.className += ' '+c; return c;}; css_browser_selector(navigator.userAgent);

            Event.observe(window, 'load', function() {
                $$('input.onestepcheckout-extra-product').invoke('observe', 'click', function(e) {
                    var id_temp = e.element().id.split('id_extra_product_');
                    if(id_temp.length == 2) {
                        var product_id = id_temp[1];
                        var url = '<?php echo $this->getUrl('onestepcheckout/ajax/add_extra_product'); ?>';
                        var parameters = {
                            product_id: product_id
                        }

                        if(!e.element().checked) {
                            parameters['remove'] = 1;
                        }

                        var summary = $$('div.onestepcheckout-summary').first();
                        summary.update('<div class="loading-ajax">&nbsp;</div>');

                        new Ajax.Request(url, {
                            method: 'post',
                            parameters: parameters,
                            onSuccess: function(transport)  {
                                summary.update(transport.responseText);
								hasOriginalProduct(true);
                            }
                        });
                   };
                });
				

				$$('.onestepcheckout-extraproduct-body').invoke('observe', 'click', function(e) {
				
					if (e.element().up('li').firstChild.firstChild.checked) {
						e.element().up('li').firstChild.firstChild.checked = false;
					} else {
						e.element().up('li').firstChild.firstChild.checked = true;
					}

					var id_temp = e.element().up('li').firstChild.firstChild.id.split('id_extra_product_');
                    if(id_temp.length == 2) {
                        var product_id = id_temp[1];
                        var url = '<?php echo $this->getUrl('onestepcheckout/ajax/add_extra_product'); ?>';
                        var parameters = {
                            product_id: product_id
                        }

                        if(!e.element().up('li').firstChild.firstChild.checked) {
                            parameters['remove'] = 1;
                        }

                        var summary = $$('div.onestepcheckout-summary').first();
                        summary.update('<div class="loading-ajax">&nbsp;</div>');

                        new Ajax.Request(url, {
                            method: 'post',
                            parameters: parameters,
                            onSuccess: function(transport)  {
                                summary.update(transport.responseText);
								hasOriginalProduct(true);
                            }
                        });
                   };
				});
				
			});
</script>
       
  		</div>
  		<span style="float:left;margin-top:5px;font-size:9px;color:#88888C;text-align:left;line-height:1.1">*Preise inkl. MwSt. zzgl. Versandkosten<br>**im Vergleich zum Einzelkauf</span>  
</div>

<?php endif; ?>
<?php # ende Papierbox ?>

    </div>
    <div class="onestepcheckout-column-right">

        <p class="onestepcheckout-numbers onestepcheckout-numbers-3"><?php echo $this->__('Review your order'); ?></p>

        <div class="onestepcheckout-summary" id="onestepcheckout-summary">
            <?php echo $this->getChildHtml('summary'); ?>
        </div>

        <?php if($this->settings['enable_discount']): ?>
        <div class="onestepcheckout-coupons">
            <div id="coupon-notice" style="display: none;"></div>
            <?php $_couponcode = $this->getQuote()->getCouponCode(); ?>
            <label for="id_couponcode"><?php echo $this->__('Coupon code:'); ?></label><br/>
            <input class="input-text" type="text" name="onestepcheckout-couponcode" id="id_couponcode" value="<?php echo Mage::helper('core')->htmlEscape($_couponcode); ?>" />
            <br/>
            <button id="onestepcheckout-coupon-add" class="form-button-alt" type="button"><span><?php echo $this->__('Apply Coupon'); ?></span></button>
            <button id="onestepcheckout-coupon-remove" class="form-button-alt" type="button" style="<?php if($_couponcode == '') { echo 'display: none;'; } ?>"><span><?php echo $this->__('Cancel Coupon'); ?></span></button>
            <script>
            Event.observe(window, 'load', function() {
                $('onestepcheckout-coupon-add').observe('click', function(e)    {

                    var coupon = $('id_couponcode').getValue();
                    var couponNotice = $('coupon-notice');

                    couponNotice.hide();

                    if(coupon == '')  {
                        alert('<?php echo $this->__('Please enter a valid coupon code.'); ?>');
                        return;
                    }

                    var url = '<?php echo $this->getUrl('onestepcheckout/ajax/add_coupon', array('_secure'=>true)); ?>';
                    var parameters = {code: coupon};
                    var shipping_methods = $$('dl.shipment-methods').first();
                    var payment_methods = $$('div.payment-methods').first();
                    var summary = $$('div.onestepcheckout-summary').first();

                    if(shipping_methods){
                        shipping_methods.update('<div class="loading-ajax">&nbsp;</div>');
                    }

                    if(payment_methods){
                        payment_methods.update('<div class="loading-ajax">&nbsp;</div>');
                    }

                    summary.update('<div class="loading-ajax">&nbsp;</div>');

                    new Ajax.Request(url, {
                        method: 'post',
                        parameters: parameters,
                        onSuccess: function(transport) {
                            if(transport.status == 200) {

                                var response = transport.responseText.evalJSON();

                                var url = '<?php echo $this->getUrl('onestepcheckout/ajax/set_methods_separate', array('_secure'=>true)); ?>';
                                var update_payments = <?php echo $this->settings['enable_update_payment_on_shipping'] ? 'true' : 'false'; ?>;

                                if(shipping_methods){
                                    shipping_methods.hide();
                                    shipping_methods.update(response.shipping_method);
                                    shipping_methods.show();
                                    $$('dl.shipment-methods input').invoke('observe', 'click', get_separate_save_methods_function(url, update_payments));
                                    $$('dl.shipment-methods input').invoke('observe', 'click', function() {
                                        $$('div.onestepcheckout-shipment-method-error').each(function(item) {
                                            new Effect.Fade(item);
                                        });
                                    });
                                }

                                if(payment_methods){
                                    payment_methods.hide();
                                    payment_methods.replace(response.payment_method);
                                    payment_methods.show();

                                    paymentContainer = $('container_payment_method_' + payment.currentMethod)
                                    paymentForm = $('payment_form_' + payment.currentMethod)

                                    if(paymentContainer != null){
                                        paymentContainer.show();
                                    }
                                    if(paymentForm != null){
                                        paymentForm.show();
                                    }
                                    $$('div.payment-methods input[name^=payment\[method\]]').invoke('observe', 'click', get_separate_save_methods_function(url));
                                    $$('div.payment-methods input[name^=payment\[method\]]').invoke('observe', 'click', function() {
                                        $$('div.onestepcheckout-payment-method-error').each(function(item) {
                                            new Effect.Fade(item);
                                        });
                                    });
                                }

                                summary.hide();
                                summary.update(response.summary);
                                summary.show();

                                if(response.success) {

                                    couponNotice.update(response.message);
                                    couponNotice.removeClassName('error-msg');
                                    couponNotice.addClassName('success-msg');
                                    couponNotice.show();
                                    /* Show remove button */
                                    $('onestepcheckout-coupon-remove').show();
                                }
                                else    {

                                    couponNotice.update(response.message);
                                    couponNotice.removeClassName('success-msg');
                                    couponNotice.addClassName('error-msg');
                                    couponNotice.show();
                                    /* Hide remove button */
                                    $('onestepcheckout-coupon-remove').hide();
                                }
                            }
                        }
                    });
                });

                $('onestepcheckout-coupon-remove').observe('click', function(e) {

                    var coupon = $('id_couponcode').getValue();
                    var couponNotice = $('coupon-notice');

                    couponNotice.hide();

                    var url = '<?php echo $this->getUrl('onestepcheckout/ajax/add_coupon', array('_secure'=>true)); ?>';
                    var parameters = {code: coupon, remove: '1'};
                    var shipping_methods = $$('dl.shipment-methods').first();
                    var payment_methods = $$('div.payment-methods').first();
                    var summary = $$('div.onestepcheckout-summary').first();

                    if(shipping_methods){
                        shipping_methods.update('<div class="loading-ajax">&nbsp;</div>');
                    }

                    if(payment_methods){
                        payment_methods.update('<div class="loading-ajax">&nbsp;</div>');
                    }
                    summary.update('<div class="loading-ajax">&nbsp;</div>');

                    new Ajax.Request(url, {
                        method: 'post',
                        parameters: parameters,
                        onSuccess: function(transport)  {
                            if(transport.status == 200) {
                                var response = transport.responseText.evalJSON();

                                if(response.success){
                                    $('id_couponcode').setValue('')
                                    $('onestepcheckout-coupon-remove').hide();
                                }

                                var url = '<?php echo $this->getUrl('onestepcheckout/ajax/set_methods_separate', array('_secure'=>true)); ?>';
                                var update_payments = <?php echo $this->settings['enable_update_payment_on_shipping'] ? 'true' : 'false'; ?>;

                                if(shipping_methods){
                                    shipping_methods.hide();
                                    shipping_methods.update(response.shipping_method);
                                    shipping_methods.show();
                                    $$('dl.shipment-methods input').invoke('observe', 'click', get_separate_save_methods_function(url, update_payments));
                                    $$('dl.shipment-methods input').invoke('observe', 'click', function() {
                                        $$('div.onestepcheckout-shipment-method-error').each(function(item) {
                                            new Effect.Fade(item);
                                        });
                                    });
                                }

                                if(payment_methods){
                                    payment_methods.hide();
                                    payment_methods.replace(response.payment_method);
                                    payment_methods.show();

                                    paymentContainer = $('container_payment_method_' + payment.currentMethod)
                                    paymentForm = $('payment_form_' + payment.currentMethod)

                                    if(paymentContainer != null){
                                        paymentContainer.show();
                                    }

                                    if(paymentForm != null){
                                        paymentForm.show();
                                    }
                                    $$('div.payment-methods input[name^=payment\[method\]]').invoke('observe', 'click', get_separate_save_methods_function(url));
                                    $$('div.payment-methods input[name^=payment\[method\]]').invoke('observe', 'click', function() {
                                        $$('div.onestepcheckout-payment-method-error').each(function(item) {
                                            new Effect.Fade(item);
                                        });
                                    });
                                }

                                summary.hide();
                                summary.update(response.summary);
                                summary.show();

                                couponNotice.hide();
                                couponNotice.update(response.message);
                                couponNotice.removeClassName('error-msg');
                                couponNotice.addClassName('success-msg');
                                couponNotice.show();
                            }
                        }
                    });
                });
            });
            </script>
        </div>
        <?php endif; ?>

        <?php if($this->settings['enable_giftcard']): ?>
        <div class="onestepcheckout-giftcards">
            <div id="giftcard-notice" style="display: none;"></div>
            <?php
            $_hasGiftCards = unserialize($this->getQuote()->getGiftCards());
            $_giftcardcode = $this->getQuote()->getgiftcardCode(); ?>
            <label for="id_giftcardcode"><?php echo $this->__('giftcard code:'); ?></label><br/>
            <input class="input-text" type="text" name="onestepcheckout-giftcardcode" id="id_giftcardcode" value="<?php echo Mage::helper('core')->htmlEscape($_giftcardcode); ?>" />
            <br/>
            <button id="onestepcheckout-giftcard-add" class="form-button-alt" type="button"><span><?php echo $this->__('Apply giftcard'); ?></span></button>
            <button id="onestepcheckout-giftcard-remove" class="form-button-alt" type="button" style="<?php if(empty($_hasGiftCards)) { echo 'display: none;'; } ?>"><span><?php echo $this->__('Cancel giftcard'); ?></span></button>
            <script>
            document.observe('dom:loaded', function() {
                $('onestepcheckout-giftcard-add').observe('click', function(e)    {
                    var giftcard = $('id_giftcardcode').getValue();
                    var giftcardNotice = $('giftcard-notice');
                    giftcardNotice.hide();
                    if(giftcard == '')    {
                        alert('<?php echo $this->__('Please enter a valid giftcard code.'); ?>');
                        return;
                    }

                    var url = '<?php echo $this->getUrl('onestepcheckout/ajax/add_giftcard', array('_secure'=>true)); ?>';
                    var parameters = {code: giftcard};
                    var shipping_methods = $$('dl.shipment-methods').first();
                    var payment_methods = $$('div.payment-methods').first();
                    var summary = $$('div.onestepcheckout-summary').first();

                    if(shipping_methods){
                        shipping_methods.update('<div class="loading-ajax">&nbsp;</div>');
                    }

                    if(payment_methods){
                        payment_methods.update('<div class="loading-ajax">&nbsp;</div>');
                    }
                    summary.update('<div class="loading-ajax">&nbsp;</div>');

                    new Ajax.Request(url+Math.random(1000), {
                        method: 'post',
                        parameters: parameters,
                        onSuccess: function(transport) {
                            if(transport.status == 200) {

                                var response = transport.responseText.evalJSON();

                                var url = '<?php echo $this->getUrl('onestepcheckout/ajax/set_methods_separate', array('_secure'=>true)); ?>';
                                var update_payments = <?php echo $this->settings['enable_update_payment_on_shipping'] ? 'true' : 'false'; ?>;

                                if(shipping_methods){
                                    shipping_methods.hide();
                                    shipping_methods.update(response.shipping_method);
                                    shipping_methods.show();
                                    $$('dl.shipment-methods input').invoke('observe', 'click', get_separate_save_methods_function(url, update_payments));
                                    $$('dl.shipment-methods input').invoke('observe', 'click', function() {
                                        $$('div.onestepcheckout-shipment-method-error').each(function(item) {
                                            new Effect.Fade(item);
                                        });
                                    });
                                }

                                if(payment_methods){
                                    //payment_methods.hide();
                                    payment_methods.replace(response.payment_method);
                                    //payment_methods.show();

                                    paymentContainer = $('container_payment_method_' + payment.currentMethod)
                                    paymentForm = $('payment_form_' + payment.currentMethod)

                                    if(paymentContainer != null){
                                        paymentContainer.show();
                                    }
                                    if(paymentForm != null){
                                        paymentForm.show();
                                    }
                                    $$('div.payment-methods input[name^=payment\[method\]]').invoke('observe', 'click', get_separate_save_methods_function(url));
                                    $$('div.payment-methods input[name^=payment\[method\]]').invoke('observe', 'click', function() {
                                        $$('div.onestepcheckout-payment-method-error').each(function(item) {
                                            new Effect.Fade(item);
                                        });
                                    });
                                }

                                if(response.success) {
                                    summary.update(response.summary);
                                    giftcardNotice.update(response.message);
                                    giftcardNotice.removeClassName('error-msg');
                                    giftcardNotice.addClassName('success-msg');
                                    giftcardNotice.show();
                                    /* Show remove button */
                                    $('onestepcheckout-giftcard-remove').show();
                                }
                                else    {
                                    summary.update(response.summary);
                                    giftcardNotice.update(response.message);
                                    giftcardNotice.removeClassName('success-msg');
                                    giftcardNotice.addClassName('error-msg');
                                    giftcardNotice.show();
                                    /* Hide remove button */
                                    //$('onestepcheckout-giftcard-remove').hide();
                                }
                            }
                        }
                    });
                });

                $('onestepcheckout-giftcard-remove').observe('click', function(e) {
                    var giftcard = $('id_giftcardcode').getValue();
                    var giftcardNotice = $('giftcard-notice');
                    giftcardNotice.hide();
                    var url = '<?php echo $this->getUrl('onestepcheckout/ajax/add_giftcard', array('_secure'=>true)); ?>';
                    var parameters = {code: giftcard, remove: '1'};
                    var shipping_methods = $$('dl.shipment-methods').first();
                    var payment_methods = $$('div.payment-methods').first();
                    var summary = $$('div.onestepcheckout-summary').first();

                    if(shipping_methods){
                        shipping_methods.update('<div class="loading-ajax">&nbsp;</div>');
                    }

                    if(payment_methods){
                        payment_methods.update('<div class="loading-ajax">&nbsp;</div>');
                    }
                    summary.update('<div class="loading-ajax">&nbsp;</div>');

                    new Ajax.Request(url, {
                        method: 'post',
                        parameters: parameters,
                        onSuccess: function(transport)  {
                            if(transport.status == 200) {
                                var response = transport.responseText.evalJSON();

                                var url = '<?php echo $this->getUrl('onestepcheckout/ajax/set_methods_separate', array('_secure'=>true)); ?>';
                                var update_payments = <?php echo $this->settings['enable_update_payment_on_shipping'] ? 'true' : 'false'; ?>;

                                if(shipping_methods){
                                    shipping_methods.hide();
                                    shipping_methods.update(response.shipping_method);
                                    shipping_methods.show();
                                    $$('dl.shipment-methods input').invoke('observe', 'click', get_separate_save_methods_function(url, update_payments));
                                    $$('dl.shipment-methods input').invoke('observe', 'click', function() {
                                        $$('div.onestepcheckout-shipment-method-error').each(function(item) {
                                            new Effect.Fade(item);
                                        });
                                    });
                                }

                                if(payment_methods){
                                    $$('div.payment-methods input[name^=payment\[method\]]').invoke('observe', 'click', get_separate_save_methods_function(url));
                                    $$('div.payment-methods input[name^=payment\[method\]]').invoke('observe', 'click', function() {
                                        $$('div.onestepcheckout-payment-method-error').each(function(item) {
                                            new Effect.Fade(item);
                                        });
                                    });
                                    payment_methods.hide();
                                    payment_methods.replace(response.payment_method);
                                    payment_methods.show();

                                    paymentContainer = $('container_payment_method_' + payment.currentMethod)
                                    paymentForm = $('payment_form_' + payment.currentMethod)

                                    if(paymentContainer != null){
                                        paymentContainer.show();
                                    }
                                    if(paymentForm != null){
                                        paymentForm.show();
                                    }
                                }

                                if(response.success){
                                    $('id_giftcardcode').setValue('')
                                    $('onestepcheckout-giftcard-remove').hide();
                                }
                                var summary = $$('div.onestepcheckout-summary').first();

                                summary.hide();
                                summary.update(response.summary);
                                summary.show();

                                giftcardNotice.hide();
                                giftcardNotice.update(response.message);
                                giftcardNotice.removeClassName('error-msg');
                                giftcardNotice.addClassName('success-msg');
                                giftcardNotice.show();
                            }
                        }
                    });
                });
            });
            </script>
        </div>
        <?php endif; ?>

        <?php if($this->settings['enable_comments']): ?>
            <div class="onestepcheckout-comments">
                <label for="id_comments"><?php echo $this->__('Comments'); ?></label><br/>
                <textarea id="id_comments" name="onestepcheckout_comments"><?php if(isset($_POST['onestepcheckout_comments'])) { echo Mage::helper('core')->htmlEscape($_POST['onestepcheckout_comments']); } ?></textarea>
            </div>
        <?php endif; ?>

        <?php if($this->settings['enable_gift_messages']): ?>
            <div id="onestepcheckout-giftmessages">
            <div class="onestepcheckout-giftmessagecontainer">
            <?php echo $this->helper('onestepcheckout/message')->getInline('onepage_checkout', $this->getQuote(), $this->getDontDisplayContainer()) ?>
            </div>
            </div>
        <?php endif; ?>

        <?php $customerEmail = (($this->isCustomerLoggedIn())) ? $this->getQuote()->getCustomer()->getEmail() : false ;?>
        <?php if($this->settings['enable_newsletter'] && !$this->isSubScribed($customerEmail)): ?>
            <div class="onestepcheckout-enable-newsletter">
                <input type="checkbox" id="id_subscribe_newsletter" name="subscribe_newsletter" value="1" <?php if($this->settings['newsletter_default_checked']): ?>checked="checked"<?php endif; ?> />
                <label for="id_subscribe_newsletter"><?php echo $this->__('Subscribe to our newsletter'); ?></label>
            </div>
        <?php endif; ?>

     

        <?php
        /**
         * Feedbackdropdown start
         */
        ?>
        <?php if(!empty($this->settings['feedback']['enable_feedback']) && !empty($this->settings['feedback']['feedback_values'])):?>
            <?php
                $selectedFeedBackFields = $this->getRequest()->getPost('onestepcheckout-feedback', false);
                $feedbackValues = unserialize($this->settings['feedback']['feedback_values']);
            ?>
            <div class="onestepcheckout-feedback" id="">
                <label for="id_feedback"><?php echo $this->__('How did you hear about us?'); ?></label><br>
                <select style="" name="onestepcheckout-feedback" id="id_feedback" defaultvalue="">
                    <option value=""><?php echo $this->__('Please choose'); ?></option>
                    <?php foreach($feedbackValues as $value => $label):
                        $selected= (!empty($selectedFeedBackFields) && $selectedFeedBackFields == $value) ? ' selected' : '';
                    ?>
                    <option value="<?php echo $value?>" <?php echo $selected;?>><?php echo $label['value']?></option>
                    <?php endforeach;?>
                    <?php if(!empty($this->settings['feedback']['enable_feedback_freetext'])):
                        $selected= (empty($feedbackValues[$selectedFeedBackFields]) && $selectedFeedBackFields != '') ? ' selected' : '';
                    ?>
                    <option value="freetext" <?php echo $selected;?>><?php echo $this->__('Other'); ?></option>
                    <?php endif;?>
                </select>
            </div>
            <?php if(!empty($this->settings['feedback']['enable_feedback_freetext'])):?>
                <script type="text/javascript">
                    $('id_feedback').observe('change', function (event){
                        if(this.getValue() == 'freetext'){
                            $('id_feedback_freetext_div').show();
                        } else {
                            $('id_feedback_freetext_div').hide();
                        }
                    });
                </script>
                <div id='id_feedback_freetext_div' class="onestepcheckout-feedback-freetext"<?php echo ((!empty($selectedFeedBackFields) && $selectedFeedBackFields == 'freetext') ? '' : ' style="display: none;"'); ?>>
                    <label for="id_feedback_freetext"><?php echo $this->__('Please specify:'); ?></label><br/>
                    <textarea id="id_feedback_freetext" name="onestepcheckout-feedback-freetext"><?php echo Mage::helper('core')->htmlEscape($this->getRequest()->getPost('onestepcheckout-feedback-freetext', false));?></textarea>
                </div>
            <?php endif; ?>
        <?php endif; ?>
        <?php
        /**
         * Feedbackdropdown end
         */
        ?>

        <?php if($this->settings['enable_terms']): //deprecated?>
            <div class="onestepcheckout-enable-terms" style ="margin-bottom:10px;">
                <?php

                if(isset($this->formErrors['terms_error']) && $this->formErrors['terms_error']) {
                    $terms_error = true;
                }
                else    {
                    if($_SERVER['REQUEST_METHOD'] == 'POST')    {
                        $terms_error = false;
                    }
                    else    {
                        $terms_error = true;
                    }
                }
                ?>
                <div class="onestepcheckout-place-order-wrapper" style="padding-bottom:10px;padding-left:24px;">
            <a title="<?php echo $this->__('Place order now'); ?>" id="onestepcheckout-place-order" class="onestepcheckout-button-dp onestepcheckout-place-order" href="javascript:void(0);"><span><span><?php echo $this->__('Place order now'); ?></span></span></a>
             </div>
             
                <div style="float: left; height: 32px; margin-left:23px;visibility:hidden;">
                <input class="required-entry" type="checkbox" id="id_accept_terms" name="accept_terms" value="1" checked="checked" />
                </div>
                <label for="id_accept_terms" style="display: block;"><?php echo '<a style="color: #88888C;" target="_blank" onclick="window.open(this.href, \'popupwindow\', \'width=700,height=800,scrollbars=1,resizable=1,top=50,left=50\'); return false;" href="/100-tage-rueckgaberecht-popup">100-Tage-Rückgaberecht!</a> Es gelten<br>unsere <a style="color: #88888C;" href="/agb-popup" onclick="window.open(this.href, \'popupwindow\', \'width=700,height=800,scrollbars=1,resizable=1,top=50,left=50\'); return false;">AGB</a>, Info zum <a style="color: #88888C;" target="_blank" href="/widerruf-popup" onclick="window.open(this.href, \'popupwindow\', \'width=700,height=800,scrollbars=1,resizable=1,top=50,left=50\'); return false;">Widerrufsrecht</a>'; ?></label>

                <?php if(isset($this->formErrors['terms_error']) && $this->formErrors['terms_error']): ?>
                <div class="onestepcheckout-error onestepcheckout-terms-error">
                    <?php echo $this->__('You must accept our terms to continue.');?>

                </div>
                <?php endif; ?>

            </div>
            
        <?php endif; ?>

        <?php
        /**
         * Default magento agreements
         */
        ?>
        <?php if($this->settings['enable_default_terms']): ?>
            <?php if(!empty($this->formErrors['agreements_error'])):?>
            <div class="onestepcheckout-error onestepcheckout-terms-error">
                <?php echo $this->__('Please agree to all the terms and conditions before placing the order.'); ?>
            </div>
            <?php endif;?>
            <?php echo $this->getChildHtml('agreements') ?>
            <script type="text/javascript">

                    var termsmodals = new Object;

                    document.observe('dom:loaded', function() {
                        $$('.checkout-agreements li p input').each(
                            function(elem){
                                elem.addClassName('required-entry');
                            }
                        );
                    });

                    <?php if($this->settings['enable_textarea']):?>
                    document.observe('dom:loaded', function() {
                        $$('.checkout-agreements li p label').each(
                            function(elem){
                                elem.up().insert('<a href="javascript:void(0);" onclick="termsmodals[\'' + elem.htmlFor + '\'].open();">' + elem.innerHTML + '</a>');
                                elem.hide();
                            }
                        );
                        $$('div.agreement-content').each(
                            function(element){
                                element.id = 'agreement-div-' + element.up('li').down('input').id;
                                $$('body')[0].insert(element);
                            }
                        );
                        $$('.checkout-agreements li p input').each(
                            function(elem){
                                window.termsmodals[elem.id] = new Control.Modal($('agreement-div-' + elem.id),{
                                    overlayOpacity: 0.75,
                                    className: 'modal',
                                    fade: true,
                                    closeOnClick: true,
                                    height: 400,
                                    width: 700
                                });
                            }
                        );
                    });
                    <?php endif;?>

            </script>
        <?php endif;?>
        <?php
        /**
         * Default magento agreements end
         */
        ?>

        <div class="onestepcheckout-vorteile">
            <div class="onestepcheckout-vorteile-sicherheit">
                <a rel="nofollow" href="https://www.trustedshops.com/shop/certificate.php?shop_id=X9B616552B35F3AAE4E92C7FF9DD83756" onclick="window.open(this.href, 'popupwindow', 'width=700,height=800,scrollbars=1,resizable=1,top=50,left=50'); return false;" class="onestepcheckout-vorteile-sicherheit-trustedshops"></a>
                <a href="/garantie-popup/" onclick="window.open(this.href, 'popupwindow', 'width=700,height=800,scrollbars=1,resizable=1,top=50,left=50'); return false;" class="onestepcheckout-vorteile-sicherheit-garantie"></a>
                <a href="/sicher-einkaufen-popup/" onclick="window.open(this.href, 'popupwindow', 'width=700,height=800,scrollbars=1,resizable=1,top=50,left=50'); return false;" class="onestepcheckout-vorteile-sicherheit-ssl"></a>
            </div>
            <h6>Einkaufen ohne Risiko</h6>
            <ul>
                <li style="border-top: 0;"><a href="http://www.druckerpatronen.de/100-tage-rueckgaberecht-popup/" onclick="window.open(this.href, 'popupwindow', 'width=700,height=800,scrollbars=1,resizable=1,top=50,left=50'); return false;">100 Tage Rückgaberecht</a></li>
                <li><a href="http://www.druckerpatronen.de/garantie-popup/" onclick="window.open(this.href, 'popupwindow', 'width=700,height=800,scrollbars=1,resizable=1,top=50,left=50'); return false;">3 Jahre Garantie</a></li>
                <li><a href="http://www.druckerpatronen.de/sicher-einkaufen-popup/" onclick="window.open(this.href, 'popupwindow', 'width=700,height=800,scrollbars=1,resizable=1,top=50,left=50'); return false;">Sichere Zahlung</a></li>
                <li><a href="http://www.druckerpatronen.de/datenschutz-popup/" onclick="window.open(this.href, 'popupwindow', 'width=700,height=800,scrollbars=1,resizable=1,top=50,left=50'); return false;">Datenschutz</a></li>
                <li><a href="http://www.druckerpatronen.de/zahlung-versand-popup/" onclick="window.open(this.href, 'popupwindow', 'width=700,height=800,scrollbars=1,resizable=1,top=50,left=50'); return false;">Günstige Preise</a></li>
                <li><a href="http://www.druckerpatronen.de/zahlung-versand-popup/" onclick="window.open(this.href, 'popupwindow', 'width=700,height=800,scrollbars=1,resizable=1,top=50,left=50'); return false;">Schnelle Lieferung</a></li>
            </ul>
            <div style="clear: both; height: 0;"></div>
        </div>
        <!--
        <div style ="padding-top:20px;">
            <p><?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('vorteile_checkout')->toHtml() ?></p>
        </div>
        -->
    </div>
    <div style="clear: both; height: 0;"></div>
</div>
</fieldset>
</form>

<?php if(!$this->isCustomerLoggedIn() && $helper->showLoginLink()): ?>
    <?php echo $this->getChildHtml('login-popup'); ?>
<?php endif; ?>

<?php if($helper->isValidateEmail()): ?>
<script>
$('billing:email').observe('blur', function(e)    {
    var url = '<?php echo $this->getUrl('onestepcheckout/ajax/check_email', array('_secure'=>true)); ?>';
    var email = e.element().getValue();
    var parameters = { email: email };

    new Ajax.Request(url, {
        parameters: parameters,
        onComplete: function(response)  {
            if(response.status == 200)  {
                var result = response.responseText.evalJSON().result;
                if(result == 'invalid') {
                    $('onestepcheckout-email-error-message').update('<?php echo $this->__('Invalid email address.'); ?>');
                    $('onestepcheckout-email-error').show();
                }
                else if(result == 'exists') {
                    <?php if($this->settings['registration_order_without_password']): ?>
                    // Remove the password fields if the email exists in database
                    $('onestepcheckout-li-password').hide();
                    <?php else: ?>

                    $('onestepcheckout-email-error-message').update('<?php echo $this->__('Email address already registered. Please <a href="javascript:void(0);" onclick="login_popup.show(); return false;">login now</a> or use a different email address.'); ?>');
                    $('onestepcheckout-email-error').show();
                    // Ask the user to login or change email address
                    //login_popup.show();
                    $('id_onestepcheckout_username').value = email;
                    <?php endif; ?>
                }
                else    {
                    $('onestepcheckout-email-error').hide();
                    $('onestepcheckout-li-password').show();
                }
            }
        }
    })

});
Validation.add('validate-email', '<?php echo $this->__('This is a required field.') ?>', function(v) {
    var url = '<?php echo $this->getUrl('onestepcheckout/ajax/check_email', array('_secure'=>true)); ?>';
    var email = v;
    var parameters = { email: email };
    var value = Validation.get('IsEmpty').test(v) || /^([a-z0-9,!\#\$%&'\*\+\/=\?\^_`\{\|\}~-]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z0-9,!\#\$%&'\*\+\/=\?\^_`\{\|\}~-]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*@([a-z0-9-]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z0-9-]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*\.(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]){2,})$/i.test(v)

    new Ajax.Request(url, {
        parameters: parameters,
        asynchronous: false,
        onComplete: function(response)  {
            if(response.status == 200)  {
                var result = response.responseText.evalJSON().result;
                if(result == 'invalid') {
                    value =  false;
                } else if(result == 'exists') {
                    <?php if($this->settings['registration_order_without_password']): ?>
                    $('onestepcheckout-li-password').hide();
                    <?php else: ?>
                    $('onestepcheckout-email-error-message').update('<?php echo $this->__('Email address already registered. Please <a href="javascript:void(0);" onclick="login_popup.show(); return false;">login now</a> or use a different email address.'); ?>');
                    $('onestepcheckout-email-error').show();
                    $('id_onestepcheckout_username').value = email;
                    value =  false;
                    <?php endif; ?>
                }
            }
        }
    })
    return value;
});
</script>
<?php endif; ?>





<?php if($this->settings['enable_terms']): ?>
<div id="onestepcheckout-toc-popup" style="display: none;">

    <div class="onestepcheckout-popup-wrapper">
        <div class="onestepcheckout-popup-wrapper-inner">
            <h1><?php echo $this->settings['terms_title']; ?></h1>

            <div class="onestepcheckout-toc-terms">
                <?php echo $this->settings['terms_contents']; ?>
            </div>

            <p class="close"><a href="javascript:void(0);"><?php echo $this->__('Close'); ?></a></p>
        </div>
    </div>
    <div class="onestepcheckout-popup-footer">&nbsp;</div>
</div>
<script>
Event.observe(window, 'load', function() {

    var termsPopup = new Control.Modal($('onestepcheckout-toc-popup'), {
        overlayOpacity: 0.65,
        fade: true,
        fadeDuration: 0.3
    });

    $('onestepcheckout-toc-link').observe('click', function(e) {
        e.preventDefault();
        termsPopup.open();
    });

    $$('div#onestepcheckout-toc-popup p.close a').invoke('observe', 'click', function(e) {
        e.preventDefault();
        termsPopup.close();
    });

});

/*
var popup;
Event.observe(window, 'load', function() {
    popup = new OneStepCheckout_Popup('onestepcheckout-toc-popup','onestepcheckout-toc-link', 'div#onestepcheckout-toc-popup p.close a');
});
*/
</script>
<?php endif; ?>





<script>
<?php if($this->hasFormErrors()): ?>
if($$('div.input-error').length > 0) {
    var input = $$('div.input-error')[0].select('input');
    if(input.length == 1)   {
        input[0].focus();
    }
}
<?php endif; ?>
</script>

<?php if(!$this->settings['exclude_region']): ?>
<script type="text/javascript">countryRegions = <?php echo $this->helper('directory')->getRegionJson() ?></script>
<script type="text/javascript">
//<![CDATA[
   var billingRegionUpdater = new RegionUpdater('billing:country_id', 'billing:region', 'billing:region_id', countryRegions, undefined, 'billing:postcode');

    <?php if($this->settings['enable_different_shipping'] && !$this->isVirtual()): ?>
    var shippingRegionUpdater = new RegionUpdater('shipping:country_id', 'shipping:region', 'shipping:region_id', countryRegions, undefined, 'shipping:postcode');
    <?php endif; ?>
//]]>
</script>
<?php endif; ?>


<script type="text/javascript">

Event.observe(window, 'load', function() {
    if ($$('div.shopping-cart-totals').length == 1) {
    }
    else    {

        already_placing_order = false;
        review = false;
        reviewmodal = false;

        /* Handle place order click event */
        $$('.onestepcheckout-place-order').each(function(elem){
            elem.observe('click', function(e)   {
                Event.stop(e);

               // First validate the form
                var form = new VarienForm('onestepcheckout-form');

                if(!form.validator.validate())  {
                    Event.stop(e);
                } else {

                    if(!already_placing_order && $$('.loading-ajax').length <= 0 ) {
                    <?php if(!empty($helper->settings['addressreview']['enable_addressreview'])):?>
                        var addressTemplates = {
                            shipping: '<?php echo str_replace("\r", '', str_replace("\n", '', $helper->settings['addressreview']['shipping_template']));?>',
                            billing: '<?php echo str_replace("\r", '', str_replace("\n", '', $helper->settings['addressreview']['billing_template']));?>'
                        };
                        addressPreview(addressTemplates, 'addressreview');
                        if(!review){
                            review = true;
                            if(!reviewmodal){
                                reviewmodal = new Control.Modal($('addressreview'),{
                                    overlayOpacity: 0.75,
                                    className: 'modal',
                                    fade: true,
                                    closeOnClick: false
                                });
                            }
                            reviewmodal.open();
                            reviewmodal.observe('beforeClose',function(){
                                review = false;
                            });
                            return true;
                            Event.stop(e);
                        } else {
                            reviewmodal.close();
                        }
                    <?php endif;?>
                        already_placing_order = true;

                        var submitelement = $('onestepcheckout-place-order');

                        //var loaderelement = new Element('div').
                            //addClassName('onestepcheckout-place-order-loading').
                            //update('<img src="<?php //echo $this->getSkinUrl('images/opc-ajax-loader.gif'); ?>" />&nbsp;&nbsp;<?php //echo $this->__('Please wait, processing your order...'); ?>');
                            $('loadingpage').setStyle({ display: 'block' });

                        //submitelement.parentNode.appendChild(loaderelement);

                        /* Disable button to avoid multiple clicks */
                        submitelement.removeClassName('orange').addClassName('grey');
                        submitelement.disabled = true;


if(payment.currentMethod == 'ipayment_elv' || payment.currentMethod == 'ipayment_cc' ){

if(payment.currentMethod == 'ipayment_elv' ){
        Ajax.Responders.register({
            onComplete: function(event) {
                if(event.parameters["payment[method]"]=='ipayment_elv'){
                    $('onestepcheckout-form').submit();
                }
            }
        });
   } 
    
    if (payment.currentMethod == 'ipayment_cc' ){ 
        Ajax.Responders.register({
            onComplete: function(event) {
                if(event.parameters["payment[method]"]=='ipayment_cc'){
                    $('onestepcheckout-form').submit();
                }
            }
        });
    } 

        //loaderelement.remove();
         $('loadingpage').setStyle({ display: 'none' });
        submitelement.removeClassName('grey').addClassName('orange');
        submitelement.disabled = false;
        already_placing_order = false;
        payment.save();
        Event.stop(e);
    
    
    
    } else {
        /* Submit the form */
        $('onestepcheckout-form').submit();
    }
    
                    }
                }
            });
        });


        // This is a separate page
        var url = '<?php echo $this->getUrl('onestepcheckout/ajax/set_methods_separate', array('_secure'=>true)); ?>';
        var update_payments = <?php echo $this->settings['enable_update_payment_on_shipping'] ? 'true' : 'false'; ?>;

        $$('dl.shipment-methods input').invoke('observe', 'click', get_separate_save_methods_function(url, update_payments));
        $$('div.payment-methods input[name="payment\[method\]"]').invoke('observe', 'click', get_separate_save_methods_function(url));

        $$('div.payment-methods input[name="payment\[method\]"]').invoke('observe', 'click', function() {
            $$('div.onestepcheckout-payment-method-error').each(function(item) {
                new Effect.Fade(item);
            });
        });

        $$('dl.shipment-methods input').invoke('observe', 'click', function() {
            $$('div.onestepcheckout-shipment-method-error').each(function(item) {
                new Effect.Fade(item);
            });
        });

        var has_hidden_terms = false;

        if($('id_accept_terms') != null)    {

            $('id_accept_terms').observe('click', function(e)   {
                var element = e.element();

                if(element.checked) {
                    $$('div.onestepcheckout-terms-error').each(function(item) {
                        new Effect.Fade(item);
                        has_hidden_terms = true;
                    });
                }
                else    {
                    if(has_hidden_terms)    {
                        $$('div.onestepcheckout-terms-error').each(function(item) {
                            new Effect.Appear(item);
                            has_hidden_terms = false;
                        });
                    }
                }
            });
        }
    }

    var form = $('onestepcheckout-form');

    /* Highlight selected payment method if one set */
    if($RF(form, 'payment[method]') != null)    {
        try {
            var payment_method = $RF(form, 'payment[method]');
            $('container_payment_method_' + payment_method).show();
            $('payment_form_' + payment_method).show();
        } catch(err)    {

        }
    }

    /* Set default shipping method if not set */
    if($RF(form, 'shipping_method') == null)    {
        try {
            var method = '<?php echo $this->_getDefaultShippingMethod(); ?>';
            if(method != '')    {
                $('s_method_' + method).checked = true;
                get_separate_save_methods_function(url);
            }
        } catch(err)    {

        }
    }
   //submit what's available on load
   get_separate_save_methods_function(url)();

<?php if($this->differentShippingAvailable()): ?>
    $('billing:use_for_shipping_yes').observe('click', function(e)  {
        var element = e.element();
        if(element.checked){
            $('shipping_address').hide();
        } else {
            if($('shipping-address-select') && $('shipping-address-select').value == ''){
                $('shipping_address_list').show()
            }
            $('shipping_address').show();
            <?php if(!$this->isCustomerLoggedIn()):?>
            $('shipping_address_list').show()
            <?php endif;?>
            <?php if($this->isCustomerLoggedIn()):?>
            if(!$('shipping-address-select') && $('shipping_address_list').getStyle('display')=='none'){
                $('shipping_address_list').show()
            }
            <?php endif;?>
        }

        <?php if($this->settings['enable_ajax_save_billing']): ?>
        get_save_billing_function('<?php echo $this->getUrl('onestepcheckout/ajax/save_billing', array('_secure'=>true)); ?>', '<?php echo $this->getUrl('onestepcheckout/ajax/set_methods_separate', array('_secure'=>true)); ?>', <?php echo $this->settings['enable_update_payment_on_shipping'] ? 'true' : 'false'; ?>, true)();
        <?php endif; ?>

    });
    <?php endif; ?>
    <?php
        $triggers = Mage::getStoreConfig('onestepcheckout/ajax_update/ajax_save_billing_fields');
        if(!empty($triggers)){
            $triggers = str_replace('country', 'country_id', $triggers);
            $triggers = str_replace('state/region', 'region_id', $triggers);
            $triggers = explode(',',$triggers);
            if(in_array('region_id',$triggers)){
                $triggers[] = 'region';
            }
        }
    ?>

    <?php if(Mage::getStoreConfig('onestepcheckout/ajax_update/enable_ajax_save_billing') && !empty($triggers)):?>
		
        var url_save_billing = '<?php echo $this->getUrl('onestepcheckout/ajax/save_billing', array('_secure'=>true)); ?>';
        var url_set_methods = '<?php echo $this->getUrl('onestepcheckout/ajax/set_methods_separate', array('_secure'=>true)); ?>';
        var update_payments = <?php echo $this->settings['enable_update_payment_on_shipping'] ? 'true' : 'false'; ?>;
        var update_on_initial = false;

        var euvat = $('euvat_action_validate_taxvat');

        if(euvat !== null){
            euvat.observe('click', get_save_billing_function(url_save_billing, url_set_methods, update_payments, true));
        }

        triggers = ['<?php echo implode ('\',\'',$triggers)?>'];
        btriggered = [];
        striggered = [];

        <?php
        foreach($triggers as $value){
            echo (($this->getQuote()->getBillingAddress()->getData($value)) ? 'btriggered.push(\'billing:'.$value.'\');' : '');
            echo (($this->getQuote()->getShippingAddress()->getData($value)) ? 'striggered.push(\'shipping:'.$value.'\');' : '');
        }
        ?>


        bcountry_id = $('billing:country_id');
        if(bcountry_id){
            if(bcountry_id.getValue()){
                if(!btriggered.include('billing:country_id')){
                    btriggered.push('billing:country_id');
                }
            }
        }
        scountry_id = $('shipping:country_id');
        if(scountry_id){
            if(scountry_id.getValue()){
                if(!striggered.include('shipping:country_id')){
                    striggered.push('shipping:country_id');
                }
            }
        }

        batriggered = false;
        satriggered = false;

        triggers.each(function(item){
            var belement = $('billing:'+item);
            if(belement){
                belement.observe('change', function(e){
                    id = e.element().id;
                    if(!btriggered.include(id)){
                        btriggered.push(id);
                    }
                    if(btriggered.length >= triggers.length-1){
                        batriggered = true;
                    }
					batriggered = true; //allow to change shipping by only country dropdown
                    get_save_billing_function(url_save_billing, url_set_methods, update_payments, batriggered)();
                });
            }

            var selement = $('shipping:'+item);
            if(selement){
                selement.observe('change', function(e){
                    id = e.element().id;
                    if(!striggered.include(id)){
                        striggered.push(id);
                    }
                    if(striggered.length >= triggers.length-1){
                        satriggered = true;
                    }
                    get_save_billing_function(url_save_billing, url_set_methods, update_payments, satriggered)();
                });
            }
        });

        <?php if($this->isCustomerLoggedIn()):?>
            var bselect = $('billing-address-select');
            var sselect = $('shipping-address-select');
            if(bselect){
                bselect.observe('change', get_save_billing_function(url_save_billing, url_set_methods, update_payments, true));
            }
            if(sselect){
                sselect.observe('change', get_save_billing_function(url_save_billing, url_set_methods, update_payments, true));
            }
        <?php endif;?>

    <?php endif; ?>

});

if($('payment-tool-tip-close')){
    Event.observe($('payment-tool-tip-close'), 'click', toggleToolTip);
}

</script>


<?php endif; ?>

<div id="onestepcheckout_popup_overlay" style="display: none;">&nbsp;</div>


 <div id="loadingpage" style="float: right; display: none;">
	<div class="loadingpage_inner"><img style="margin: 3px 5px 0 0;" src="<?php echo $this->getSkinUrl('images/media/suchbox/loading.gif'); ?>" alt="" width="43" height="11" /><?php echo $this->__('Seite wird geladen, bitte warten...'); ?></div>
</div>
