<?php
$_coreHelper = $this->helper('core');
$checkoutHelper = Mage::helper('onestepcheckout/checkout');
?>

<table class="onestepcheckout-summary">
    <thead>
        <tr>
            <th class="name" ><span style='margin-left:5px;'><?php echo $this->__('Product'); ?></span></th>
            <th class="qty"><?php echo $this->__('Qty'); ?></th>
            <th class="total" ><span style='margin-right:5px;'><?php echo $this->__('Subtotal1'); ?></span></th>
        </tr>
    </thead>
    <?php foreach($this->getItems() as $item): ?>
    <tr>
        <td class="name">
            <?php

            $id = $item->getProduct()->getId();
            $product = Mage::getModel('catalog/product')->load($id);
            $printer_id = $item->getCategoryId();
            if($printer_id) {
            $printer = Mage::getModel('catalog/category')->load($printer_id);
            $manufacturer_name = $printer->getPrinterManufacturer();
            $printer_name = $printer->getName();
            $string = $manufacturer_name." ".$printer_name;
            $manufacturer_realname = strtolower($manufacturer_name);
            if ($manufacturer_realname=='hewlett packard' )  $manufacturer_realname='hp';
            $manufacturer_realname=str_replace('/','-',$manufacturer_realname);
            $manufacturer_realname=str_replace(' ','-',$manufacturer_realname);
            $printer_realname=strtolower($printer_name);
            $printer_realname=str_replace(' ','-',$printer_realname);
            } else $string = "nicht gespeichert";
            ?>
            <div style="font-size:11px; line-height:11px;">
            <? echo '<a class="checkout-artikel" href="http://www.druckerpatronen.de/'.$manufacturer_realname.'/'.$printer_realname.'">';?>
            <span style="margin-left: 1px;"> <?php echo $item->getName(); ?></span><br>

             <span style="margin-left: 1px;">Artikelnummer: <?php echo $product->getSku(); ?></span><br>
             <span style="margin-left: 1px;">Hersteller: <?php echo $product->getManufacturer(); ?></span></a>
        <?php #if ($product->getBechlemPartnr()) echo " (".$product->getBechlemPartnr().")"; ?>
       </div>


            <?php if($checkoutHelper->settings['show_custom_options']): ?>
                <?php $options = $item->getProduct()->getTypeInstance(true)->getOrderOptions($item->getProduct()); ?>
                <?php if(isset($options['options']) && count($options['options']) > 0): ?>
                <ul class="onestepcheckout-custom-options">
                <?php foreach($options['options'] as $option): ?>
                    <li><b><?php echo $option['label'] . ':</b> ' . $option['value']; ?></li>
                <?php endforeach; ?>
                </ul>
                <?php endif; ?>

                <?php if($item->getProduct()->isConfigurable()): ?>

                <?php
                $configurable_options = $item->getProduct()->getTypeInstance(true)->getSelectedAttributesInfo($item->getProduct());
                ?>

                <?php if(is_array($configurable_options) && count($configurable_options) > 0): ?>
                <ul class="onestepcheckout-custom-options">
                <?php foreach($configurable_options as $option): ?>
                    <li><b><?php echo $option['label']; ?>:</b> <?php echo $option['value']; ?></li>
                <?php endforeach; ?>
                </ul>
                <?php endif; ?>

                <?php endif; ?>

            <?php endif; ?>
        </td>
        <td class="qty"><?php echo $item->getQty(); ?></td>
        <td class="total">
        <span style='margin-right:5px;'>
            <?php if($checkoutHelper->settings['display_tax_included']): ?>
            <?php echo $this->helper('checkout')->formatPrice($this->helper('checkout')->getSubtotalInclTax($item)); ?>
            <?php else: ?>
            <?php echo $this->helper('checkout')->formatPrice($item->getRowTotal()); ?>
            <?php endif; ?>
        </span>
        </td>
    </tr>
    <?php endforeach; ?>
</table>

<table class="onestepcheckout-totals" >
    <?php foreach($this->getTotals() as $total): ?>
    <?php if(!$total->getTitle()){continue;}?>
        <?php
        $fullInfo = $total->getFullInfo();

        if(!empty($fullInfo) && $checkoutHelper->settings['display_full_tax']):
            foreach ($fullInfo as $info):
                $rates = current($info['rates']);
                $amount = $info['amount'];
        ?>
            <tr>
                <td class="title"><?php echo $rates['title'] ?> (<?php echo $rates['percent'] ?>%)</td><td class="value"><?php echo $this->helper('checkout')->formatPrice($amount); ?></td>
            </tr>
        <?php endforeach;
        endif;?>
    <tr<?php if($total->getCode() == 'grand_total'): ?> class="grand-total"<?php endif; ?>>
        <td class="title">
            <?php

            $code = $total->getCode();
            $value = $total->getValue();

            if($code == 'subtotal')    {
                $total_name = $this->__('Subtotal');
            }
            elseif($code == 'shipping')    {
                $total_name = $this->__('Shipping');
                if($checkoutHelper->settings['display_tax_included'])   {
                    $value += $this->getQuote()->getShippingAddress()->getShippingTaxAmount();
                }
                            }
            elseif($code == 'grand_total')    {
                $total_name = $this->__('Grand total');
            }
            else    {
                $total_name = $total->getTitle();
            }

            echo $total_name;

            ?>
        </td>
        <td class="value">
            <?php echo $this->helper('checkout')->formatPrice($value); ?>
        </td>
    </tr>
    <?php endforeach; ?>
</table>
<script type="text/javascript">
//<![CDATA[
var total = <?php echo $this->getGrandTotal();?>;
    if(payment.reloadcallback){
        var url = '<?php echo $this->getUrl('onestepcheckout/ajax/paymentrefresh', array('_secure'=>true)); ?>';
        paymentrefresh(url);
        payment.countreload = 0;
        payment.reloadcallback = false;
    }
//]]>
</script>
