<?php
/**
 * Magpleasure Ltd.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE-CE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.magpleasure.com/LICENSE-CE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * Magpleasure does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Magpleasure does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   Magpleasure
 * @package    Magpleasure_Common
 * @version    0.6.12
 * @copyright  Copyright (c) 2012-2013 Magpleasure Ltd. (http://www.magpleasure.com)
 * @license    http://www.magpleasure.com/LICENSE-CE.txt
 */
?>

<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->htmlEscape($this->getLegend()); ?></h4>
        <div class="form-buttons"></div>
    </div>
    <div id="<?php echo $this->getHtmlId(); ?>" class="fieldset ">
        <div class="hor-scroll">
            <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
<pre class="<?php echo $this->getSnippetClass(); ?>">
<?php echo $this->getSnippedCodeHtml(); ?>
</pre>
        </div>
    </div>
</div>
