 td.sign, td.sign-qty {
    font-size: 32px;
    font-weight: bold;
    color: #4EA32D;
    font-size: 45px;
    text-align: center;
    width: 25px;
	line-height: 170px;
}
td.sign-qty {
    color: #ccc;
}
td.gift-product{
	/*border:1px solid #ccc;*/
	width: 170px;
	text-align:center;
}