<div class="suchbox2">
    <div class="std title">
        <h2 style="font-size: 22px;">Druckerpatronen & Toner Suche</h2>
    </div>
    <div class="inner">
        <img src="<?php echo $this->getSkinUrl('images/media/suchbox/pfeil_animiert.gif'); ?>" style="position:relative;float:left;margin-left:-49px;margin-top:-20px;">
        
        <script type="text/javascript">
        <!--
        function sendRequest() {
            var req;
            document.getElementById('select1').style.border = "3px solid #e5aaca";
            document.getElementById('firststep').style.background = "url(<?php echo $this->getSkinUrl('images/media/suchbox/step1.png'); ?>) 0 0 no-repeat";
            document.getElementById('firststep').style.color = "#5F5F5F";
            document.getElementById('secondstep').style.background = "url(<?php echo $this->getSkinUrl('images/media/suchbox/step2_active.png'); ?>) 0 0 no-repeat";
            document.getElementById('printer').innerHTML = "<img style=\"margin: 5px 0 0 5px;\" src=\"<?php echo $this->getSkinUrl('images/media/suchbox/loading.gif'); ?>\" alt=\"\" width=\"43\" height=\"11\";>";
            document.getElementById('manufacturer-text').innerHTML = "&nbsp;";
            document.getElementById('printer-text').innerHTML = "Wählen Sie hier den Namen Ihres Druckers aus";
            try {
               req = window.XMLHttpRequest?new XMLHttpRequest():
                new ActiveXObject("Microsoft.XMLHTTP");
            } catch (e) {
                //Kein AJAX Support
            }
            req.onreadystatechange = function() {
                if ((req.readyState == 4) && (req.status == 200)) {
                    document.getElementById('printer').innerHTML = req.responseText;
                }
            };
            var id = document.getElementById('select1').value;
            req.open('get', '<?php echo $this->getUrl('cache/dropdown/'); ?>' + id);
            req.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            req.send(null);
        }
        //-->
        </script> 
        <div class="suchbox-links">
            <div id="firststep" style="background: url(<?php echo $this->getSkinUrl('images/media/suchbox/step1_active.png'); ?>) 0 0 no-repeat;"></div>
            
            
            <div id="manufacturer">
                <?php include $_SERVER["DOCUMENT_ROOT"]."cache/dropdown/0"; ?>
            </div>
            <div class="clearer"></div>
          <!--  <div id="manufacturer-text">Wählen Sie hier den Hersteller Ihres Druckers aus</div> -->
              <div id="secondstep" style="background: url(<?php echo $this->getSkinUrl('images/media/suchbox/step2.png'); ?>) 0 0 no-repeat;"></div>
            <div id="printer">
                <select id="select2" disabled="disabled" style="border: 3px solid #e5aaca;color:#5F5F5F;   font-size: 16px;
   height: 34px;
   text-align:left;
    padding: 4px 0 0 0; 
   vertical-align: middle;">
                    <option>Bitte Drucker w&auml;hlen...</option>
                    <option>-----------------</option>
                </select>
            </div>
        </div>
       
        <div class="suchbox-rechts">
          
            
            <div class="clearer"></div>
            <div id="printer-text"></div>
            <div class="clearer"></div>
            <div id="loadingpage" style="float: right; display: none;">
                <div class="loadingpage_inner"><img style="margin: 3px 15px 0 0;" src="<?php echo $this->getSkinUrl('images/media/suchbox/loading.gif'); ?>" alt="" width="43" height="11" /> Seite wird geladen, bitte warten...</div>
            </div>
            <div class="clearer"></div>
        </div>
        <div class="clearer"></div>
    </div>
    <div class="clearer"></div>
    <div class="suche" style="position: relative;">
        
        <img id="loadingajaxsearch" style="position: absolute; right: 70px; top: 13px; display: none;" src="<?php echo $this->getSkinUrl("images/media/suchbox/loading.gif"); ?>" alt="" width="43" height="11" />
        <?php echo $this->getChildHtml('topSearch') ?>
    </div>
    <div class="clearer"></div>
    <div class="bottom" style="padding-right: 120px;padding-top:5px;"></div>
    <div class="clearer"></div>
</div>