<?php
// CM 19.12.2012
//if(isset($_GET['hersteller'])) {

$obj = new Mage_Catalog_Block_Navigation();
$cat = $obj->getCurrentCategory();

if ($cat->hasChildren()&& $cat->getParentCategory()->getId()==2) {
$cat_id = $cat->getId();
//$cat_id ='anfang';
} elseif ($cat->hasChildren()&& $cat->getParentCategory()->getId() !=2) { 
$cat_id = $cat->getParentCategory()->getId();
//$cat_id ='zweite';
} else {
$cat_id = 2;
}

//	if (isset($cat_id)) echo $cat_id;
//}
// END


?>
 <script type="text/javascript">

        function sendRequestHeader() {

            var req;

          

            try {
               req = window.XMLHttpRequest?new XMLHttpRequest():
                new ActiveXObject("Microsoft.XMLHTTP");
            } catch (e) {
                //Kein AJAX Support
            }
            req.onreadystatechange = function() {
                if ((req.readyState == 4) && (req.status == 200)) {
                    document.getElementById('header_printer').innerHTML = req.responseText;
                }
            };
            var id = document.getElementById('header_select1').value;
            req.open('get', '<?php echo $this->getUrl(); ?>cache/dropdown_header/' + id);
            req.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            req.send(null);
        }

		<?php /*Pixelmechanics FL 06.12.2012*/ ?>
		<?php if(isset($cat_id)): ?>
			jQuery(function($){
				var current_hersteller_id = "<?=$cat_id?>";

				$("#header_select1 option").each(function(){
					var val = $(this).val();

					if (val==current_hersteller_id) {
						$("#header_select1").val(val);
						$("#header_select1").trigger("change");
					}
				});
			});
		<?php endif; ?>
		<?php /*END*/ ?>
		
		
</script> 
        
<div id="header_printer">
    <select id="header_select2" disabled="disabled">
        <option>Drucker w&auml;hlen...</option>
        <option>-----------------</option>
    </select>
</div>
<div id="header_manufacturer">
    <?php include $_SERVER["DOCUMENT_ROOT"]."/cache/dropdown_header/0"; ?>
</div>