<?php
// Pixelmechanics FL 06.12.2012
if(isset($_GET['hersteller'])) {
    $cat = Mage::getModel('catalog/category')->load($_GET['hersteller']);
    if($cat) $cat_id = $cat->getId();
}
// END
?>
<div class="suchbox2">
    <div class="suchbox2-inner">
        <script type="text/javascript">

        function sendRequest() {

            var req;

            document.getElementById('select1').style.border = "3px solid #717171";
            document.getElementById('select1').style.color = "#888888";

            document.getElementById('select2').style.border = "3px solid #e2067a";
            document.getElementById('select2').style.color = "#111111";

            document.getElementById('firststep').style.background = "url(<?php echo $this->getSkinUrl('images/media/suchbox2/suchbox2-form-1-field-1.gif'); ?>) 0 0 no-repeat";
            document.getElementById('secondstep').style.background = "url(<?php echo $this->getSkinUrl('images/media/suchbox2/suchbox2-form-1-field-2-active.gif'); ?>) 0 0 no-repeat";

            try {
               req = window.XMLHttpRequest?new XMLHttpRequest():
                new ActiveXObject("Microsoft.XMLHTTP");
            } catch (e) {
                //Kein AJAX Support
            }
            req.onreadystatechange = function() {
                if ((req.readyState == 4) && (req.status == 200)) {
                    document.getElementById('printer').innerHTML = req.responseText;
                }
            };
            var id = document.getElementById('select1').value;
            if(!id){
                return false;
            }
            req.open('get', '<?php echo $this->getUrl(); ?>cache/dropdown/' + id);
            req.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            req.send(null);
        }
		<?php /*Pixelmechanics FL 06.12.2012*/ ?>
		<?php if(isset($cat_id)): ?>
			jQuery(function($){
				var current_hersteller_id = "<?=$cat_id?>";

				$("#select1 option").each(function(){
					var val = $(this).val();

					if (val==current_hersteller_id) {
						$("#select1").val(val);
						$("#select1").trigger("change");
					}
				});
			});
		<?php endif; ?>
		<?php /*END*/ ?>

        </script> 
        <div class="suchbox2-form-1">
            <div id="firststep" style="background: url(<?php echo $this->getSkinUrl('images/media/suchbox2/suchbox2-form-1-field-1-active.gif'); ?>) 0 0 no-repeat;">
                <div id="manufacturer">
                    <?php include $_SERVER["DOCUMENT_ROOT"]."/cache/dropdown/0"; ?>
                </div>
            </div>
            <div id="secondstep" style="background: url(<?php echo $this->getSkinUrl('images/media/suchbox2/suchbox2-form-1-field-2.gif'); ?>) 0 0 no-repeat;">         
                <div id="printer">
                    <select id="select2" disabled="disabled">
                        <option>Bitte Drucker w&auml;hlen...</option>
                        <option>-----------------</option>
                    </select>
                </div>
            </div>
           
        </div>
        <div class="suchbox2-form-2">
            <div class="suche" style="position: relative;">
                <div id="loadingajaxsearch" style="position: absolute; display: none;"></div>
                <?php echo $this->getChildHtml('topSearch') ?>
            </div>
        </div>
    </div>
</div>