<style type="text/css">
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
    a { color:#1E7EC8; }
</style>
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
     <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
       <tr>
			<td align="center" valign="top">
			    <!-- [ header starts here] -->
				<table cellspacing="0" cellpadding="0" border="0" width="650">
				<tr>
				      <td valign="top">
				         <p><a href="{{store url=""}}" style="color:#1E7EC8;"><img src="{{skin url="images/logo_email.gif" _area=''frontend''}}" alt="{{block type="symmetrics_impressum/impressum" value="shopname"}}" border="0"/></a></p>
				      </td>
				 </tr>
				 </table>
				  <!-- [ middle starts here] -->
				<table cellspacing="0" cellpadding="0" border="0" width="650">
				<tr>
                    <td valign="top">
                        <p>
                            <strong>Hallo {{htmlescape var=$user.name}}</strong>,
                            <br/>Ihr neues Passwort lautet: {{htmlescape var=$password}}
                        </p>
                        <p>Sie können Ihr Passwort jederzeit ändern, indem Sie sich in <a href="{{store url="adminhtml/system_account/"}}" style="color:#1E7EC8;">Ihrem Kundenbereichen</a> anmelden.<p>
				      </td>
				 </tr>
				 <tr>
				      <td>
				          {{block type="symmetrics_impressum/impressum" value="emailfooter"}}
				      </td>
				 </tr>
				 </table>
			 </td>
        </tr>
   </table>
</div>