.special_header{
  background: url('landingpage-product-tiefpreisgarantie-info.gif') no-repeat scroll 0px 0px transparent;
  width: 720px;
  height: 60px;
  margin: 0px;
  text-align: right;
  text-decoration: none;
  display: block;
  color: #111;
}

.special_header_left{
  float: left;
  padding: 0px 20px;
  font-size: 20px;
  font-weight: bold;
  line-height: 37px;
  text-align: right;
  display: block;
  color: #111;
}

.special_clear{
  clear:both;
}

.special_box {
  width: 720px;                                                                                      
  height: 356px;                                                                                    
  margin: 0px 0px 20px;                                                                               
  background: url('special_box.jpg') no-repeat;  
}

.special_info_open {
  width: 720px;                                                                                      
  height: 15px;                                                                                                                                                                  
  background: url('landingpage-product-collateral-open.gif') no-repeat; 
}

.special_info_close {
  width: 720px;                                                                                      
  height: 15px;                                                                                                                                                                  
  background: url('landingpage-product-collateral-end.gif') no-repeat; 
}

.special_info {
  width: 720px;                                                                                                                                                                                                                                                    
  background: url('landingpage-product-collateral-bg.gif') repeat-y; 
  font-family: arial,Helvetica,Arial,sans-serif;
  font-size: 12px;
}

.special_info_left {
  width: 340px;
  margin-left: 20px;
  margin-right:20px;
  float: left;
}

.special_info_right {
  width: 320px;
  float: left;
}

.timer_pic {
  width: 32px;                                                                                      
  height: 32px;                                                                                                                                                                  
  background: url('landingpage-product-view-product-essential-ordertime.gif') no-repeat; 
  float: left;
}

.timer_timer {
  float: left;
}

.special_product_name {
  width: 300px;
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  color: #111;
  padding: 8px 0px 6px;
  border-bottom: 1px solid #CFCFCF;
  display: block;
}

.special_product_description {
  color: #009EE0;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0px;
  padding: 12px 0px 0px;
  border-bottom: 1px solid #CFCFCF;
  width: 300px;
  padding-bottom: 4px;
  padding-top: 8px;
}

.special_product_info {
  border-bottom: 1px solid #CFCFCF;
  width: 300px;
  float: right;
  margin-right: 40px;
  padding: 4px 0px;
  line-height: 20px;
}

.special_product_info_left{
  width: 150px;
  float: left;
}

.special_product_info_right{
  width: 150px;
  float: left;
}