<?php

/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @package    Mage_Debit
 * @copyright  Copyright (c) 2009 ITABS GbR - Rouven Alexander Rieker
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */

?>
<?php echo $this->getMethod()->getTitle() ?><br /><br/>

<?php if($this->getMethod()->getAccountBankname() == 'existiert nicht'): ?>
	<span style="color: #cc0000;font-weight:bold;">Fehler! Die eingegebenen Bankdaten k&ouml;nnen fehlerhaft sein!<br />Bitte setzen Sie sich mit dem Kunden in Verbindung!</span><br /><br />
<?php endif; ?>

<?php if($this->getMethod()->getAccountName()):?>
	<strong>Kontoinhaber:</strong> <?php echo $this->htmlEscape($this->getMethod()->getAccountName()) //$this->getMethod()->getAccountName() ?><br />
<?php endif; ?>

<?php if($this->getMethod()->getAccountNumber()):?>
	<strong>Konto-Nummer:</strong> <?php echo $this->htmlEscape($this->getMethod()->getAccountNumber()) // $this->getMethod()->getAccountNumber() ?><br />
<?php endif; ?>

<?php if($this->getMethod()->getAccountBLZ()):?>
	<strong>Bankleitzahl:</strong> <?php echo $this->htmlEscape($this->getMethod()->getAccountBLZ()) //$this->getMethod()->getAccountBLZ() ?><br />
<?php endif; ?>

<?php if($this->getMethod()->getAccountBankname()):?>
	<strong>Kreditinstitut:</strong> <?php echo $this->htmlEscape($this->getMethod()->getAccountBankname()) //$this->getMethod()->getAccountBLZ() ?><br />
<?php endif; ?>

<br />