<?php

/**

 * Magento

 *

 * NOTICE OF LICENSE

 *

 * This source file is subject to the Open Software License (OSL 3.0)

 * that is bundled with this package in the file LICENSE.txt.

 * It is also available through the world-wide-web at this URL:

 * http://opensource.org/licenses/osl-3.0.php

 * If you did not receive a copy of the license and are unable to

 * obtain it through the world-wide-web, please send an email

 * to license@magentocommerce.com so we can send you a copy immediately.

 *

 * @category   Mage

 * @package    Mage_Sofortueberweisung

  * @copyright  Copyright (c) 2008 [m]zentrale GbR 

 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)

 */

?>

<a name="<?= $this->getMethodCode() ?>"></a>

<?$_code=$this->getMethodCode()?>

<div style="padding-left:20px; padding-bottom: 10px;">

		<a href="#<?= $this->getMethodCode() ?>" onclick="payment.switchMethod('<?= $this->getMethodCode() ?>');if($('p_method_sofortueberweisung'))$('p_method_sofortueberweisung').writeAttribute('checked', '');$('p_method_<?= $this->getMethodCode() ?>').writeAttribute('checked', 'checked');" title="Paycode"><img src="<?= $this->getSkinUrl() ?>images/sofortueberweisung/logo_paycode_198.gif" alt="Sofortüberweisung Paycode" title="Sofortüberweisung Paycode" /></a>

		<p style="font-size: 9px;">

		<?=$this->__('Paycode information')?>		

		</p>

		<div>

			<strong><?=$this->__('Your benefit:')?></strong>

			<ul style="list-style-type:disc;">

				<li style="margin-left:15px;"><?=$this->__('Fast shippiung')?></li>

				<li style="margin-left:15px;"><?=$this->__('Privacy')?></li>

				<li style="margin-left:15px;"><?=$this->__('No registration')?></li>

				<li style="margin-left:15px;"><?=$this->__('Save payment')?></li>

			</ul>

		</div>		

</div>

<div style="display:none;" id="payment_form_<?=$_code?>">

	<div>

		<fieldset class="form-list">	    

			    <ul>		             

					<li>

			            <div class="input-box">

			                <label for="<?=$_code?>_holder"><?=$this->__('Holder')?> <span class="required">*</span></label><br/>

			                <input type="text" title="<?=$this->__('Holder')?>" class="required-entry input-text" id="<?=$_code?>_holder" name="payment[su_holder]" value="<?=$this->getInfoData('su_holder')?>"/>

			            </div>

			        </li>

					<li>

			            <div class="input-box">

			                <label for="<?=$_code?>_account_number"><?=$this->__('Account number')?> <span class="required">*</span></label><br/>

			                <input type="text" title="<?=$this->__('Account number')?>" class="required-entry input-text" id="<?=$_code?>_account_number" name="payment[su_account_number]" value="<?=$this->getInfoData('su_account_number')?>"/>

			            </div>

			        </li>   

			        <li>

			            <div class="input-box">

			                <label for="<?=$_code?>_bank_code"><?=$this->__('Bank code')?> <span class="required">*</span></label><br/>

			                <input type="text" title="<?=$this->__('Bank code')?>" class="required-entry input-text" id="<?=$_code?>_bank_code" name="payment[su_bank_code]" value="<?=$this->getInfoData('su_bank_code')?>"/>

			            </div>

			        </li>

					<li>

			            <div class="input-box">

			                <label for="<?=$_code?>_iban"><?=$this->__('IBAN')?></label><br/>

			                <input type="text" title="<?=$this->__('Bank code')?>" class="input-text" id="<?=$_code?>_iban" name="payment[su_iban]" value="<?=$this->getInfoData('su_iban')?>"/>

			            </div>

			        </li>

					<li>

			            <div class="input-box">

			                <label for="<?=$_code?>_bic"><?=$this->__('BIC/SWIFT')?></label><br/>

			                <input type="text" title="<?=$this->__('Bank code')?>" class="input-text" id="<?=$_code?>_bic" name="payment[su_bic]" value="<?=$this->getInfoData('su_bic')?>"/>

			            </div>

			        </li>

			    </ul>			

		</fieldset>	

	</div>		

</div>

<div class="clear"></div>