<?php

/**

 * Magento

 *

 * NOTICE OF LICENSE

 *

 * This source file is subject to the Open Software License (OSL 3.0)

 * that is bundled with this package in the file LICENSE.txt.

 * It is also available through the world-wide-web at this URL:

 * http://opensource.org/licenses/osl-3.0.php

 * If you did not receive a copy of the license and are unable to

 * obtain it through the world-wide-web, please send an email

 * to license@magentocommerce.com so we can send you a copy immediately.

 *

 * @category   Mage

 * @package    Mage_Sofortueberweisung

  * @copyright  Copyright (c) 2008 [m]zentrale GbR 

 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)

 */

?>

<a name="<?= $this->getMethodCode() ?>"></a>

<?$_code=$this->getMethodCode()?>

<div style="display:none;" id="payment_form_<?=$_code?>">

	<div>

		<fieldset class="form-list">	    

			    <ul>

          <li><div style="padding-left:20px; padding-bottom: 10px;">

    <?php if (true == false): ?>
		<a href="#<?= $this->getMethodCode() ?>" onclick="payment.switchMethod('<?= $this->getMethodCode() ?>');if($('p_method_paycode'))$('p_method_paycode').writeAttribute('checked', '');$('p_method_<?= $this->getMethodCode() ?>').writeAttribute('checked', 'checked');" title="Informationen zu Paycode"><img src="<?= $this->getSkinUrl() ?>images/sofortueberweisung/logo_sofortueberweisung200.jpg" alt="Sofortüberweisung" title="Sofortüberweisung" /></a>
    <?php endif; ?>

		<p style="font-size: 9px;">

    <?php if (true == false): ?>
		<?=$this->__('Get stock articles.')?>
		<?php endif; ?>

		</p>

		<div>
  <?php if (true == false): ?>
			<strong><?=$this->__('Your benefit:')?></strong>

			<ul style="list-style-type:disc;">

      
				<li style="margin-left:15px;"><?=$this->__('Fast shippiung')?></li>
				

				<li style="margin-left:15px;"><?=$this->__('Privacy')?></li>

				<li style="margin-left:15px;"><?=$this->__('No registration')?></li>

				<li style="margin-left:15px;"><?=$this->__('Save payment')?></li>

			</ul>
<?php endif; ?>
Überweisen Sie direkt online. Sie werden zum TÜV-geprüften Zahlungsanbieter weitergeleitet sobald Sie rechts auf "Jetzt kaufen" geklickt haben.


		</div>

</div></li>

					<li>

			            <div class="input-box">

			                <label for="<?=$_code?>_bank_code"><?=$this->__('Holder')?> <span class="required">*</span></label><br/>

			                <input type="text" title="<?=$this->__('Holder')?>" class="required-entry input-text" id="<?=$_code?>_holder" name="payment[su_holder]" value="<?=$this->getInfoData('su_holder')?>"/>

			            </div>

			        </li>

					<li>

			            <div class="input-box">

			                <label for="<?=$_code?>_account_number"><?=$this->__('Account number')?> <span class="required">*</span></label><br/>

			                <input type="text" title="<?=$this->__('Account number')?>" class="required-entry input-text" id="<?=$_code?>_account_number" name="payment[su_account_number]" value="<?=$this->getInfoData('su_account_number')?>"/>

			            </div>

			        </li>

					<?php if($this->getMethod()->getConfigData('netherlands')): ?>

						<li>

							<div class="input-box">

								<label for="<?=$_code?>_nl_bank_code"><?=$this->__('Bank')?> <span class="required">*</span></label><br/>

								<select title="<?=$this->__('Bank')?>" id="<?=$_code?>_nl_bank_code" name="payment[su_nl_bank_code]">

									<option value=""></option>

									<?php foreach($this->getNetherlandBanks($this->getInfoData('su_nl_bank_code')) AS $key => $val): ?>

										<option value="<?php echo $key ?>" <?php if($val['selected']) echo 'selected="selected"';?>><?php echo $val['value'] ?></option>

									<?php endforeach; ?> 

								</select>							

							</div>

						</li>

					<?php else: ?>

						<li>

							<div class="input-box">

								<label for="<?=$_code?>_bank_code"><?=$this->__('Bank code')?> <span class="required">*</span></label><br/>

								<input type="text" title="<?=$this->__('Bank code')?>" class="required-entry input-text" id="<?=$_code?>_bank_code" name="payment[su_bank_code]" value="<?=$this->getInfoData('su_bank_code')?>"/>

							</div>

						</li>

					<?php endif; ?>
					
				<!--	<li><button type="button" class="magenta button right" onclick="payment.save();"><span>&nbsp;&nbsp;<?php echo $this->__('Continue') ?>&nbsp;&nbsp;<img style="margin-top: 7px; width: 17px; height: 12px;" src="<?php echo $this->getSkinUrl('images/media/pfeil12.png'); ?>" alt="">&nbsp;</span></button></li> -->

			    </ul>				

		</fieldset>

	</div>	

</div>

<div class="clear"></div>