<table cellspacing="0">
    <tr>
        <td><h3><?php echo $this->__('Hilfe zu PSMext 0.4.94') ?></h3></td>
    </tr>
</table>


<table>


	<tr>
		<td><b>Schritt 1: <br/>
		Attribut anlegen, wenn nicht in "Suchmaschine anlegen" vorhanden</b></td>
		<td><img
			src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'psmext/images/psmext_screens5.jpg'?>" alt=""/><br/>
		Dieser Schritt ist optional! Sollten Sie Versandkosten als Spaltenwert
		verwenden wollen, muss ein Versandkostendatensatz erzeugt werden. <br/>
		<br/>
		<br/>
		<br/>
		<br/>
		</td>
	</tr>
	<tr>
		<td><b>Schritt 2: <br/>
		Versandkosten anlegen, wenn nicht in "Suchmaschine anlegen" vorhanden</b></td>
		<td><img
			src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'psmext/images/psmext_screens2.jpg'?>" alt="" /><br/>
		Dieser Schritt ist optional! Im gezeigten Beispiel werden die
		Versandkosten für alle "Cameras" auf 6 Euro gesetzt. Kategorie 12 kostet bis 30kg 10 Euro,<br/>
		von 30 bis 60 kg 20 Euro und ab 60 kg bis 999 kg 30 Euro. Alle anderen
		Artikel (keine Kategorie gewählt) kosten bis exkl. 200 Euro 8 Euro
		Versandkosten, ab 200 Euro 0 Euro Versandkosten. <br/>
		<br/>
		<br/>
		<br/>
		<br/>
		</td>
	</tr>

	<tr>
		<td><b>Schritt 3: <br/>
		Suchmaschine anlegen</b></td>
		<td><img
			src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'psmext/images/psmext_screens3.jpg'?>" alt="" /><br/>
		Unter dem Menüpunkt Suchmaschine anlegen kann die Formatierung einer
		beliebigen Preissuchmaschine angelegt werden.<br/>
		<br/>
		1. Ziehen Sie dazu sämtliche Datenfelder in der richtigen Reihenfolge
		in den Ziel Datensatz.<br/>
		<br/>
		2. Die Spalten werden später durch Trennzeichen abgegrenzt. Geben Sie
		das gewünschte Trennzeichen an. <br/>
		<br/>
		3. Manche Suchmaschinen erwarten in der ersten Zeile der anzulegenden
		Datei eine Kopfzeile, die die Formatierung beschreibt, geben Sie diese
		gegebenenfalls an. <br/>
		<br/>
		4. Geben Sie einen Namen für die soeben angelegte Suchmaschine an und
		speichern Sie diese.<br/>
		<br/>
		<br/>
		<br/>
		</td>
	</tr>


	<tr>
		<td><b>Schritt 4: <br/>
		Suchmaschinen Übersicht</b></td>
		<td><img
			src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'psmext/images/psmext_screens4.jpg'?>" alt="" /><br/>
		Markieren Sie eine Suchmaschine in der Baumstruktur und bestätigen Sie
		die Erzeugung der Suchmaschinen Datei.<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		</td>
	</tr>
	<tr>
		<td><b>Schritt 5: <br/>
		Dateien verwalten</b></td>
		<td><img
			src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'psmext/images/psmext_screens1.jpg'?>" alt="" /><br/>
		In diesem Menü erhalten Sie einen Überblick über die erzeugten
		Dateien, deren Link und Erzeugungsdatum.</td>
	</tr>



</table>

