

ol.checkout-agreements {
    margin-top: 10px;
}

.onestepcheckout-extraproducts {
    margin-top: 10px;
    margin-bottom: 10px;
}

.onestepcheckout-extraproducts span {
    font-weight: bold;
}

.onestepcheckout-extraproducts li {
    padding: 2px 0;
}



/* Button CSS */
.onestepcheckout-button, .onestepcheckout-button:visited {
    background: #222 url(images/button-background.png) repeat-x;
    display: inline-block;
    padding: 0px 10px 0px 6px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer;

}

    .onestepcheckout-button:hover                          { background-color: #111; color: #fff; }
    .onestepcheckout-button:active                         { top: 1px; }
    .small.onestepcheckout-button, .small.onestepcheckout-button:visited          { font-size: 11px; padding: ; }
    .onestepcheckout-button, .onestepcheckout-button:visited,
    .medium.onestepcheckout-button, .medium.onestepcheckout-button:visited        { font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
    .large.onestepcheckout-button, .large.onestepcheckout-button:visited          { font-size: 20px; padding: 0px 0px 0px; }

    .green.onestepcheckout-button, .green.onestepcheckout-button:visited      { background-color: #91bd09; }
    .green.onestepcheckout-button:hover                        { background-color: #749a02; }
    .blue.onestepcheckout-button, .blue.onestepcheckout-button:visited        { background-color: #2daebf; }
    .blue.onestepcheckout-button:hover                         { background-color: #007d9a; }
    .red.onestepcheckout-button, .red.onestepcheckout-button:visited          { background-color: #e33100; }
    .red.onestepcheckout-button:hover                          { background-color: #872300; }
    .magenta.onestepcheckout-button, .magenta.onestepcheckout-button:visited      { background-color: #a9014b; }
    .magenta.onestepcheckout-button:hover                          { background-color: #630030; }
    .orange.onestepcheckout-button, .orange.onestepcheckout-button:visited        { background-color: #e3077a; }
    .orange.onestepcheckout-button:hover                           { background-color: #f72090; }
    .yellow.onestepcheckout-button, .yellow.onestepcheckout-button:visited        { background-color: #ffb515; }
    .yellow.onestepcheckout-button:hover                           { background-color: #fc9200; }

    .grey.onestepcheckout-button, .grey.onestepcheckout-button:visited        { background-color: #cccccc; }
    .grey.onestepcheckout-button:hover                           { background-color: #cccccc; }



.onestepcheckout-place-order-loading {
    text-align: right;
    margin-top: 10px;
    font-style: italic;
}

select.address-select {
    margin-top: 3px;
    margin-bottom: 3px;
    width: 95% !important;
}

.onestepcheckout-enterprise {

}

.onestepcheckout-enterprise span.validation-error,.onestepcheckout-enterprise div.validation-error
    {
    padding-right: 0;
}

ul.onestepcheckout-custom-options {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    list-style-type: disc;
}

.onestepcheckout-coupons input#id_couponcode {
    margin-bottom: 5px;
    width: 200px;
}

.onestepcheckout-giftcards input#id_giftcardcode {
    margin-bottom: 5px;
    width: 200px;
}

#onestepcheckout-form label {
    font-weight: normal !important;
}

.onestepcheckout-summary,.onestepcheckout-totals {
    border-collapse: collapse;
}

.onestepcheckout-totals {

}

h1.onestepcheckout-title {
    font-size: 20px;
    text-transform: uppercase;
}

p.onestepcheckout-description {
    font-size: 18px;
}

#onestepcheckout-form .group-select {
    /*padding: 20px !important;*/
}

div.onestepcheckout-threecolumns {
    /*margin-top: 10px;*/
}

div.onestepcheckout-threecolumns h1 {
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
}

div.onestepcheckout-threecolumns div.onestepcheckout-column-left {
    width: 33%;
    float: left;
    margin-right: 15px;
    /*background: transparent url(images/line-gradient.gif) no-repeat scroll*/
        right top;
    padding-top: 15px;
}

div.onestepcheckout-threecolumns div.onestepcheckout-column-middle {
    width: 29%;
    float: left;
    margin-right: 15px;
    padding-right: 15px;
    /*background: transparent url(images/line-gradient.gif) no-repeat scroll*/
        right top;
    padding-top: 15px;
}

div.onestepcheckout-threecolumns div.onestepcheckout-column-right {
    width: 32%;
    float: left;
    padding-top: 15px;
}

p.onestepcheckout-login-link {
    padding-top: 5px;
   
}

#onestepcheckout-email-error {
    width: 245px;
    clear: both;
    padding-top: 3px;
}

div.onestepcheckout-error {
    background-color: #FAEBE7;
    color: #DF280A;
    border: 1px solid #DF280A;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 25px;
    background-image: url(images/onestepcheckout-error.jpg);
    background-repeat: no-repeat;
    background-position: 5px 5px;
}

.onestepcheckout-column-left .onestepcheckout-error {
    width: 85% !important;
}

div.onestepcheckout-enable-newsletter {
    margin-bottom: 10px;
    /*text-align: right;*/
}

div.onestepcheckout-enable-newsletter-bottom {
    margin-top: 20px;
    text-align: right;
}

div.onestepcheckout-enable-terms { /*text-align: right;*/
    margin-top: 5px;
}

div.onestepcheckout-summary {
    width: 270px;
}

div.onestepcheckout-summary div.onestepcheckout-summary-title {
    background: transparent url(images/onestepcheckout-summary-title.gif) no-repeat 0 0;
    font-size: 12px;
    font-weight: bold;
    color: #111111;
    line-height: 30px;
    height: 30px;
    padding: 0 10px 0 10px;
}

div.onestepcheckout-summary div.onestepcheckout-summary-container {
    border-left: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
}

div.onestepcheckout-summary table.onestepcheckout-summary {
    width: 100%;
}

table.onestepcheckout-summary {
    width: 100%;
}

table.onestepcheckout-summary thead th {
    border: 0;
    padding: 5px 0 5px 0;
    background: #ffffff;
}

table.onestepcheckout-summary thead th.total {
    padding: 5px 10px 5px 0;
}

table.onestepcheckout-summary tbody td {
    border: 0;
    border-top: 1px solid #e6e6e6;
    padding: 10px 0 10px 0;
    background: #ffffff;
    font-size: 12px;
    color: #111111;
}

table.onestepcheckout-summary tbody td.image {
    padding-left: 10px;
    vertical-align: middle;
    padding-right: 10px;
}

table.onestepcheckout-summary tbody td.total {
    padding: 10px 10px 10px 5px;
}

table.onestepcheckout-summary td.name {
}

table.onestepcheckout-summary td.qty,table.onestepcheckout-summary th.qty {
    text-align: center;
}

table.onestepcheckout-summary td.total,table.onestepcheckout-summary th.total {
    text-align: right;
}

table.onestepcheckout-totals {
    width: 100%;
}

.onestepcheckout-index-index table.onestepcheckout-totals {
    margin-bottom: 20px;
}

table.onestepcheckout-totals tr.grand-total td {
    font-weight: bold;
}

table.onestepcheckout-totals {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #cfcfcf;
    border-left: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
    width: 100%;
}

table.onestepcheckout-totals td {
    border: 0;
    padding: 0;
    background: #ffffff;
    font-size: 12px;
    line-height: 16px;
    color: #111111;
}

table.onestepcheckout-totals tr.first td {
    padding-top: 10px; 
}

table.onestepcheckout-totals tr.grand-total td {
    padding-bottom: 10px; 
}

table.onestepcheckout-totals td.value {
    padding-right: 10px;
}

table.onestepcheckout-totals td.title {
    padding-left: 10px;
}

table.onestepcheckout-discount {
    border-left: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
}

table.onestepcheckout-discount td {
    padding: 10px 10px 10px 10px;
    text-align: left;
}

table.onestepcheckout-discount td input {
    border: 1px solid #cfcfcf;
    border-right: 0;
    background: #ffffff;
    height: 24px;
    width: 113px;
    float: left;
    display: block;
    margin: 0;
    padding: 0 0 0 4px;
}

table.onestepcheckout-discount td a {
    border: 1px solid #cfcfcf;
    display: block;
    line-height: 24px !important;;
    height: 24px !important;
    width: 128px;
    margin: 0;
    padding: 0;
    background: url(../../default/onestepcheckout/images/onestepcheckout-coupon-button.gif) repeat-x 0 0;
    float: left;
    text-align: center;
    text-decoration: none;
}

table.onestepcheckout-discount td a:hover {
    background: url(../../default/onestepcheckout/images/onestepcheckout-coupon-button.gif) repeat-x 0 -24px;
    color: #111111;
    text-decoration: none;
}

table.onestepcheckout-discount td a span {
    font-size: 12px;
    font-weight: bold;
    color: #111111;
    margin: 0;
    padding: 0;
    line-height: 24px !important;;
    height: 24px !important;
    background: transparent;
    display: block;
    text-align: center;
    float: none;
}

table.onestepcheckout-totals td.title {
    width: 65%;
    text-align: right;
}

table.onestepcheckout-totals td.value {
    width: 35%;
    text-align: right;
}

div.onestepcheckout-place-order-wrapper {
   text-align: left;
    margin-top: 0px;
   padding-right: 85px;
}

div.onestepcheckout-vorteile {
    padding: 8px 12px 8px 12px;
    margin: 15px 0 0 0;
    border: 1px solid #cfcfcf;
}

div.onestepcheckout-vorteile h6 {
    color: #111111;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    float: left;
    height: 24px;
    line-height: 24px;
    padding: 0 0 2px 0;
    margin: 0;
    text-transform: none;
}

div.onestepcheckout-vorteile ul {
    float: left;
    margin: 0;
    padding: 0;
    width: 183px;
}

div.onestepcheckout-vorteile ul li {
    border-top: 1px solid #CFCFCF;
    color: #111111;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    padding: 4px 0 4px 4px;
}

div.onestepcheckout-vorteile ul li a {
    background: url(../../default/onestepcheckout/images/onestepcheckout-vorteile-check.gif) no-repeat left center;
    color: #111111;
    display: block;
    padding: 0 0 0 13px;
    text-decoration: none;
}

div.onestepcheckout-vorteile ul li a:hover {
    color: #111111;
    text-decoration: underline;
}

div.onestepcheckout-vorteile div.onestepcheckout-vorteile-sicherheit {
    width: 60px;
    float: right;
    padding: 6px 0 0 0;
}

div.onestepcheckout-vorteile div.onestepcheckout-vorteile-sicherheit a.onestepcheckout-vorteile-sicherheit-trustedshops {
    background: url('/skin/frontend/default/blank/images/icons/logo-trusted-shops.gif') no-repeat 0 0;
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 0 8px 10px;
}

div.onestepcheckout-vorteile div.onestepcheckout-vorteile-sicherheit a.onestepcheckout-vorteile-sicherheit-garantie {
    background: url('/skin/frontend/default/blank/images/media/footer/footer-box-content-sicherheit-garantie.jpg') no-repeat 0 0;
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 0 8px 10px;
}

div.onestepcheckout-vorteile div.onestepcheckout-vorteile-sicherheit a.onestepcheckout-vorteile-sicherheit-ssl {
    background: url('/skin/frontend/default/blank/images/media/footer/footer-box-content-sicherheit-ssl.jpg') no-repeat 0 0;
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 0 4px 10px;
}

div.checkoutcontainer {
    border-top: 1px solid #D8D2C7;
    min-height: 33em;
    overflow: hidden;
}

div.checkoutcontainer .checkout-error-message {
    font-size: 14px;
    margin-left: 10px;
    color: red;
}

div.checkoutcontainer .payment-methods .form-list label {
    text-align: left !important;
}

div.checkoutcontainer div.input-error label {
    color: red !important;
}

div.checkoutcontainer div.input-error input,div.checkoutcontainer div.input-error select
    {
    border: 1px solid red !important;
}

div.checkoutcontainer div.input-different-shipping {
    margin-top: 10px;
}

div.checkoutcontainer div.input-address-short,div.checkoutcontainer div.input-firstname,div.checkoutcontainer div.input-lastname,div.checkoutcontainer div.input-email,div.checkoutcontainer div.input-telephone,div.checkoutcontainer div.input-company,div.checkoutcontainer div.input-fax,div.checkoutcontainer div.input-password
    {
    /*width: 83%;*/
    float: left;
}

div.checkoutcontainer div.input-telephone,
div.checkoutcontainer div.input-lastname {
    padding: 13px 0 0 0;
}

div.checkoutcontainer li.taxvat .input-text {
    /*width: 83% !important;*/
}

div.checkoutcontainer div.input-address-short .input-text,
div.checkoutcontainer div.input-firstname .input-text,
div.checkoutcontainer div.input-lastname .input-text,
div.checkoutcontainer div.input-email .input-text,
div.checkoutcontainer div.input-telephone .input-text,
div.checkoutcontainer div.input-company .input-text,
div.checkoutcontainer div.input-fax .input-text,
div.checkoutcontainer div.input-password .input-text {
    /*width: 100%;*/
}

div.checkoutcontainer div.input-address,div.checkoutcontainer div.input-city,div.checkoutcontainer li.taxvat div.input-box
    {
    /*width: 100% !important;*/
}

div.checkoutcontainer div.input-address .input-text,div.checkoutcontainer div.input-city .input-text
    {
    /*width: 83%;*/
}

div.checkoutcontainer div.input-postcode {
    /*width: 83%;*/
    float: left;
}

div.checkoutcontainer div.input-postcode .input-text {
    /*width: 100%;*/
}

div.checkoutcontainer div.input-region {
    /*width: 60%;*/
    float: left;
}

div.checkoutcontainer div.input-region .input-text {
    /*width: 77%;*/
}

div.checkoutcontainer div.input-country {
    width: 100%;
}

div.checkoutcontainer div.input-country select {
    /*width: 85%;*/
}

div.checkoutcontainer div.input-region select {
    /*width: 77% !important;*/
}

fieldset.group-select {
    /*padding: 10px 10px;*/
}

.group-select li {
    padding: 4px 0;
}

.shipment-methods dd {
    font-weight: bold;
    margin: 0 !important;
    margin-bottom: 3px;
    margin-top: 7px;
}

p.checkout-choose-payment-method,p.checkout-choose-shipping-method {
    margin-top: 1em;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

p.checkout-choose-payment-method {
    margin-top: 2em !important;
}

.payment-methods dd {
    padding: 0;
    padding-left: 20px;
}

.payment-methods dd li {
    padding: 0;
}

div.onestepcheckout-shipping-method {
    margin-bottom: 20px;
}

div.loading-ajax, div.loading-ajax-login {
    height: 50px;
    text-align: center;
    background-image: url(images/ajax-loader.gif);
    background-repeat: no-repeat;
    background-position: center center;
}

p.onestepcheckout-numbers {
    background-repeat: no-repeat;
    height: 35px;
    color: #404040;
    text-transform: uppercase;
    padding-top: 6px;
    padding-left: 38px;
    font-size: 15px;
    font-weight: bold;
}

p.onestepcheckout-numbers-1 {
    background-image: url(images/onestepcheckout-numbers-1-neu.png);
}

p.onestepcheckout-numbers-2 {
    background-image: url(images/onestepcheckout-numbers-2-neu.png);
}

p.onestepcheckout-numbers-3 {
    background-image: url(images/onestepcheckout-numbers-3-neu.png);
}

p.onestepcheckout-numbers-4 {
    background-image: url(images/onestepcheckout-numbers-4-neu.png);
}

div.onestepcheckout-skin-magento .onestepcheckout-numbers {
    padding-top: 0px !important;
    padding-left: 28px !important;
    height: 25px !important;
    text-transform: capitalize !important;
    color: #F18200 !important;
    font-size: 13px !important;
}

div.onestepcheckout-skin-magento p.onestepcheckout-numbers-1 {
    background-image: url(images/skin-magento/onestepcheckout-numbers-1-neu.png)
        !important;
}

div.onestepcheckout-skin-magento p.onestepcheckout-numbers-2 {
    background-image: url(images/skin-magento/onestepcheckout-numbers-2.png)
        !important;
}

div.onestepcheckout-skin-magento p.onestepcheckout-numbers-3 {
    background-image: url(images/skin-magento/onestepcheckout-numbers-3.png)
        !important;
}

div.onestepcheckout-skin-magento p.onestepcheckout-numbers-4 {
    background-image: url(images/skin-magento/onestepcheckout-numbers-4.png)
        !important;
}

/* Popup CSS */
#onestepcheckout_popup_overlay_iframe {
    z-index: 100000;
    background-color: black;
    opacity: 0.8;
    filter: alpha(opacity =   80);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
}

#onestepcheckout_popup_overlay {
    z-index: 1000000;
    background-color: black;
    opacity: 0.8;
    filter: alpha(opacity =   80);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    cursor: pointer;
}

#onestepcheckout-toc-popup {
    width: 482px;
    height: 530px;
    position: absolute;
    z-index: 1000001;
}

#onestepcheckout-toc-popup .onestepcheckout-popup-wrapper {
    height: 515px !important;
}

#onestepcheckout-toc-popup div.onestepcheckout-popup-contents {
    overflow: auto;
    height: 450px;
}

#onestepcheckout-toc-popup h1 {
    margin-left: 20px;
}

#onestepcheckout-toc-popup .onestepcheckout-toc-terms {
    margin: 20px;
    margin-top: 0 !important;
    height: 440px !important;
    overflow: auto;
    padding-right: 10px;
}

#onestepcheckout-login-popup,#onestepcheckout-toc-popup {
    text-align: left !important;
}

.onestepcheckout-popup-footer {
    background-image: url(images/onestepcheckout-popup-footer.png);
    background-repeat: no-repeat;
    height: 13px;
}

.onestepcheckout-popup-wrapper {
    background-image: url(images/onestepcheckout-popup-header.png);
    *background-image: url(images/onestepcheckout-popup-header.png)
        !important;
    background-repeat: no-repeat;
}

.onestepcheckout-popup-wrapper h1 {
    font-size: 18px !important;
    padding-bottom: 10px !important;
    padding-top: 15px !important;
}

.onestepcheckout-popup-contents {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;
    padding-bottom: 1px;
}

.onestepcheckout-popup-wrapper label {
    font-weight: normal;
}

.onestepcheckout-popup-wrapper .input-text {
    width: 190px !important;
}

#onestepcheckout-forgot-table td {
    vertical-align: middle !important;
}

/* Popup CSS (login link) */
#onestepcheckout-login-popup {
    width: 482px;
    position: absolute;
    z-index: 1000001;
    /*position: fixed;*/
}

#onestepcheckout-login-popup table {
    width: 99%;
}

#onestepcheckout-login-popup table td {
    padding-top: 3px;
    padding-bottom: 3px;
}

#onestepcheckout-login-popup button {
    padding: 3px 10px;
}

#onestepcheckout-login-popup div.onestepcheckout-popup-contents {

}

#onestepcheckout-login-popup p.close,#onestepcheckout-toc-popup p.close
    {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    right: 10px;
    bottom: -5px;
}

#onestepcheckout-login-popup p.close a,#onestepcheckout-login-popup p.close a:link,#onestepcheckout-login-popup p.close a:visited,#onestepcheckout-toc-popup p.close a,#onestepcheckout-toc-popup p.close a:link,#onestepcheckout-toc-popup p.close a:visited
    {
    text-decoration: none;
    color: black;
}

#onestepcheckout-login-popup p.close a:hover,#onestepcheckout-toc-popup p.close a:hover
    {
    text-decoration: underline;
}

#onestepcheckout-login-error,#onestepcheckout-forgot-error {
    color: red;
    margin-bottom: 10px;
}

div.onestepcheckout-comments {
    margin-top: 5px;
    margin-bottom: 20px;
}

div.onestepcheckout-comments textarea {
    margin-top: 5px;
    width: 95%;
}

/* onestepcheckout-twocolumns */
.onestepcheckout-two-columns .onestepcheckout-column-left {
    width: 47%;
    float: left;
    margin-right: 30px;
    background: transparent url(images/line-gradient.gif) no-repeat scroll
        right top;
}

.onestepcheckout-two-columns .onestepcheckout-column-right {
    width: 43%;
    float: left;
}

.onestepcheckout-two-columns p.onestepcheckout-numbers {
    margin-top: 20px !important;
}

.onestepcheckout-two-columns div.onestepcheckout-enable-terms {
    text-align: center !important;
}

.onestepcheckout-two-columns div.onestepcheckout-place-order-wrapper {
    text-align: center !important;
    margin-top: 5px !important;
}

.onestepcheckout-two-columns div.onestepcheckout-enable-newsletter {
    text-align: center !important;
}

.checkoutcontainer .payment-methods .input-box {
    width: 100% !important;
}

.checkoutcontainer .payment-methods .input-box .input-text,.checkoutcontainer .payment-methods .input-box textarea,.checkoutcontainer .payment-methods .input-box select
    {
    width: 95% !important;
}

.checkoutcontainer .payment-methods .input-box select.year,.checkoutcontainer .payment-methods .input-box select#protxDirect_expiration_yr,.checkoutcontainer .payment-methods .input-box select#protxDirect_start_yr
    {
    width: 75px !important;
}

.checkoutcontainer .payment-methods .input-box select.month,.checkoutcontainer .payment-methods .input-box select#protxDirect_start,.checkoutcontainer .payment-methods .input-box select#protxDirect_expiration
    {
    width: 140px !important;
}

.checkoutcontainer li.shipping-address-title {
    font-family: Arial;
    font-size: 16px;
    text-transform: uppercase;
    color: #404040;
    font-weight: bold;
    padding-top: 5px;
}

.onestepcheckout-giftmessagecontainer {
    margin-bottom: 10px;
}

.onestepcheckout-giftmessagecontainer .input-checkbox {
    /*text-align: right;*/

}

#onestepcheckout-giftmessages .onestepcheckout-giftmessages fieldset.group-select {
    padding: 0 !important;
    border: 0 !important;
    margin: 0 !important;
}

.onestepcheckout-giftmessages .group-select li .input-box-last {
    margin-right: 0 !important;
}

.onestepcheckout-giftmessages .group-select li .input-box {
    width: 125px;
    margin-right: 20px;
}

.onestepcheckout-giftmessages .group-select li .input-box .input-text {
    width: 120px;
}

.onestepcheckout-giftmessages .group-select li textarea {
    width: 267px;
}

.onestepcheckout-address-line {
    margin-bottom: 10px;
}

.onestepcheckout-column-left .customer-dob .dob-month,.onestepcheckout-column-left .customer-dob .dob-day,.onestepcheckout-column-left .customer-dob .dob-year
    {
    float: left;
    padding: 0 4px 0 0;
    margin: 0;
}

.onestepcheckout-column-left .customer-dob input.input-text {
    display: block;
    width: 74px;
}

.onestepcheckout-column-left .customer-dob label {
    font-size: 12px;
    font-weight: normal;
    /*color: #888;*/
}

.onestepcheckout-column-left .customer-dob .dob-day,.onestepcheckout-column-left .customer-dob .dob-month
    {
    /*width: 60px;*/
}

.onestepcheckout-column-left .customer-dob .dob-day input.input-text,.onestepcheckout-column-left .customer-dob .dob-month input.input-text
    {
    /*width: 46px;*/
}

.onestepcheckout-column-left .customer-dob .dob-year {
    /*width: 110px;*/
}

.onestepcheckout-column-left .customer-dob .dob-year input.input-text {
    width: 115px;
}
.onestepcheckout-feedback, .onestepcheckout-feedback-freetext {
    padding-top: 10px;
}
.onestepcheckout-feedback select {
    width:95%;
}
.onestepcheckout-feedback-freetext textarea{
    width:95%;
}
.onestepcheckout-coupon-code-notice {
}
#control_overlay {
    background-color:#000;
}

.modal {
    background-color:#fff;
    padding:10px;
    border:1px solid #333;
}
#addressreview {
    width: 750px;
    min-height: 430px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #E9EAEE;
    border: 2px solid white;
    padding: 15px 40px 20px 40px;
    margin: 0 auto;
    text-align: left;
    box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
    -moz-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
    -webkit-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
    position:relative;
}
#addressreview .leftcol{
    float: left;
    width: 200px;
}
#addressreview .rightcol{
    float: left;
    width: 540px;
}
#addressreview h4 {
    padding-top: 15px;
    padding-bottom: 3px;
    font-size: 16px;
}
#addressreview #buttons {
    position: absolute;
    right: 40px;
    bottom: 20px;
}
#addressreview #buttons div {
    float: left;
    zoom: 1;
    margin: 0px 10px 0px 10px;
}
.checkout-agreements li {
    margin: 0;
}
.checkout-agreements .agree {
    margin: 0;
    padding: 0;
}
.agreement-content {
    overflow: auto;
    text-align:left;
}
.checkout-artikel:link {
 color:#000;
 text-decoration:none;

}
.checkout-artikel:visited {
 text-decoration:none;

}
.checkout-artikel:active {
 text-decoration:underline;

}


.checkout-artikel:hover {
 text-decoration:underline;

}


div.payment-methods {
    width: 270px;
    margin: 0;
    padding: 0;
}

div.payment-methods dl dt {
    background: transparent url(images/onestepcheckout-payment-method-title.gif) no-repeat 0 0;
    height: 30px;
    margin: 0 0 10px 0;
    padding: 0 10px 0 10px;
    cursor: pointer;
}

div.payment-methods dl dt:hover {
    background: transparent url(images/onestepcheckout-payment-method-title.gif) no-repeat 0 -30px;    
}

div.payment-methods dl dt.active {
    background: transparent url(images/onestepcheckout-payment-method-title-active.gif) no-repeat 0 0;
    margin: 0;
}

div.payment-methods dl dt.active:hover {
    background: transparent url(images/onestepcheckout-payment-method-title-active.gif) no-repeat 0 -30px;    
}

div.payment-methods dl dt input {
    margin: 0;
    padding: 0;
    height: 14px;
    width: 14px;
    cursor: pointer;
}

div.payment-methods dl dt span.checkout-payment-method-input {
    display: block;
    float: left;
    padding: 7px 7px 7px 0;
}

div.payment-methods dl dt label {
    font-size: 12px;
    color: #111111;
    line-height: 16px;
    display: block;
    padding: 7px 0 7px 0;
    cursor: pointer;
}

div.payment-methods dl dt span.checkout-payment-method-logo {
    display: block;
    padding: 0 0 0 0;
    cursor: pointer;
}

div.payment-methods dl dt.bankpayment span.checkout-payment-method-logo {
    background: transparent url(images/onestepcheckout-payment-method-logo-backpayment.png) no-repeat right 1px;
}

div.payment-methods dl dt.sofortueberweisung span.checkout-payment-method-logo {
    background: transparent url(images/onestepcheckout-payment-method-logo-sofortueberweisung.png) no-repeat right 1px;
}

div.payment-methods dl dt.paypal_standard span.checkout-payment-method-logo {
    background: transparent url(images/onestepcheckout-payment-method-logo-paypal_standard.png) no-repeat right 1px;
}

div.payment-methods dl dt.ipayment_cc span.checkout-payment-method-logo {
    background: transparent url(images/onestepcheckout-payment-method-logo-ipayment_cc.png) no-repeat right 1px;
}

div.payment-methods dl dt.ipayment_elv span.checkout-payment-method-logo {
    background: transparent url(images/onestepcheckout-payment-method-logo-ipayment_elv.png) no-repeat right 1px;
}

div.payment-methods dl dt.checkmo span.checkout-payment-method-logo {
    background: transparent url(images/onestepcheckout-payment-method-logo-checkmo.png) no-repeat right 1px;
}

div.payment-methods dl dt.payenginecw_creditcard span.checkout-payment-method-logo {
    background: transparent url(images/onestepcheckout-payment-method-logo-concardis.png) no-repeat right 1px;
}

div.payment-methods dl dd {
    margin: 0;
    padding: 0;
    width: 270px;
}

div.payment-methods dl dd span.checkout-payment-method-content {
    display: block;
    border-left: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
    padding: 10px 10px 6px 10px;
    margin: 0;
    background-color: #D8F8D1;
}

div.payment-methods dl dd span.checkout-payment-method-end {
    background: transparent url(images/onestepcheckout-payment-method-end_transparent.png) no-repeat 0 0;
    display: block;
    height: 4px;
    background-color: #D8F8D1;
}

div.onestepcheckout-qty {
    border: 1px solid #cfcfcf;
    width: 38px;
    height: 25px;
    background: #cfcfcf;
}

div.onestepcheckout-qty div.onestepcheckout-qty-count {
    border-right: 1px solid #cfcfcf;
    width: 24px;
    height: 25px;
    font-size: 12px;
    color: #111111;
    text-align: center;
    line-height: 25px;
    background: #ffffff;
    float: left;
}

div.onestepcheckout-qty div.onestepcheckout-qty-buttons {
    float: right;
    width: 13px;
    height: 25px;
}

div.onestepcheckout-qty button.onestepcheckout-qty-button-add {
    border: 0;
    width: 13px;
    height: 12px;
    padding: 0;
    margin: 0 0 1px 0;
    background: url(images/onestepcheckout-qty-buttons.gif) no-repeat 0 0;
    display: block;
}

div.onestepcheckout-qty button.onestepcheckout-qty-button-add:hover {
    background: url(images/onestepcheckout-qty-buttons.gif) no-repeat 0 -12px;
}

div.onestepcheckout-qty button.onestepcheckout-qty-button-remove {
    border: 0;
    width: 13px;
    height: 12px;
    padding: 0;
    margin: 0;
    background: url(images/onestepcheckout-qty-buttons.gif) no-repeat -13px 0;
    display: block;
}

div.onestepcheckout-qty button.onestepcheckout-qty-button-remove:hover {
    background: url(images/onestepcheckout-qty-buttons.gif) no-repeat -13px -12px;
}

html.chrome div#tipps { font-size:10.8px !important;}
/* html.chrome div#extra_products { visibility:hidden !important;}
html.webkit div#extra_products { visibility:hidden !important;}
html.webkit span.im_vergleich { visibility:hidden !important;}
div#extra_products { visibility:hidden !important;}
span.im_vergleich { visibility:hidden !important;}
*/ 
input[type=checkbox].css-checkbox {
							position: absolute; 
							overflow: hidden; 
							clip: rect(0 0 0 0); 
							height:1px; 
							width:1px; 
							margin:-1px; 
							padding:0;
							border:0;
						}

						input[type=checkbox].css-checkbox + label.css-label {
							padding-left:20px;
							height:15px; 
							display:inline-block;
							line-height:15px;
							background-repeat:no-repeat;
							background-position: 0 0;
							font-size:15px;
							vertical-align:middle;
							cursor:pointer;
						}

						input[type=checkbox].css-checkbox:checked + label.css-label {
							background-position: 0 -15px;
						}
						
						  .css-label{ background-image:url(images/lite-green-check.png); }
						  
.onestepcheckout-extraproducts	li { border-bottom:1px solid #CFCFCF;}
.onestepcheckout-extraproducts	li:last-child { border-bottom:0px solid #CFCFCF;}
