<?php
$_coreHelper = $this->helper('core');
$checkoutHelper = Mage::helper('onestepcheckout/checkout');
$cartHelper = Mage::helper('checkout/cart');

$request = $this->getRequest();
$module = $request->getModuleName();

?>
<div class="onestepcheckout-summary-title"><?php echo $this->__('Warenkorb') ?></div>
<div class="onestepcheckout-summary-container">
	<table class="onestepcheckout-summary">
		<thead>
			<tr>
				<th>&nbsp;</th>
				<th class="name" ><span><?php echo $this->__('Product') ?></span></th>
				<th class="qty"><?php echo $this->__('Qty') ?></th>
				<th class="total" ><span><?php echo $this->__('Subtotal1') ?></span></th>
			</tr>
		</thead>
		<?php foreach($this->getItems() as $item): 
			$_imageUrl = $this->helper('catalog/image')->init($item->getProduct(), 'small_image')->resize(50, 50);
			$id = $item->getProduct()->getId(); 
			$product = Mage::getModel('catalog/product')->load($id);
			$exturl = $product->getImgSmall();
			$exturl = str_replace("product_images/", $this->getUrl("product_images/"), $exturl);
			if(strpos($_imageUrl, "/placeholder/") && $exturl) $_imageUrl = $exturl;
		
			$id = $item->getProduct()->getId();
			$product = Mage::getModel('catalog/product')->load($id);
			$delivery_time=$product->getDeliveryTime();
			$printer_id = $item->getCategoryId(); 
			$sku = $product->getSku();

			$isGeschenk = false;
			if( mb_strpos($sku, "GS1") !== false) {
				$isGeschenk = true;
			}
			
			$isPapier = false;
			if( mb_strpos($sku, "pa1000") !== false) {
				$isPapier = true;
			}
		?>
			<tr id="mini-cart-<?php echo $item->getSku() ?>">
				<td class="image">
					<? if(!$isGeschenk): // Link nur wenn das item kein geschenk ist ?>
						<a href="<?php echo $this->getProductUrl() ?>" class="product-image" title="<?php echo $this->htmlEscape($this->getProductName()) ?>">
					<? endif ?>
					<img width="38" src="<?php echo str_replace('http://','https://',$_imageUrl); ?>" alt="<?php echo $this->htmlEscape($this->getProductName()) ?>" />
					<? if(!$isGeschenk): // Link nur wenn das item kein geschenk ist ?>
						</a>
					<? endif ?>
				</td>
				<td class="name" style="font-size: 11px; line-height: 15px;">
					<?php
						if($printer_id) { // Kommentare wären hier nicht verkehrt !
							$printer = Mage::getModel('catalog/category')->load($printer_id);
							$manufacturer_name = $printer->getPrinterManufacturer();
							$printer_name = $printer->getName();
							$string = $manufacturer_name . " " . $printer_name;
							$manufacturer_realname = strtolower($manufacturer_name);
							if ($manufacturer_realname == 'hewlett packard' ) $manufacturer_realname = 'hp';
							$manufacturer_realname = str_replace('/', '-', $manufacturer_realname);
							$manufacturer_realname = str_replace(' ', '-', $manufacturer_realname);
							$printer_realname = strtolower($printer_name);
							$printer_realname = str_replace(' ', '-', $printer_realname);
						} else {
							$manufacturer_realname = "";
							$printer_realname = "";
							$string = "nicht gespeichert";
						}
						
						$producturl = $product->getProductUrl();
						$cat_id = (int) $item->getData('category_id');
						if ($cat_id > 0) {
							$producturl = Mage::getModel('catalog/category')->load($cat_id)->getUrl();
						}
					?>
					<div>
						<?php // Bei einem Geschenk nur den Namen anzeigen, kein link
							if(!$isGeschenk && !$isPapier) {
								//echo '<a class="checkout-artikel" href="'.$this->getBaseUrl().$manufacturer_realname.'/'.$printer_realname.'">';
								echo '<a class="checkout-artikel" href="'.$producturl.'">';
							}
							echo str_replace("Druckerpatrone", "Patrone", $item->getName()) . "<br>";
						
							if(!$isGeschenk) { // Details auch nur wenn es kein Geschenk ist
								echo "Art.-Nr.: ".$product->getSku()."<br/>";
								if (!$isPapier) echo "Hersteller: ".$product->getManufacturer(); else echo $product->getContent();
								echo "</a>";
								if ( $delivery_time == 'Sofort lieferbar' || $delivery_time =='In 1-2 Werktagen lieferbar' || $delivery_time =='Lieferzeit ca. 7-14 Tage') {
									echo '<br><font color="#51AA1C">sofort lieferbar</font>';
								}
							}
						?>
					</div>
					<?php if($checkoutHelper->settings['show_custom_options']): ?>
						<?php $options = $item->getProduct()->getTypeInstance(true)->getOrderOptions($item->getProduct()); ?>
						<?php if(isset($options['options']) && count($options['options']) > 0): ?>
							<ul class="onestepcheckout-custom-options">
								<?php foreach($options['options'] as $option): ?>
									<li><b><?php echo $option['label'] . ':</b> ' . $option['value'] ?></li>
								<?php endforeach ?>
							</ul>
						<?php endif ?>
						<?php if($item->getProduct()->isConfigurable()): ?>
							<?php $configurable_options = $item->getProduct()->getTypeInstance(true)->getSelectedAttributesInfo($item->getProduct()) ?>
							<?php if(is_array($configurable_options) && count($configurable_options) > 0): ?>
								<ul class="onestepcheckout-custom-options">
									<?php foreach($configurable_options as $option): ?>
										<li><b><?php echo $option['label']; ?>:</b> <?php echo $option['value']; ?></li>
									<?php endforeach ?>
								</ul>
							<?php endif ?>
						<?php endif ?>
					<?php endif ?>
				</td>
				<td class="qty">
					<div class="onestepcheckout-qty">
						<?php if($isGeschenk) : // Bei einem Geschenk nur die Anzahl, keine Buttons ?>
							<div class="onestepcheckout-qty-count" style="width:38px;" ><?php echo $item->getQty() ?></div>
						<?php else : ?>
							<div class="onestepcheckout-qty-count"><?php echo $item->getQty() ?></div>
							<div class="onestepcheckout-qty-buttons">
								<?php
									$addUrl = $cartHelper->getAddUrl($item->getProduct())."category/".$printer_id."/";
									$removeUrl = $cartHelper->getRemoveUrl($item);

									// Pixelmechanics FL 02.08.2013: Auf der Checkout-Seite muessen alle Ajax-Calls und 
									// Links nach HTTPS sein!
									// aktivieren damits im Chrome funktioniert:
									//$addUrl = str_replace("http://", "https://", $addUrl);
									//$removeUrl = str_replace("http://", "https://", $removeUrl);
								?>
								<button type="button" title="Anzahl erhöhen" class="onestepcheckout-qty-button-add cartbutton" onclick="setLocation('<?php echo $addUrl ?>', '<?php echo $item->getSku() ?>'); return false;"></button>
								<button type="button" title="Anzahl verringern" class="onestepcheckout-qty-button-remove cartbutton" onclick="removeOne('<?php echo $removeUrl ?>', '<?php echo $addUrl ?>', <?php echo $item->getQty() ?>, <?php echo $item->getId() ?>, '<?php echo $item->getSku() ?>'); return false;"></button>                
							</div>
						<?php endif ?>
					</div>
				</td>
				<td class="total">
					<span>
						<?php if($checkoutHelper->settings['display_tax_included']): ?>
							<?php echo $this->helper('checkout')->formatPrice($this->helper('checkout')->getSubtotalInclTax($item)) ?>
						<?php else: ?>
							<?php echo $this->helper('checkout')->formatPrice($item->getRowTotal()) ?>
						<?php endif ?>
					</span>
				</td>
			</tr>
		<?php endforeach ?>
	</table>
</div>

<? 
/**
 * Warenkorb Upsell
 * Container für "Tauschen & Sparen" Dummy, wird angezeigt wenn Sparpotenzial vorhanden ist, 	
 * s. https://projects.zoho.com/portal/pixelmechanics#forums/190828000000049003/190828000002577097
 **/ 
 
/**
 *  Erweiterung Alternative Produkte vorschlagen
 *  siehe https://projects.zoho.com/portal/pixelmechanics#forums/190828000000049003/190828000002577097
 * 
 *  Produkt wurde zum Warenkorb hinzugefügt
 * -> prüfen ob Sparpotenzial vorhanden ist ( blendet ggf. Button / Overlay ein )
 * -> ob die Geschenke noch gültig sind (läuft im Hintergrund, löscht ggf. Produkte raus, Zuordnung von SKU zu Geschenk steht in der Session )
 *
 * -> HTML wird per JSON zurückgeliefert und in der Funktion sendcart in den Body eingefügt
 * skin\frontend\default\default\js\j2t\ajax_cart.js
 *
 **/
/**/
	// Url für prüfung auf upsell
	//$checkUpsellLink = Mage::getBaseUrl('web', true) . "j2tajaxcheckout/index/checkHasUpsell/?jsoncallback=?";
	$checkUpsellLink = Mage::getBaseUrl('web', true) . "j2tajaxcheckout/index/checkHasUpsell/";
	// Pixelmechanics FL 02.08.2013: Auf der Checkout-Seite muessen alle Ajax-Calls und Links nach HTTPS sein!
	// auskommentieren damits im Chrome funktioniert:
	//$checkUpsellLink = str_replace("https://", "http://", $checkUpsellLink);
	
/*		
	// PM Upsell Klasse einbinden
		require_once($_SERVER['DOCUMENT_ROOT']."/pixelmechanics/cartExchange/Pixelmechanics_Cart_Upsell.php");
		$pixmex_upsell = new Pixelmechanics_Cart_Upsell;

	// Prüft ob die Geschenke im Warenkorb noch valide sind, wenn nicht werden diese silently entfernt!
		$pixmex_upsell->checkPresentsValid(); 
		
	// Inhalt für Overlay holen	
		$cartUpsell_html = $pixmex_upsell->checkForUpsell();
		
	
*/	
	// Url für das overlay
	$show_overlay_link = Mage::getBaseUrl('web', true) . "j2tajaxcheckout/index/returnUpsellHtmlJSON/?jsoncallback=?";

	// Pixelmechanics FL 02.08.2013: Auf der Checkout-Seite muessen alle Ajax-Calls und Links nach HTTPS sein!
	// auskommentieren damits im Chrome funktioniert:
	//$show_overlay_link = str_replace("https://", "http://", $show_overlay_link);
			
?>


	
<?php
	$referer = "onestepcheckout";
	if(isset($_SERVER['HTTP_REFERER'])) {
		$referer = $_SERVER['HTTP_REFERER']; // Overlay nur öffnen, wenn man von außerhalb kommt
	}
	$last_page_is_checkout = (mb_strpos($referer, "onestepcheckout") !== false) ? true : false;
?>
<?php

// Pixelmechanics FL 11.01.2013: Gutscheinfunktion auch in Ajax-Warenkorb
// https://projects.zoho.com/portal/pixelmechanics#forums/190828000000049003/190828000002004479
$quote = Mage::getModel('checkout/cart')->getQuote();

$country_code = $quote->getShippingAddress()->getCountry(); 

$coupon_code = $quote->getCouponCode();

$totals = Mage::getSingleton("checkout/cart")->getQuote()->getTotals();
if (isset($totals["shipping"])) {
	$total_shipping = Mage::helper('checkout')->formatPrice($totals["shipping"]->getValue()*1.19);
} else {
	$total_shipping = 0;
}

?>
<table class="onestepcheckout-discount" style="border-top: 1px solid #E6E6E6; width: 100%;">
	<?php //if ($last_page_is_checkout): ?>
	<tr>
		<td>
			<?php echo $this->getLayout()->createBlock('promotion/button')->setBlockId('promotion_button')->toHtml() ?>
		</td>
	</tr>
	<?php //endif ?>
	<tr>
		<td>
			<?php //echo $this->getLayout()->createBlock('checkout/cart_coupon')->setBlockId('test')->toHtml(); ?>
			<div id="discount-msg"></div>
			<div id="discount">
			    <!--<h4 style="float: left; margin-top: 4px;">Gutscheincode:</h4>-->
			    <!--<label for="coupon_code">Wenn Sie einen Gutscheincode besitzen, geben Sie diesen bitte hier ein.</label><br>-->
			    <input type="<?php echo ($coupon_code ? 'hidden' : 'text')  ?>" value="<?php echo $coupon_code ?>" name="coupon_code" id="coupon_code" title="<?php echo $this->__('Nur ein Code pro Bestellung') ?>">
				<?php if($coupon_code): ?>
					<a href="#" value="Gutschein stornieren" type="button" onclick="deleteCoupon(); return false;" class="button" style="width: 150px;"><span><?php echo $this->__('Gutschein stornieren') ?></span></a>
				<?php else: ?>
					<a href="#" value="Gutschein einlösen" type="button" onclick="addCoupon(); return false;" class="button"><span><?php echo $this->__('Gutschein einlösen') ?></span></a>
				<? endif ?>
			</div>
		</td>
	</tr>
</table>
<?php /* END */ ?>
<script type="text/javascript">
	//<![CDATA[
	$j(function(){
		$j('#coupon_code').on('keyup', function(e) {
		    if (e.which == 13) {
		        addCoupon();
		        return false;
		    }
		});	
		$j(".layer-cart-end-button").click(function(){
			$j("#loadingpage").show();
		});
	});
	//]]>
</script>
<table class="onestepcheckout-totals" >
	<?php 
		$ship = false;
		$url_arr = explode(DIRECTORY_SEPARATOR, $_SERVER['HTTP_REFERER']);
	?>
    <?php foreach($this->getTotals() as $total): ?>
	
    <?php if(!$total->getTitle()){continue;}?>
        <?php
        $fullInfo = $total->getFullInfo();

        if(!empty($fullInfo) && $checkoutHelper->settings['display_full_tax']):
            foreach ($fullInfo as $info):
                $rates = current($info['rates']);
                $amount = $info['amount'];
        ?>
            <tr>
                <td class="title"><?php echo $rates['title'] ?> (<?php echo $rates['percent'] ?>%)</td><td class="value"><?php echo $this->helper('checkout')->formatPrice($amount); ?></td>
            </tr>
        <?php endforeach;
        endif;?>
    <tr<?php if($total->getCode() == 'grand_total'): ?> class="grand-total" style="border-bottom: 1px solid #E6E6E6;"<?php endif; ?> 
    <?php if($total->getCode() == 'subtotal'): ?> class="first"<?php endif; ?>
    >
        <td class="title" style="text-align: left;">
            <?php

            $code = $total->getCode();

            $value = $total->getValue();

            if($code == 'subtotal')    {
                $total_name = $this->__('Subtotal');
                 $value =  $value *1.19;
                   $zwischensumme=$value;
            }
            elseif($code == 'tax')    {
              $total_name  = 'enthaltene MwSt.19%';
                            }
            elseif($code == 'shipping')    {
				$ship = true;
				if ($country_code == 'DE' && !in_array('onestepcheckout', $url_arr)) {
					$total_name = 'DHL Versand*';
				} else {
					$total_name = 'DHL Versand';
				}
               
                if($checkoutHelper->settings['display_tax_included'])   {
					$value = $total->getValue()*1.19;
                }
				if($value == 0){
					$display='display:none;';
				}
                            
            }elseif($code == 'grand_total')    {
                $total_name = $this->__('Grand total');
            }
            else    {
                $total_name = $total->getTitle();
            }

            echo $total_name.':';

            ?>
        </td>
        <td class="value">
            <?php echo $this->helper('checkout')->formatPrice($value); ?>
        </td>
    </tr>
    <?php if($code == 'grand_total' && $zwischensumme < 49 ) {
			if ($country_code == 'DE') {
				//if(!isset($display)) {$display="";} var $display often not set - see magento dev log
				if (!in_array('onestepcheckout', $url_arr)) {
					$add_info = "<tr><td colspan='2'><div style='margin:0px 0px 10px 15px; font-size: 10px;'>* Versand innerhalb Deutschlands</div></td></tr><tr><td colspan='2'><span style='margin-left:15px;margin-bottom:15px;position:relative;bottom:4px;color:#E5097C;font-weight:bold;".$display."'>noch ".str_replace(".",",",sprintf("%.2f",round(49-$zwischensumme,2)))."€ bis zum kostenlosen Versand</span></td></tr>";
				} else {
					$add_info = "<tr><td colspan='2'><div style='height: 10px;'></div></td></tr><tr><td colspan='2'><span style='margin-left:15px;margin-bottom:15px;position:relative;bottom:4px;color:#E5097C;font-weight:bold;".$display."'>noch ".str_replace(".",",",sprintf("%.2f",round(49-$zwischensumme,2)))."€ bis zum kostenlosen Versand</span></td></tr>";
				}
				echo $add_info; 
			}
	} 
    elseif ($code == 'grand_total') { 
		if ($country_code == 'DE') {
			if (!in_array('onestepcheckout', $url_arr)) {
				$add_info = "<tr><td colspan='2'><div style='margin:0px 0px 10px 15px; font-size: 10px;'>* Versand innerhalb Deutschlands</div></td></tr><tr><td colspan='2'><span style='margin-left:70px;margin-bottom:15px;position:relative;bottom:4px;color:#E5097C;font-weight:bold;'>Kostenloser Versand</span></td></tr>";
			} else {
				$add_info = "<tr><td colspan='2'><div style='height: 10px;'></div></td></tr><tr><td colspan='2'><span style='margin-left:70px;margin-bottom:15px;position:relative;bottom:4px;color:#E5097C;font-weight:bold;'>Kostenloser Versand</span></td></tr>";
			}
			
			echo $add_info;
		}
	}
    ?>
    <?php endforeach; ?>
</table>

<script type="text/javascript">
	//<![CDATA[
		var total = <?php echo $this->getGrandTotal();?>;
		if(typeof(payment) != "undefined" && payment.reloadcallback){
			var url = '<?php echo $this->getUrl('onestepcheckout/ajax/paymentrefresh', array('_secure'=>true)) ?>';
			paymentrefresh(url);
			payment.countreload = 0;
			payment.reloadcallback = false;
		}
	//]]>
</script>

<?php if (!$ship) : ?>
	<script type="text/javascript">
		//<![CDATA[
			var url = '<?php echo $this->getUrl('onestepcheckout/ajax/set_methods_separate', array('_secure'=>false)) ?>';
			var summary = $$('div#warenkorb-content').first();
			var parameters = {payment_method:'checkmo', shipping_method: 'tablerate_bestway', summary_html: '1'};
			summary.update('<div class="loading-ajax">&nbsp;</div>');
			new Ajax.Request(url, {
				method: 'post',
				parameters: parameters,
				onSuccess: function(transport)  {
					summary.update(transport.responseText);
				}
			});
		//]]>
	</script>
<?php endif ?>


