/*
 * Ext JS Library 2.0 Alpha 1
 * Copyright(c) 2006-2007, Ext JS, LLC.
 *
 * @license LGPL
 * @author Kemal Tunador <tunador@madrabaz.com>
 */

.x-panel {
    border-style: solid;
    border-color: #777777;
}
.x-panel-header {
    color:#eeeeee;
	border:1px solid #777777;
    background-image:url(../images/darkgray/panel/white-top-bottom.gif);
}

.x-panel-body {
    border-color:#777777;
}

.x-panel-bbar .x-toolbar {
    border-color:#777777;
}

.x-panel-tbar .x-toolbar {
    border-color:#777777;
}

.x-panel-tbar-noheader .x-toolbar, .x-panel-mc .x-panel-tbar .x-toolbar {
    border-color:#777777;
}
.x-panel-body-noheader, .x-panel-mc .x-panel-body {
    border-color:#777777;
}
.x-panel-tl .x-panel-header {
    color:#eeeeee;
}
.x-panel-tc {
	background-image:url(../images/darkgray/panel/top-bottom.gif);
}
.x-panel-tl {
	background-image:url(../images/darkgray/panel/corners-sprite.gif);
    border-color:#777777;
}
.x-panel-tr {
	background-image:url(../images/darkgray/panel/corners-sprite.gif);
}
.x-panel-bc {
	background-image:url(../images/darkgray/panel/top-bottom.gif);
}
.x-panel-bl {
	background-image:url(../images/darkgray/panel/corners-sprite.gif);
}
.x-panel-br {
	background-image:url(../images/darkgray/panel/corners-sprite.gif);
}
.x-panel-mc {
    background:#888888;
    color:#f9f9f9; /*ADDED*/
}
.x-panel-mc .x-panel-body {
    background:transparent;
    border: 0 none;
}
.x-panel-ml {
	background-image:url(../images/darkgray/panel/left-right.gif);
}
.x-panel-mr {
	background-image:url(../images/darkgray/panel/left-right.gif);
}

/* Grid */
.x-grid3-row {
    color:#000000;
}
.x-grid3-row-over {
	border:1px solid #dddddd;
    background-image:url(../images/darkgray/grid/row-over.gif);
}
.x-grid3-header{
	background-image:url(../images/darkgray/grid/grid3-hrow.gif);
}
.x-grid3-header-pop-inner {
    border-left:1px solid #eee;
    background-image:url(../images/darkgray/grid/hd-pop.gif);
}
td.x-grid3-hd-over, td.sort-desc, td.sort-asc, td.x-grid3-hd-menu-open {
    border-left:1px solid #668899;
    border-right:1px solid #668899;
    color:  #000000;
}
td.x-grid3-hd-over .x-grid3-hd-inner, td.sort-desc .x-grid3-hd-inner, td.sort-asc .x-grid3-hd-inner, td.x-grid3-hd-menu-open .x-grid3-hd-inner {
    background-image:url(../images/darkgray/grid/grid3-hrow-over.gif);
}
.x-dd-drag-proxy .x-grid3-hd-inner{
	background-image:url(../images/darkgray/grid/grid3-hrow-over.gif);
}
.x-grid3-locked td.x-grid3-row-marker, .x-grid3-locked .x-grid3-row-selected td.x-grid3-row-marker{
    background-image:url(../images/darkgray/grid/grid-hrow.gif);
    color:black;
    border-top:1px solid white;
    border-right:1px solid #6fa0df !important;
}
.x-props-grid .x-grid3-td-name .x-grid3-cell-inner{
	background-image:url(../images/darkgray/grid/grid3-special-col-bg.gif);
    color:black !important;
}
.x-grid3-hd-btn {
    background-image:url(../images/darkgray/grid/grid3-hd-btn.gif);
}
.x-grid3-body .x-grid3-td-expander {
    background-image:url(../images/darkgray/grid/grid3-special-col-bg.gif);
}
.x-grid3-body .x-grid3-td-checker {
    background-image:url(../images/darkgray/grid/grid3-special-col-bg.gif);
}
.x-grid3-body .x-grid3-td-numberer {
    background-image:url(../images/darkgray/grid/grid3-special-col-bg.gif);
}
.x-grid3-body .x-grid3-row-selected .x-grid3-td-numberer,
.x-grid3-body .x-grid3-row-selected .x-grid3-td-checker,
.x-grid3-body .x-grid3-row-selected .x-grid3-td-expander {
	background-image:url(../images/darkgray/grid/grid3-special-col-sel-bg.gif);
}
.x-grid3-row-selected {
    color: #000000;
	background: #ffffff;
	border:1px dotted #111111;
}

/* Menu */
.x-menu {
	border: 1px solid #333333;
	background-image:url(../images/darkgray/menu/menu.gif);
}
.x-menu-sep {
    background-color:#e6e6e6;
	border-bottom:1px solid #bfbfbf;
}
.x-menu-item-active {
	background-image:url(../images/darkgray/menu/item-over.gif);
	border:1px solid #aaaaaa;
}

/* Tools */
.x-tool {
    background-image:url(../images/darkgray/panel/tool-sprites.gif);
}

/* Ghosting */
.x-panel-ghost {
    background:#888888;
}

.x-panel-ghost ul {
    border-color:#555555;
}

.x-grid-panel .x-panel-mc .x-panel-body {
    border:1px solid #777777;
}

/* Buttons */

.x-btn-text{
color: #eee;
}
.x-btn-left{
	background-image:url(../images/darkgray/button/btn-sprite.gif);
}
.x-btn-right{
	background-image:url(../images/darkgray/button/btn-sprite.gif);
}
.x-btn-center{
	background-image:url(../images/darkgray/button/btn-sprite.gif);
}

/* Layout classes */

.x-border-layout-ct {
    background:#abadaf; /* f1f2f4 */
}

.x-accordion-hd {
	background-image:url(../images/darkgray/panel/light-hd.gif);
}

.x-layout-collapsed{
    background-color:#777777;
    border-color:#555555;
}
.x-layout-collapsed-over{
	 background-color:#888888;
}


/* qtips */
.x-tip .x-tip-close{
	background-image: url(../images/darkgray/qtip/close.gif);
}
.x-tip .x-tip-tc {
	background-image:url(../images/darkgray/qtip/tip-sprite.gif);
}
.x-tip .x-tip-tl {
	background-image:url(../images/darkgray/qtip/tip-sprite.gif);
}
.x-tip .x-tip-tr {
	background-image:url(../images/darkgray/qtip/tip-sprite.gif);
}
.x-tip .x-tip-bc {
	background-image:url(../images/darkgray/qtip/tip-sprite.gif);
}
.x-tip .x-tip-bl {
	background-image:url(../images/darkgray/qtip/tip-sprite.gif);
}
.x-tip .x-tip-br {
	background-image:url(../images/darkgray/qtip/tip-sprite.gif);
}
.x-tip .x-tip-ml {
	background-image:url(../images/darkgray/qtip/tip-sprite.gif);
}
.x-tip .x-tip-mr {
	background-image:url(../images/darkgray/qtip/tip-sprite.gif);
}
.x-tip .x-tip-header-text {
    color:#eeeeee;
}
.x-tip .x-tip-body {
    color:#eeeeee;
}
/* Toolbars */

.x-toolbar{
	border-color:#777777;
    background:#9c9c9c url(../images/darkgray/toolbar/bg.gif) repeat-x top left;
}
.x-toolbar button {
    color:#e5e5e5;
}
.x-toolbar .x-btn-menu-arrow-wrap .x-btn-center button {
    background-image:url(../images/darkgray/toolbar/btn-arrow.gif);
}
.x-toolbar .x-btn-text-icon .x-btn-menu-arrow-wrap .x-btn-center button {
    background-image:url(../images/darkgray/toolbar/btn-arrow.gif);
}
.x-toolbar .x-btn-over .x-btn-left{
	background-image:url(../images/darkgray/toolbar/tb-btn-sprite.gif);
}
.x-toolbar .x-btn-over .x-btn-right{
	background-image:url(../images/darkgray/toolbar/tb-btn-sprite.gif);
}
.x-toolbar .x-btn-over .x-btn-center{
	background-image:url(../images/darkgray/toolbar/tb-btn-sprite.gif);
}
.x-toolbar .x-btn-over button {
    color:#333333;
}
.x-toolbar .x-btn-click .x-btn-left, .x-toolbar .x-btn-pressed .x-btn-left, .x-toolbar .x-btn-menu-active .x-btn-left{
	background-image:url(../images/darkgray/toolbar/tb-btn-sprite.gif);
}
.x-toolbar .x-btn-click .x-btn-right, .x-toolbar .x-btn-pressed .x-btn-right, .x-toolbar .x-btn-menu-active .x-btn-right{
	background-image:url(../images/darkgray/toolbar/tb-btn-sprite.gif);
}

.x-toolbar .x-btn-click .x-btn-center, .x-toolbar .x-btn-pressed .x-btn-center, .x-toolbar .x-btn-menu-active .x-btn-center{
	background-image:url(../images/darkgray/toolbar/tb-btn-sprite.gif);
}
.x-toolbar .ytb-sep {
	background-image: url(../images/darkgray/grid/grid-split.gif);
}
.x-paging-info {
    color:#f9f9f9;
}

/* Form */

.x-form-field-wrap .x-form-trigger{
    background-image:url(../images/darkgray/form/trigger.gif);
    border-bottom: 1px solid #a5a5a5;
}
.x-form-field-wrap .x-form-date-trigger{
    background-image: url(../images/darkgray/form/date-trigger.gif);
}
.x-form-field-wrap .x-form-clear-trigger{
    background-image: url(../images/darkgray/form/clear-trigger.gif);
}
.x-form-field-wrap .x-form-search-trigger{
    background-image: url(../images/darkgray/form/search-trigger.gif);
}
.x-form-text, textarea.x-form-field{
    border: 1px solid #a5a5a5;
}
.x-form-select-one {
    border: 1px solid #a5a5a5;
}
.x-item-disabled .x-form-trigger-over{
    border-bottom: 1px solid #a5a5a5;
}
.x-item-disabled .x-form-trigger-click{
    border-bottom: 1px solid #a5a5a5;
}
.x-form fieldset {
    border:1px solid #a5a5a5;
}
.x-trigger-wrap-focus .x-form-trigger{
    border-bottom: 1px solid #929292;
}
.x-form-focus, textarea.x-form-focus{
	border: 1px solid #929292;
}
/* Tabs */

.x-tab-panel-header, .x-tab-panel-footer {
	background: #646464;
	border-color:#777777;
}


.x-tab-panel-header {
	border-color:#777777;
}

.x-tab-panel-footer {
	border-color:#777777;
}

ul.x-tab-strip-top{
	background:#7a7a7a url(../images/darkgray/tabs/tab-strip-bg.gif) repeat-x left top;
	border-color:#777777;
    padding-top: 2px;
}

ul.x-tab-strip-bottom{
	background-image:url(../images/darkgray/tabs/tab-strip-btm-bg.gif);
	border-color:#777777;
}

.x-tab-strip span.x-tab-strip-text {
	color:#dddddd;
}
.x-tab-strip-over span.x-tab-strip-text {
	color:#ffff;
}

.x-tab-strip-active span.x-tab-strip-text {
	color:#eeeeee;
}

.x-tab-strip-disabled .x-tabs-text {
	color:#888888;
}

.x-tab-strip-top .x-tab-right {
	background-image:url(../images/darkgray/tabs/tabs-sprite.gif);
}

.x-tab-strip-top .x-tab-left {
	background-image:url(../images/darkgray/tabs/tabs-sprite.gif);
}
.x-tab-strip-top .x-tab-strip-inner {
	background-image:url(../images/darkgray/tabs/tabs-sprite.gif);
}

.x-tab-strip-bottom .x-tab-right {
	background-image:url(../images/darkgray/tabs/tab-btm-inactive-right-bg.gif);
}

.x-tab-strip-bottom .x-tab-left {
	background-image:url(../images/darkgray/tabs/tab-btm-inactive-left-bg.gif);
}

.x-tab-strip-bottom .x-tab-strip-active .x-tab-right {
	background-image:url(../images/darkgray/tabs/tab-btm-right-bg.gif);
}

.x-tab-strip-bottom .x-tab-strip-active .x-tab-left {
	background-image:url(../images/darkgray/tabs/tab-btm-left-bg.gif);
}

.x-tab-strip .x-tab-strip-closable a.x-tab-strip-close {
	background-image:url(../images/darkgray/tabs/tab-close.gif);
}
.x-tab-strip .x-tab-strip-closable a.x-tab-strip-close:hover{
	background-image:url(../images/darkgray/tabs/tab-close.gif);
}

.x-tab-panel-body {
    border-color:#777777;
    background:#eeeeee;
}
.x-tab-panel-bbar .x-toolbar {
    border-color: #777777;
}

.x-tab-panel-tbar .x-toolbar {
    border-color: #777777;
}

.x-tab-panel-header-plain .x-tab-strip-spacer {
    border-color:#777777;
    background: #e7e7e7;
}

.x-tab-scroller-left {
    background-image: url(../images/darkgray/tabs/scroll-left.gif);
    border-color:#aeaeae;
}
.x-tab-scroller-right {
    background-image: url(../images/darkgray/tabs/scroll-right.gif);
    border-color:#aeaeae;
}

/* Buttons */

.x-btn-menu-arrow-wrap .x-btn-center button {
    background-image:url(../images/darkgray/button/btn-arrow.gif);
}
.x-btn-with-menu  .x-btn-center em {
    background-image:url(../images/darkgray/toolbar/btn-arrow.gif);
}

.x-btn-text-icon .x-btn-with-menu .x-btn-center em {
    background-image:url(../images/darkgray/toolbar/btn-arrow-light.gif);
}

/* Window */

.x-window-proxy {
    background:#e0e0e0;
    border-color:#b0b0b0;
}

.x-window-tl .x-window-header {
    color:#eeeeee;
}
.x-window-tc {
	background-image:url(../images/darkgray/window/top-bottom.png);
}
.x-window-tl {
	background-image:url(../images/darkgray/window/left-corners.png);
}
.x-window-tr {
	background-image:url(../images/darkgray/window/right-corners.png);
}
.x-window-bc {
	background-image:url(../images/darkgray/window/top-bottom.png);
}
.x-window-bl {
	background-image:url(../images/darkgray/window/left-corners.png);
}
.x-window-br {
	background-image:url(../images/darkgray/window/right-corners.png);
}
.x-window-mc {
    border:1px solid #555555;
    background:#aaaaaa;
}

.x-window-ml {
	background-image:url(../images/darkgray/window/left-right.png);
}
.x-window-mr {
	background-image:url(../images/darkgray/window/left-right.png);
}
.x-panel-ghost .x-window-tl {
    border-color:#555555;
}
.x-panel-collapsed .x-window-tl {
    border-color:#555555;
}

.x-window-plain .x-window-mc {
    background: #999;
    border-right:1px solid #eee;
    border-bottom:1px solid #eee;
    border-top:1px solid #555555;
    border-left:1px solid #555555;
}

.x-window-plain .x-window-body {
    border-left:1px solid #eee;
    border-top:1px solid #eee;
    border-bottom:1px solid #555555;
    border-right:1px solid #555555;
    background:transparent !important;
}

body.x-body-masked .x-window-mc, body.x-body-masked .x-window-plain .x-window-mc {
    background-color: #999;
}

/* Date Picker */
.x-date-picker {
    border: 1px solid #000000;
    background:#eeeeee;
}
.x-date-middle,.x-date-left,.x-date-right {
	background-image: url(../images/darkgray/shared/hd-sprite.gif);
}
.x-date-middle .x-btn-with-menu  .x-btn-center em {
    background-image:url(../images/darkgray/toolbar/btn-arrow-light.gif);
}
.x-date-right a {
    background-image: url(../images/darkgray/shared/right-btn.gif);
}
.x-date-left a{
	background-image: url(../images/darkgray/shared/left-btn.gif);
}
.x-date-inner th {
    background-image:url(../images/darkgray/shared/glass-bg.gif);
	border-bottom: 1px solid #333333;
	color:#eeeef2;
}
.x-date-inner .x-date-selected a{
	background-image:url(../images/darkgray/shared/glass-bg.gif);
	border:1px solid #333333;
    color:#eeeef2;
}
.x-date-bottom {
    border-top: 1px solid #333333;
    background-image:url(../images/darkgray/shared/glass-bg.gif);
}
.x-date-mp-btns {
	background-image:url(../images/darkgray/shared/glass-bg.gif);
}
td.x-date-mp-sel a {
	background-image:url(../images/darkgray/shared/glass-bg.gif);
	border:1px solid #000000;
	color: #eeeef2;
}
.x-date-mp-ybtn a {
    background-image:url(../images/darkgray/panel/tool-sprites.gif);
}
.x-date-mp-btns button {
	background-image:url(../images/darkgray/shared/glass-bg.gif);
	border-color: #555555 #000000 #000000 #555555;
}
.x-date-inner a:hover, .x-date-inner .x-date-disabled a:hover{
    color:#eeeef2;
    background: #333333;
}
td.x-date-mp-month a:hover,td.x-date-mp-year a:hover {
	color:#eeeef2;
	background: #333333;
}

/* misc */
.x-html-editor-wrap {
    border-color:#d0d0d0;
}

/* Borders go last for specificity */
.x-panel-noborder .x-panel-body-noborder {
    border-width:0;
}

.x-panel-noborder .x-panel-header-noborder {
    border-width:0;
    border-bottom:1px solid #d0d0d0;
}

.x-panel-noborder .x-panel-tbar-noborder .x-toolbar {
    border-width:0;
    border-bottom:1px solid #d0d0d0;
}

.x-panel-noborder .x-panel-bbar-noborder .x-toolbar {
    border-width:0;
    border-top:1px solid #d0d0d0;
}

.x-window-noborder .x-window-mc {
    border-width:0;
}
.x-window-plain .x-window-body-noborder {
    border-width:0;
}

.x-tab-panel-noborder .x-tab-panel-body-noborder {
	border-width:0;
}

.x-tab-panel-noborder .x-tab-panel-header-noborder {
	border-top-width:0;
	border-left-width:0;
	border-right-width:0;
}

.x-tab-panel-noborder .x-tab-panel-footer-noborder {
	border-bottom-width:0;
	border-left-width:0;
	border-right-width:0;
}

.x-toolbar .xtb-sep {
background-image:url(../images/darkgray/grid/grid-orange-split.gif);
}

.x-tab-panel-bbar-noborder .x-toolbar {
    border-width:0;
    border-top:1px solid #d0d0d0;
}

.x-tab-panel-tbar-noborder .x-toolbar {
    border-width:0;
    border-bottom:1px solid #d0d0d0;
}