<div class="block block-blog">
    <div class="block-title">
        <h3><?php #echo Mage::getStoreConfig('blog/blog/title'); ?>News</h3>
    </div>
	<div class="block-content">
    <?php if ($posts = $this->getRecent()): ?>
	  <div class="menu-recent">
		  <h5><?php echo Mage::helper('blog')->__('Recent Posts');?></h5>
		  <ul>
		  <?php $i = 0; ?>
		  <?php foreach ($posts as $post): ?>
        <?php if($i % 2 == 0) $class = "odd"; else $class = "even"; ?>
			  <li class="<?php echo $class; ?>"><a href="<?php echo $post->getAddress(); ?>" ><?php echo $post->getTitle();?></a></li>
			  <?php $i++; ?>
		  <?php endforeach; ?>
      </ul>
	  </div>
    <?php endif; ?>

    <?php if($this->getCategories()->count()): ?>
	  <div class="menu-categories">
      <h5><?php echo Mage::helper('blog')->__('Categories');?></h5>
      <ul>
      <?php $cats = $this->getCategories(); ?>
      <?php foreach ($cats as $cat): ?>
        <?php if($i % 2 == 0) $class = "odd"; else $class = "even"; ?>
        <?php $address = $cat->getAddress(); ?>
        <?php $address = str_replace("news/cat/", "", $address); ?>
		    <li class="<?php echo $class; ?>"><a href="<?php echo $address; ?>" ><?php echo $cat->getTitle();?></a></li>
		    <?php $i++; ?>
      <?php endforeach; ?>
    	</ul>
	  </div>
    <?php endif;?>
		
		<?php echo $this->getChildHtml('blog_tags');?>
	</div>
	<div class="block-bottom"></div>
</div>