rbody {
	background:#e9e9e9;
	color:#000000;
	font-size: 12px;
	font-family: arial,Helvetica,Arial,sans-serif;
	cursor: default; /* <- IE7-Fix */
	/*font-family: Verdana,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",sans-serif;*/
}

body.page-popup {
  background: none;
}

input.input-text, select, textarea {
	border: 1px solid #000000;
	color: #000000;
	background-color: #EEEEEE;
}

button.button { background:url(../images/media/button_blue_left.png) 0 0 no-repeat; height: 26px !important; }
button.button span { background:url(../images/media/button_blue.png) 100% 50% no-repeat; line-height: 26px !important; height: 26px !important; font-weight: bold; }
button.magenta { background:url(../images/media/button_magenta_left.png) 0 0 no-repeat; }
button.magenta span { background:url(../images/media/button_magenta.png) 100% 50% no-repeat; }
button.grey { background:url(../images/media/button_left.png) 0 0 no-repeat; height: 25px !important; }
button.grey span { background:url(../images/media/button.png) 100% 50% no-repeat; line-height: 25px !important; height: 25px !important; }

/* IE7 Fix */
*+html button.magenta span img { margin-top: 1px !important; }

button.cartbutton { height: auto; /*line-height: auto;*/ border: 0; cursor:pointer; }

li.odd {
  /*display: block;*/
  background: url(../images/media/menu_odd.gif) 0 0 repeat;
  /*padding: 5px;*/
}
li.even {
  /*display: block;*/
  background: url(../images/media/menu_even.gif) 0 0 repeat;
  /*padding: 5px;*/
}

ul#manufacturer-list-0 { float: left; display: block; width: 185px; margin-left: 0; }
ul#manufacturer-list-1, ul#manufacturer-list-2 { float: left; display: block; width: 185px; margin-left: 10px; }
ul#manufacturer-list-0 li, ul#manufacturer-list-1 li, ul#manufacturer-list-2 li { padding-left: 10px; }
ul#series-list-0 { float: left; display: block; width: 185px; margin-left: 0; }
ul#series-list-1, ul#series-list-2 { float: left; display: block; width: 185px; margin-left: 10px; }
ul#series-list-0 li, ul#series-list-1 li, ul#series-list-2 li { padding-left: 10px; }
ul#printer-list-0 { float: left; display: block; width: 185px; margin-left: 0; }
ul#printer-list-1, ul#printer-list-2 { float: left; display: block; width: 185px; margin-left: 10px; }
ul#printer-list-0 li, ul#printer-list-1 li, ul#printer-list-2 li { padding-left: 10px; }


/*ul#printer-list-0 { float: left; display: block; width: 166px; margin-left: 16px; }
ul#printer-list-1, ul#printer-list-2, ul#printer-list-3 { float: left; display: block; width: 166px; margin-left: 10px; }
ul#printer-list-0 li, ul#printer-list-1 li, ul#printer-list-2 li, ul#printer-list-3 li { padding-left: 10px; }*/

a:link {
	color:#666666;
	text-decoration:none;
}
a:visited {
	color:#666666;
	text-decoration:none;
}
a:hover {
	color:#4D4D4D;
	text-decoration:underline;
}

.page {
	width: 1002px;
}

.top {
	background: url(../images/media/farbverlauf_content_1002px.png) 0 0 repeat-y;
	padding: 0 21px;
}

/* Header ================================================================================ */
.header-container {}
.header {
    height: 76px;
    padding: 20px 10px 20px 20px;
}
.header .logo {
	float: left;
	width: 500px;
	height: 76px;
}
.header .logo a {
	width: 416px;
	height: 76px;
	display: block;
}

.header .header-features {
    float: left;
    height: 74px;
    width: 180px;
    padding: 2px 0 2px 0;
}

.header .header-features .header-features-hotline {
    background: transparent url(../images/media/header/header-features-hotline.gif) no-repeat left top;
    height: 32px;
    width: 165px;
    color: #111111;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    padding: 0 0 0 36px;
    margin: 0 0 10px 0;
}

.header .header-features .header-features-return {
    background: transparent url(../images/media/header/header-features-return.gif) no-repeat left top;
    height: 32px;
    width: 165px;
    color: #111111;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    padding: 0 0 0 36px;
}

.header .header-features .header-features-cheapprices {
    background: transparent url(../images/media/header/header-features-cheapprices.gif) no-repeat left top;
    height: 32px;
    width: 165px;
    color: #111111;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    padding: 0 0 0 36px;
}

.header .header-features .header-features-checked {
    background: transparent url(../images/media/header/header-features-checked.gif) no-repeat left top;
    height: 32px;
    width: 165px;
    color: #111111;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    padding: 0 0 0 36px;
}

.header .header-features .header-features-freeshipping {
    background: transparent url(../images/media/header/header-features-freeshipping.gif) no-repeat left top;
    height: 32px;
    width: 165px;
    color: #111111;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    padding: 0 0 0 36px;
}

.header .header-features .header-features-sale {
    background: transparent url(../images/media/header/header-features-sale.gif) no-repeat left top;
    height: 32px;
    width: 165px;
    color: #111111;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    padding: 0 0 0 36px;
}

.header .header-features .header-features-shippingtime {
    background: transparent url(../images/media/header/header-features-shippingtime.gif) no-repeat left top;
    height: 32px;
    width: 165px;
    color: #111111;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    padding: 0 0 0 36px;
}

.header .header-more {
    width: 220px;
    height: 72px;
    float: right;
    padding: 2px 0 0 0;
}

.header .header-more .header-more-info {
    line-height: 16px;
    font-size: 12px;
    color: #111111;
    padding: 0 0 10px 0;
    text-align: left;
}

.header .header-more .header-more-info span {
    color: #009ee1;
}

.header .header-more .header-more-trustedshops {
    background: transparent url(../images/media/header/header-trustedshops.gif) repeat;
    display: block;
    width: 46px;
    height: 46px;
    position: absolute;
    margin: 26px 0 0 174px;
}

.header .header-more .block-cart {
    background: transparent url(../images/media/header/header-cart.gif) repeat;
    width: 174px;
    height: 46px;
    cursor: pointer;
}

.header .header-more .block-cart .cart-sidebar-left {
    padding: 7px 0 7px 52px;
    text-align: left;
}

.header .header-more .block-cart .cart-sidebar-left .to-cart {
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    display: block;
    color: #009ee1;
}

.header .header-more .block-cart .cart-sidebar-left .amount {
    font-size: 11px;
    line-height: 16px;
    float: left;
    color: #111111;
    padding: 0 5px 0 0;
}

.header .header-more .block-cart .cart-sidebar-left .subtotal {
    font-size: 11px;
    line-height: 16px;
    float: left;
    color: #111111;
}

.header .header-more .block-cart .cart-sidebar-left .trenner {
    display: none;
}

.header .header-more .block-cart .cart-sidebar-right {
    display: none;
}

.topnavi {
  background: url(../images/media/navi/topnavi.png) 0 0 no-repeat;
  width: 932px;
  height: 36px;
  padding: 0 7px 0 20px;
  color: #ffffff;
}
.suchbox /*.topnavi*/ .suche {
  float: left;
  padding: 50px 0px 0px 0px;
  margin: 10px 10px 0px 40px;
}
.suchbox /*.topnavi*/ .suche input#search {
	width: 374px;
	height: 38px;
	margin: 5px 5px 0px 0px;
	padding: 0px 0px 0px 0px;
	border: 0;
	background: url(../images/media/suchbox/form.gif) 0 0 no-repeat;
}

.topnavi .cat {
  float: left;
}
.subnavi {
  background: url(../images/media/navi/subnavi.png) 0 0 no-repeat;
  width: 919px;
  height: 41px;
  padding: 0 20px;
  color: #000000;
}
.subnavi .links {
  float: right;
}
.subnavi .links a {
  color: #000000;
  line-height: 32px;
}
.subnavi .links #trenner {
  background: url(../images/media/navi/linktrenner.gif) 0 0 no-repeat;
}
.subnavi .subcat {
  float: left;
}

/********** < Navigation */
#nav {}
#nav li { float: left; }
#nav li a { display: block; height: 36px; }
#nav li a:hover, #nav li a.active { background: url(../images/media/navi/top_active.png) 0 0 repeat-x; text-decoration: none; }
#nav li a span { cursor: pointer; /* <- IE7-Fix */ display: block; /*width: 184px;*/ height: 36px; line-height: 36px; margin: 0 20px; font-size: 18px; color: #FFFFFF; font-weight: bold; }
/*#nav li.nav-druckerpatronen a span { background: url(../images/media/navi/druckerpatronen.png) 13px 10px no-repeat; }
#nav li.nav-toner a span { background: url(../images/media/navi/toner.png) 65px 10px no-repeat; }*/

/* Subnavi */
ul#subnav { font-size: 14px; }
ul#subnav li { float: left; }
ul#subnav li a { display: block; height: 32px; }
ul#subnav li a:hover, ul#subnav li a.active { background: url(../images/media/navi/sub_active.gif) 0 0 repeat-x; text-decoration: none; }
ul#subnav li a span { cursor: pointer; /* <- IE7-Fix */ display: block; margin: 0 10px; height: 32px; line-height: 32px; font-size: 15px; color: #434343; font-weight: bold; }
/*ul#subnav li.nav-hp a span { width: 40px; background: url(../images/media/navi/hp.png) 10px 10px no-repeat; }
ul#subnav li.nav-canon a span { /width: 65px; background: url(../images/media/navi/canon.png) 10px 10px no-repeat; }
ul#subnav li.nav-epson a span { width: 65px; background: url(../images/media/navi/epson.png) 10px 10px no-repeat; }
ul#subnav li.nav-lexmark a span { width: 85px; background: url(../images/media/navi/lexmark.png) 10px 10px no-repeat; }
ul#subnav li.nav-brother a span { width: 75px; background: url(../images/media/navi/brother.png) 10px 10px no-repeat; }
ul#subnav li.nav-samsung a span { width: 90px; background: url(../images/media/navi/samsung.png) 10px 10px no-repeat; }
ul#subnav li.nav-weitere a span { width: 75px; background: url(../images/media/navi/weitere.png) 10px 10px no-repeat; }*/
ul#subnav .nav-trenner { float: left; width: 1px; height: 32px; background: url(../images/media/navi/trenner_hersteller_1px.gif) 0 0 no-repeat; }
ul#subnav .waehlen { float: left; width: 180px; height: 32px; background: url(../images/media/navi/hersteller_waehlen_transp_m.png) 10px 9px no-repeat; }
ul#subnav .waehlen a { width: 180px; height: 32px; background: none; }
ul#subnav .waehlen a:hover { background: none; }

.toplinks {
	/*background-color: #e5e2db;*/
	/*background-color: #000000;*/
	font-weight: bold;
	margin-bottom: 11px;
	margin-left: 20px;
	text-align: left;
	float: left;
	/*background-color: #cdc6b3;*/
	/*-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;*/
}
.toplinks div#left { display: block; width: 5px; height: 24px; float: left; background: url(../images/media/toplinks_left.gif) 0 0 no-repeat; }
.toplinks div#center {
	font-weight: bold;
	padding: 5px;
	height: 14px;
	display: block;
	float: left;
	background: url(../images/media/toplinks_center.gif) 0 0 repeat-x;
}
.toplinks div#right { display: block; width: 5px; height: 24px; float: left; background: url(../images/media/toplinks_right.gif) 0 0 no-repeat; }

.col-main {
	width: 610px;
	padding: 20px 0 20px 0;
	margin: 0 0 0 10px;
	font-family: Arial,Helvetica,Arial,sans-serif;
	line-height: 16px;
	float: left;
}

.col-main > .content {
    padding: 0;
}

.catalog-category-view .col-main > .content, .cms-serien .col-main > .content {
    padding: 0;
}

.col-main > .content > .std {
  line-height: 17px;
  text-align: justify;
}

.catalog-product-view .col-main /*, .catalog-category-view .col-main*/ { width: 741px; }
.checkout-cart-index .col-main, .checkout-onepage-index .col-main { width: 726px; }
.catalog-product-view .col-main > .content /*, .catalog-category-view .col-main > .content */ { /*padding: 0 0 0 4px;*/ padding: 0; }
.checkout-cart-index .col-main > .content, .checkout-onepage-index .col-main > .content { /*padding: 0 0 0 8px;*/ padding: 0; }

.col-main a {
	font-family: Arial,Helvetica,Arial,sans-serif;
	/*font-family: Verdana,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",sans-serif;*/
	font-weight: normal;
}

.col-right {
	width: 300px;
	margin-right: 10px;
	padding: 20px 0;
	float: right;
}

.catalog-product-view .col-right, /*.catalog-category-view .col-right,*/ .checkout-cart-index .col-right, .checkout-onepage-index .col-right {
	width: 190px;
	margin-right: 10px;
}

/* 3 Columns Layout */
.col3-layout .col-main {
	width: 580px;
	margin: 0 25px 25px;
}

/* Footer ================================================================================ */
.footer {
	padding: 10px 21px 0 21px;
	color: #FFFFFF;
	background: url(../images/media/farbverlauf_footer_1002px.png) 0 0 repeat-y;
}
.footer a {
	color: #FFFFFF;
}
.footerbottom {
  background: url(../images/media/footerbottom_1002px.png) 0 0 no-repeat;
  height: 25px;
}

/* Suchbox ================================================================================ */
.suchbox { width: 607px; height: 300px; margin: 0 0 10px 14px; background: url(../images/media/suchbox/background.jpg) 0 0 no-repeat; }
.suchbox .title { padding-left: 50px; padding-top: 20px; height: 50px; }
.suchbox .title h2 { }
.suchbox .inner { margin-left: 50px; height: 60px; margin-top: 18px; } 
.suchbox .inner .suchbox-links { float: left; width: 254px; }
.suchbox .inner .suchbox-links #manufacturer-text { float: right; font-size: 11px; }
.suchbox .inner .suchbox-rechts { float: left; margin-left: 20px; width: 254px; }
.suchbox .inner .suchbox-rechts #printer-text { float: right; font-size: 11px; }
.suchbox .inner .suchbox-rechts #manufacturer2-text { float: right; font-size: 11px; }
.suchbox .inner #firststep { float: left; margin-top: 1px; margin-right: 6px; width: 28px; height: 28px; }
.suchbox .inner #firsttosecondstep { float: left; margin-top: 1px; margin-right: 6px; width: 28px; height: 28px; }
.suchbox .inner #secondstep { float: left; margin-top: 1px; margin-right: 6px; width: 28px; height: 28px; }
.suchbox .inner option { padding-left: 5px; }
.suchbox .inner #manufacturer { float: left; margin-top: 2px; }
.suchbox .inner #manufacturer select#select1 { width: 220px; font-size: 13px; }
.suchbox .inner #manufacturer2 { float: left; margin-top: 2px; }
.suchbox .inner #manufacturer2 select#select1_s { width: 220px; font-size: 13px; }
.suchbox .inner #printer { float: left; margin-top: 2px; }
.suchbox .inner #printer select#select2 { width: 220px; font-size: 13px; }
.suchbox .loading-container { height: 25px; }
.suchbox .bottom { float: right; margin-right: 37px; font-style: italic; font-weight: bold; font-size: 20px; color: #E2007A; }

/* Suchbox ================================================================================ */

.suchbox2 { 
    width: 610px;
    height: 309px; 
    margin: 0 0 20px 0; 
    background: url(../images/media/suchbox2/suchbox2-bg.jpg) no-repeat 0 0;
}

.suchbox2 .suchbox2-inner {
    padding: 92px 155px 0 25px;
}

.suchbox2 .suchbox2-inner .suchbox2-form-1 {
    height: 94px;
    padding: 10px 0 0 10px;
    margin: 0 0 28px 0;
    text-align: left;
}

.suchbox2 .suchbox2-inner .suchbox2-form-1 #firststep {
    width: 324px;
    height: 38px;
    margin: 0 0 8px 0;
    padding: 0 0 0 38px;
}


.suchbox2 .suchbox2-inner .suchbox2-form-1 #firststep #select1 {
     border: 3px solid #e3077a;
     color: #111111;
     font-size: 18px;
     height: 38px;
     padding: 4px 0 0 0;
     width: 245px;
     vertical-align: middle;
     margin: 0;
}

.suchbox2 .suchbox2-inner .suchbox2-form-1 #firsttosecondstep {
    width: 324px;
    height: 38px;
    margin: 0 0 8px 0;
    padding: 0 0 0 38px;
}


.suchbox2 .suchbox2-inner .suchbox2-form-1 #firsttosecondstep #select1_s {
     border: 3px solid #717171;
     color: #888888;
     font-size: 18px;
     height: 38px;
     padding: 4px 0 0 0;
     width: 245px;
     vertical-align: middle;
     margin: 0;
}

.suchbox2 .suchbox2-inner .suchbox2-form-1 #secondstep {
    width: 324px;
    height: 38px;
    margin: 0;
    padding: 0 0 0 38px;
}

.suchbox2 .suchbox2-inner .suchbox2-form-1 #secondstep #select2 {
    border: 3px solid #717171;
    color: #888888;
    font-size: 18px;
    height: 38px;
    padding: 4px 0 0 0;
    width: 245px;
    vertical-align: middle;
    margin: 0;
}

.suchbox2 .suchbox2-inner .suchbox2-form-2 {
    height: 50px;
    padding: 10px 0 0 10px;
    text-align: left;
}

.suchbox2 .suchbox2-inner .suchbox2-form-2 form,
.suchbox2 .suchbox2-inner .suchbox2-form-2 form fieldset {
    margin: 0;
    padding: 0;
}

.suchbox2 .suchbox2-inner .suchbox2-form-2 form fieldset input#search {
	background: url(../images/media/suchbox2/suchbox2-form-2-field.gif) 0 0 no-repeat;
    color: #111111;
    font-size: 18px;
    height: 40px;
    padding: 0 0 0 10px;
    width: 290px;
    border: 0;
}

.arrow {
	/*background: url(../images/media/pfeil.gif) 0 4px no-repeat;
	padding-left: 13px;*/
	white-space: normal;
}

.tax-details a {
	text-decoration: underline;
}

.error-msg { border-color:#303030; background-color:#e5e0d2; }
.success-msg { border-color:#303030; background-color:#e5e0d2 }
.note-msg, .notice-msg { border-color:#303030; background-color:#e5e0d2; }

/* BreadCrumbs */ 
.breadcrumbs {
	margin-top: 9px;
	margin-left: 10px;
	margin-bottom: -10px;
}
.breadcrumbs ul { display:inline; }
.breadcrumbs li { display:inline; }
.breadcrumbs a {
	color: #434343;
	text-decoration:none;
	font-family: Arial,Helvetica,Arial,sans-serif;
	/*font-family: Verdana,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",sans-serif;*/
}
.breadcrumbs a:hover {
	text-decoration: underline;
}
.breadcrumbs a:visited {
	color: #666666;
}

/* Sorter */
.sorter .view-mode strong {
	-moz-border-radius-bottomleft:3px;
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	background:#5d5a52 none repeat scroll 0 0;
	border:2px solid #5d5a52;
	color:#FFFFFF;
}

/* Data Table */
.data-table thead { background-color:#f2eee3; }
.data-table th .tax-flag { white-space:normal; font-size: 80%; }
.data-table th.label { background-color:#f2eee3; }
/*.data-table tbody th { border-top: 1px solid #DCDCDC; }*/
.data-table tbody tr { border-top: 1px solid #DCDCDC; }
.data-table tbody tr.last { border-bottom: 1px solid #DCDCDC; }

.data-table tr.odd { background-color: #F4F4F4; }
.data-table tr.even { background-color: #FFFFFF; }

.data-table tr.odd td { background-color: #F4F4F4; }
.data-table tr.even td { background-color: #FFFFFF; }

/* Sidebar =============================================================================== */

table#delivery-table tr.even {
  background: url(../images/media/menu_even.gif) 0 0 repeat;
}
table#delivery-table tr.even td, table#delivery-table tr.odd th {
  padding: 2px 5px;
}
table#delivery-table tr.odd {
  background: url(../images/media/menu_odd.gif) 0 0 repeat;
}
table#delivery-table tr.odd td, table#delivery-table tr.odd th {
  padding: 2px 5px;
}

.block-hotline {
    background: url(../images/media/block/block-hotline-big.jpg) no-repeat left top;
    width: 300px;
    height: 215px;
    margin-bottom: 20px;
}

.block-hotline ul {
    list-stlye-type: none;
    padding: 116px 16px 0 16px;
    margin: 0;
    text-align: left;
}

.block-hotline ul li {
    padding: 5px 0 5px 20px;
    margin: 0 0 1px 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    color: #424242;
}

.catalog-product-view .block-hotline,
.checkout-cart-index .block-hotline,
.checkout-onepage-index .block-hotline {
    background: url(../images/media/block/block-hotline-small.jpg) no-repeat left top;
    width: 190px;
    height: 251px;
    margin-bottom: 20px;
}

.catalog-product-view .block-hotline ul,
.checkout-cart-index .block-hotline ul,
.checkout-onepage-index .block-hotline ul {
    list-stlye-type: none;
    padding: 116px 16px 0 16px;
    margin: 0;
    text-align: left;
}

.catalog-product-view .block-hotline ul li,
.checkout-cart-index .block-hotline ul li,
.checkout-onepage-index .block-hotline ul li {
    padding: 5px 0 5px 20px;
    margin: 0 0 1px 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    color: #424242;
}

.block-kundenbewertung {
    background: url(../images/media/block/block-kundenbewertungen.jpg) no-repeat left top;
    padding: 54px 55px 25px 55px;
    margin-bottom: 20px;
}

.catalog-product-view .block-kundenbewertung,
.checkout-cart-index .block-kundenbewertung,
.checkout-onepage-index .block-kundenbewertung {
    background: none;
    padding: 0;
    margin-bottom: 20px;
}

.block-garantie {
    background: url(../images/media/block/block-garantie-big.jpg) no-repeat left top;
    width: 300px;
    height: 189px;
    margin-bottom: 20px;
}

.block-garantie p {
    padding: 143px 0 0 20px;
    font-size: 12px;
    line-height: 16px;
    color: #111111;
    text-align: left;
}

.block-garantie p a {
    color: #009EE1;
    text-decoration: none;
}

.block-garantie p a:hover {
    color: #009EE1;
    text-decoration: underline;
}

.catalog-product-view .block-garantie,
.checkout-cart-index .block-garantie,
.checkout-onepage-index .block-garantie {
    background: url(../images/media/block/block-garantie-small.jpg) no-repeat left top;
    width: 190px;
    height: 168px;
    margin-bottom: 20px;
}

.catalog-product-view .block-garantie p,
.checkout-cart-index .block-garantie p,
.checkout-onepage-index .block-garantie p {
    padding: 106px 20px 0 20px;
}

.block-ruecktritt {
    background: url(../images/media/block/block-ruecktritt.gif) no-repeat left top;
    width: 275px;
    height: 140px;
    margin-bottom: 20px;
    float: left;
}

.block-ruecktritt p {
    padding: 58px 10px 0 20px;
    margin: 0;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
}

.block-ruecktritt p a {
    color: #009EE1;
    text-decoration: none;
}

.block-ruecktritt p a:hover {
    color: #009EE1;
    text-decoration: underline;
}

.block-vorkasse {
    background: url(../images/media/block/block-vorkasse.gif) no-repeat left top;
    width: 315px;
    height: 140px;
    margin-bottom: 20px;
    float: right;
    text-align: left;
}

.block-vorkasse p {
    padding: 58px 10px 0 20px;
    margin: 0;
    font-size: 12px;
    line-height: 16px;
}

.block-vorkasse p span {
    color: #009EE1;
}

.block-box {
    background: url(../images/media/block/block-box-end.gif) no-repeat left bottom;
    padding: 0 0 15px 0;
    margin: 0 0 20px 0;
    text-align: left;
}

.block-box .block-box-title {
    background: url(../images/media/block/block-box-title.gif) no-repeat left top;
    padding: 0 20px 0 20px;
    margin: 0;
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: #111111;
}

.block-box .block-box-content {
    background: url(../images/media/block/block-box-bg.gif) repeat-y left top;
    padding: 4px 20px 5px 20px;    
}

.block-box .block-box-content h1 {
    color: #111111;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    padding: 16px 0 0 0;
    margin: 0;
}

.block-box .block-box-content h2 {
    color: #111111;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    padding: 16px 0 0 0;
    margin: 0;
}

.block-box .block-box-content h3 {
    color: #111111;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    padding: 16px 0 0 0;
    margin: 0;
}

.block-box .block-box-content h4 {
    color: #111111;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    padding: 16px 0 0 0;
    margin: 0;
}

.block-box .block-box-content h5 {
    color: #111111;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    padding: 16px 0 0 0;
    margin: 0;
}

.block-box .block-box-content h6 {
    color: #111111;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    padding: 16px 0 0 0;
    margin: 0;
}

.block-box .block-box-content p {
    color: #111111;
    font-size: 12px;
    line-height: 16px;
    padding: 16px 0 0 0;
    margin: 0;
}

.block-box-right {
    background: url(../images/media/block/block-box-right-big-end.gif) no-repeat left bottom;
    padding: 0 0 15px 0;
    margin: 0 0 20px 0;
    text-align: left;
}

.block-box-right .block-box-right-title {
    background: url(../images/media/block/block-box-right-big-title.gif) no-repeat left top;
    padding: 0 20px 0 20px;
    margin: 0;
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: #111111;
}

.block-box-right .block-box-right-content {
    background: url(../images/media/block/block-box-right-big-bg.gif) repeat-y left top;
    padding: 0 16px 5px 16px;    
}

.block-box-right .block-box-right-content ul {
    margin: 0;
    padding: 16px 0 0 0;
    list-style-type: none;
}

.block-box-right .block-box-right-content ul li {
    border-bottom: 1px solid #cfcfcf;
    color: #111111;
    font-size: 12px;
    line-height: 16px;
    padding: 4px 0 4px 4px;
    margin: 0;
}

.block-box-right .block-box-right-content ul li span {
    color: #009EE1;
}

.block-box-right .block-box-right-content ul li a {
    color: #111111;
    text-decoration: none;
}

.block-box-right .block-box-right-content ul li a:hover {
    color: #111111;
    text-decoration: underline;
}

.block-box-right .block-box-right-content ul li.block-box-right-big-zahlungsarten-li {
    width: 130px;
    float: left;  
}

.block-box-right .block-box-right-content ul li.last {
    border-bottom: 0;
    padding: 4px 0 0 4px;
}

.block-box-right .block-box-right-content ul li .block-box-right-content-check {
    background: url(../images/media/block/block-icon-check.gif) no-repeat left center;
    padding: 0 0 0 13px;
    display: block;
    color: #111111;
}

.block-box-right .block-box-right-content ul li .block-box-right-content-check small {
    font-size: 10px;
    line-height: 16px;
    margin: 0;
    padding: 0;
    display: inline;
}

.block-box-right .block-box-right-content .block-box-right-zahlungsarten {
    background: url(../images/media/block/block-box-right-big-zahlungsarten.gif) no-repeat left bottom;
    width: 260px;
    height: 97px;
    clear: left;
    margin: 0 4px 0 4px;
}

.catalog-product-view .block-box-right,
.checkout-cart-index .block-box-right,
.checkout-onepage-index .block-box-right {
    background: url(../images/media/block/block-box-right-small-end.gif) no-repeat left bottom;
    padding: 0 0 15px 0;
    margin: 0 0 20px 0;
    text-align: left;
}

.catalog-product-view .block-box-right .block-box-right-title,
.checkout-cart-index .block-box-right .block-box-right-title,
.checkout-onepage-index .block-box-right .block-box-right-title {
    background: url(../images/media/block/block-box-right-small-title.gif) no-repeat left top;
    padding: 0 20px 0 20px;
    margin: 0;
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: #111111;
}

.catalog-product-view .block-box-right .block-box-right-title .block-box-right-title-big,
.checkout-cart-index .block-box-right .block-box-right-title .block-box-right-title-big,
.checkout-onepage-index .block-box-right .block-box-right-title .block-box-right-title-big {
    display: none;
}

.catalog-product-view .block-box-right .block-box-right-content,
.checkout-cart-index .block-box-right .block-box-right-content,
.checkout-onepage-index .block-box-right .block-box-right-content {
    background: url(../images/media/block/block-box-right-small-bg.gif) repeat-y left top;
    padding: 0 16px 5px 16px;    
}

.catalog-product-view .block-box-right .block-box-right-content ul li,
.checkout-cart-index .block-box-right .block-box-right-content ul li,
.checkout-onepage-index .block-box-right .block-box-right-content ul li {
    border-bottom: 1px solid #cfcfcf;
    color: #111111;
    font-size: 12px;
    line-height: 16px;
    padding: 4px 0 4px 4px;
    margin: 0;
}

.catalog-product-view .block-box-right .block-box-right-content ul li.block-box-right-big-zahlungsarten-li,
.checkout-cart-index .block-box-right .block-box-right-content ul li.block-box-right-big-zahlungsarten-li,
.checkout-onepage-index .block-box-right .block-box-right-content ul li.block-box-right-big-zahlungsarten-li {
    width: auto;
    float: none;    
}

.catalog-product-view .block-box-right .block-box-right-content ul li.last,
.checkout-cart-index .block-box-right .block-box-right-content ul li.last,
.checkout-onepage-index .block-box-right .block-box-right-content ul li.last {
    border-bottom: 0;
    padding: 4px 0 0 4px;
}

.catalog-product-view .block-box-right .block-box-right-content .block-box-right-zahlungsarten,
.checkout-cart-index .block-box-right .block-box-right-content .block-box-right-zahlungsarten,
.checkout-onepage-index .block-box-right .block-box-right-content .block-box-right-zahlungsarten {
    background: url(../images/media/block/block-box-right-small-zahlungsarten.gif) no-repeat left bottom;
    width: 150px;
    height: 65px;
    margin: 0 4px 0 4px;
}

.block {
    width: 300px;
    margin-bottom: 20px;
}

.catalog-product-view .block,
.checkout-cart-index .block,
.checkout-onepage-index .block {
    width: 190px;
}

.block .block-title {
    background: url(../images/media/block/block-box-right-big-title.gif) no-repeat left top;
    padding: 0 20px 0 20px;
    margin: 0;
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: #111111;
}

.catalog-product-view .block .block-title,
.checkout-cart-index .block .block-title,
.checkout-onepage-index .block .block-title {
    background: url(../images/media/block/block-box-right-small-title.gif) no-repeat left top;
    padding: 0 20px 0 20px;
    margin: 0;
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: #111111;
}

.block .block-title h2,
.block .block-title h3 { 
    padding: 0;
    margin: 0;
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: #111111;
}

.block .block-content {
    background: url(../images/media/block/block-box-right-big-bg.gif) repeat-y left top;
    padding: 0 16px 5px 16px;  
}

.block .block-content .menu-recent,
.block .block-content .menu-categories {
    margin: 0;
    padding: 18px 0 0 0;
}

.block .block-content .menu-recent h5,
.block .block-content .menu-categories h5 {
    padding: 0 4px 4px 4px;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    color: #111111;
}

.block .block-content .menu-recent ul,
.block .block-content .menu-categories ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.block .block-content .menu-recent ul li,
.block .block-content .menu-categories ul li {
    border-top: 1px solid #cfcfcf;
    margin: 0;
    padding: 4px 0 4px 4px;
    background: transparent;
    font-size: 12px;
    line-height: 16px;
    color: #111111;
}

.block .block-content .menu-recent ul li a,
.block .block-content .menu-categories ul li a {
    color: #111111;
    text-decoration: none;
}

.block .block-content .menu-recent ul li a:hover,
.block .block-content .menu-categories ul li a:hover {
    color: #111111;
    text-decoration: underline;
}

.catalog-product-view .block .block-content, 
.checkout-cart-index .block .block-content, 
.checkout-onepage-index .block .block-content {
    background: url(../images/media/block/block-box-right-small-bg.gif) repeat-y left top;
    padding: 0 20px 5px 20px;  
}

.block-bottom {
    background: url(../images/media/block/block-box-right-big-end.gif) no-repeat left top;
    height: 15px;
    width: 300px;
}

.catalog-product-view .block-bottom,
.checkout-cart-index .block-bottom,
.checkout-onepage-index .block-bottom {
    background: url(../images/media/block/block-box-right-small-end.gif) no-repeat left top;
    height: 15px;
    width: 190px;
}

.block li {
  display: block;
}
.block li.odd {
  background: url(../images/media/menu_odd.gif) 0 0 repeat;
  padding: 5px;
}
.block li.even {
  background: url(../images/media/menu_even.gif) 0 0 repeat;
  padding: 5px;
}


.block-trusted {
  display: none;
  /*width: 283px;
  height: 132px;
  background: url(../images/media/block/trusted60_breit.jpg) 0 0 no-repeat;*/
  margin-bottom: 20px;
}
.catalog-product-view .block-trusted, /*.catalog-category-view .block-trusted,*/ .checkout-cart-index .block-trusted, .checkout-onepage-index .block-trusted {
  display: none;
  /*width: 192px;
  height: 164px;
  background: url(../images/media/block/trusted_schmal.jpg) 0 0 no-repeat;*/
}
.block-navi ul.informationen-liste {
  float: left;
}
.catalog-product-view ul.informationen-liste, /*.catalog-category-view ul.informationen-liste,*/ .checkout-cart-index ul.informationen-liste, .checkout-onepage-index ul.informationen-liste {
  float: none;
}
.block-navi img#trusted-siegel {
  float: right;
  width: 39px;
  height: 39px;
  margin: 13px 30px 0 0;
}
.catalog-product-view img#trusted-siegel, /*.catalog-category-view img#trusted-siegel,*/ .checkout-cart-index img#trusted-siegel, .checkout-onepage-index img#trusted-siegel {
  float: left;
  margin: 0;
}
.block-navi img#ssl-logo {
  float: right;
  width: 39px;
  height: 39px;
  margin: 10px 30px 0 0;
}
.catalog-product-view img#ssl-logo, /*.catalog-category-view img#ssl-logo,*/ .checkout-cart-index img#ssl-logo, .checkout-onepage-index img#ssl-logo {
  margin: 0;
}
.block-zahlmethoden {
  /*width: 281px;
  height: 84px;
  background: url(../images/media/block/zahlmethoden_breit.png) 0 0 no-repeat;*/
  margin-bottom: 20px;
}

.block-bezahlmethoden-schmal {
	display: none;
}

.block-bezahlmethoden-schmal .img-bezahlmethoden-schmal {
  background: none;
  display: none;
}


.catalog-product-view .block-bezahlmethoden-schmal, /*.catalog-category-view .block-bezahlmethoden-schmal,*/ .checkout-cart-index .block-bezahlmethoden-schmal, .checkout-onepage-index .block-bezahlmethoden-schmal {
  display: block;
	clear:both;
/*	width:177px;
	height: 243px;
	background: url(../images/media/bezahlmethoden.png) 0 0 no-repeat;*/
}

.catalog-product-view .block-bezahlmethoden-schmal .img-bezahlmethoden-schmal, .checkout-cart-index .block-bezahlmethoden-schmal .img-bezahlmethoden-schmal, .checkout-onepage-index .block-bezahlmethoden-schmal .img-bezahlmethoden-schmal {
  display: block;
  width: 177px;
  height: 290px;
  background: url(../images/media/bezahlmethoden.jpg) 0 0 no-repeat;
}

.block-bezahlmethoden-breit {
  display: block;
	clear:both;
/*	width:250px;
	height: 202px;
	background: url(../images/media/bezahlmethoden_breit.png) 0 0 no-repeat;*/
}

.block-bezahlmethoden-breit .img-bezahlmethoden-breit {
  width: 250px;
  height: 202px;
  background: url(../images/media/bezahlmethoden_breit.jpg) 0 0 no-repeat;
}

.catalog-product-view .block-bezahlmethoden-breit, /*.catalog-category-view .block-bezahlmethoden-breit,*/ .checkout-cart-index .block-bezahlmethoden-breit, .checkout-onepage-index .block-bezahlmethoden-breit {
  display: none;
}

.catalog-product-view .block-bezahlmethoden-breit .img-bezahlmethoden-breit, .checkout-cart-index .block-bezahlmethoden-breit .img-bezahlmethoden-breit, .checkout-onepage-index .block-bezahlmethoden-breit .img-bezahlmethoden-breit {
  background: none;
  display: none;
}

.bezahlmethoden-liste li, .informationen-liste li {
	display: block;
	line-height: 16px;
}

ul.informationen-liste {
  margin: 10px 0 8px 0;
}

/*.block-zahlmethoden .mastercard {
  float: left;
  width: 37px;
  height: 22px;
  background: url(../images/media/mastercard.png) 0 0 no-repeat;
}
.block-zahlmethoden .visa {
  float: left;
  margin-left: 10px;
  width: 32px;
  height: 20px;
  background: url(../images/media/visa.png) 0 0 no-repeat;
}
.block-zahlmethoden .paypal {
  float: left;
  margin-left: 10px;
  width: 71px;
  height: 20px;
  background: url(../images/media/paypal.png) 0 0 no-repeat;
}
.block-zahlmethoden .sofortueberweisung {
  margin-top: 10px;
  width: 156px;
  height: 194px;
  background: url(../images/media/sofortueberweisung.png) 0 0 no-repeat;
}*/
.block-zahlmethoden .headline {
  display: block;
  color: #009ee0;
  margin: 10px 0;
}
.block-zahlmethoden .dhl {
  width: 109px;
  height: 24px;
  background: url(../images/media/dhl.png) 0 0 no-repeat;
}
/*.block-marken {
  position: relative;
  width: 281px;
  height: 113px;
  margin-bottom: 20px;
}
.block-marken .block-content {
  height: 58px;
}
.block-marken .hp {
  position: absolute;
  left: 16px;
  top: 32px;
  width: 30px;
  height: 20px;
  background: url(../images/media/block/hp.png) 0 0 no-repeat;
}
.block-marken .canon {
  position: absolute;
  left: 68px;
  top: 35px;
  width: 72px;
  height: 15px;
  background: url(../images/media/block/canon.png) 0 0 no-repeat;
}
.block-marken .lexmark {
  position: absolute;
  left: 158px;
  top: 35px;
  width: 79px;
  height: 20px;
  background: url(../images/media/block/lexmark.png) 0 0 no-repeat;
}
.block-marken .brother {
  position: absolute;
  left: 16px;
  top: 63px;
  width: 79px;
  height: 20px;
  background: url(../images/media/block/brother.png) 0 0 no-repeat;
}
.block-marken .epson {
  position: absolute;
  left: 114px;
  top: 67px;
  width: 67px;
  height: 16px;
  background: url(../images/media/block/epson.png) 0 0 no-repeat;
}

.block-marken .weitere {
  position: absolute;
  left: 15px;
  top: 90px;
  width: 115px;
  height: 13px;
  background: url(../images/media/block/alle-hersteller.png) 0 0 no-repeat;
}
*/

/* Block: Account */
.block-account .block-content { }

/* Block: Layered Navigation */
.block-layered-nav .block-content { }

/* Block: Cart */

.mini-products-list li.odd { background-color: #e5e0d2; }
.mini-products-list li.even { background-color: #f2efe4; }

.page-title h2, .category-title h2 {
  display: block;
  /*width: 590px;
  height: 24px;
  padding: 4px 15px 0;
  background: url(../images/media/pagetitle.png) 0 0 no-repeat;*/
  color: #555555;
  font-size: 22px;
  font-weight: bold;
  font-family: Arial,Helvetica,Arial,sans-serif;
  /*font-family: Verdana,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",sans-serif;*/
  margin-bottom: 20px;
}

.std h1 {
  display: block;
  color: #555555;
  font-size: 18px;
  font-weight: bold;
  font-family: Arial,Helvetica,Arial,sans-serif;
  /*font-family: Verdana,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",sans-serif;*/
  margin-bottom: 5px;
}

.std h2 {
  display: block;
  color: #555555;
  font-size: 14px;
  font-weight: bold;
  font-family: Arial,Helvetica,Arial,sans-serif;
  /*font-family: Verdana,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",sans-serif;*/
  margin-bottom: 4px;
}

.std h3 {
  display: block;
  color: #555555;
  font-size: 12px;
  font-weight: bold;
  font-family: Arial,Helvetica,Arial,sans-serif;
  /*font-family: Verdana,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",sans-serif;*/
  margin-bottom: 4px;
}

.std h4 {
  display: block;
  color: #555555;
  font-size: 18px;
  font-weight: normal;
  font-family: Arial,Helvetica,Arial,sans-serif;
  /*font-family: Verdana,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",sans-serif;*/
  margin-bottom: 10px;
}

.std h5 {
  display: block;
  color: #555555;
  font-size: 16px;
  font-weight: normal;
  font-family: Arial,Helvetica,Arial,sans-serif;
  /*font-family: Verdana,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",sans-serif;*/
  margin-bottom: 10px;
}

.std h6 {
  display: block;
  color: #555555;
  font-size: 14px;
  font-weight: normal;
  font-family: Arial,Helvetica,Arial,sans-serif;
  /*font-family: Verdana,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",sans-serif;*/
  margin-bottom: 10px;
}

/* Category Page ========================================================================= */
.category-products .product-image img { border: 5px solid #e5e0d2; vertical-align: middle; }
table#recently-viewed-list-table .product-image img { border: 5px solid #e5e0d2; vertical-align: middle; }

/* View Type: Grid */
table.products-grid { border-bottom:1px solid #303030; }
.products-grid tr td { border-top:1px solid #303030; }
.product-name { }
.product-name a { font-weight: bold; }
.product-namebox {
	text-align: center;
	min-height: 54px; /* 35px bei 2-zeiligem, 54px bei 3-zeiligem Titel */
	height: auto !important;
	height: 54px;
	margin: 8px 4px;
}

/* View Type: List */
ol.products-list { border-bottom:1px solid #303030; }
.products-list li.item { border-top:1px solid #303030; }
/* ======================================================================================= */

/* Category View ========================================================================== */
.category-view {
  float: right;
  width: 358px;
}
.category-view .category-name {
  width: 328px;
  height: 24px;
  padding: 4px 15px 0;
  background: url(../images/media/category2_top.png) 0 0 repeat-x;
}
.category-view .category-name h2, .category-view .category-name h3 {
  display: block;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  font-family: Arial,Helvetica,Arial,sans-serif;
  margin-bottom: 0 !important;
  /*font-family: Verdana,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",sans-serif;*/
}
.category-view .category-name h3.printer {
  float: right;
  text-align: right;
  width: 150px;
}
.category-view .category-name h3.cat {
  float: left;
  text-align: left;
  width: 160px;
}
.category-view .category-essential {
  clear: both;
  width: 356px;
  border-left: 1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
}
.category-view .category-bottom {
  margin-bottom: 25px;
  text-align: right;
  line-height: 11px;
  font-size: 9px;
  padding-right: 8px;
  width: 350px;
  height: 11px;
  background: url(../images/media/category_bottom.png) 0 0 no-repeat;
}
.category-view .category-bottom .toggle-link {
  float: left;
  display: block;
  width: 100px;
  height: 11px;
  padding-left: 15px;
  /*background: url(../images/media/toggle-link.png) 0 0 no-repeat;*/
  text-align: left;
}
.category-view ul#printer-list li {
  padding: 5px 10px;
}
/* ======================================================================================= */

.category-view .product-shop { /*height: 60px; verursacht probs im ie7*/ /*border-bottom: 1px solid #d7d7d7; macht ebenfalls probs*/ background-color: #ffffff; }
.category-view .product-shop:hover { /*height: 60px; verursacht probs im ie7*/ /*border-bottom: 1px solid #d7d7d7; macht ebenfalls probs*/ background-color: #efefef; cursor:pointer;  }
.category-view .product-shop td { border-bottom: 1px solid #d7d7d7; /* <- ie7 fix */ }
.category-view .arrow-img { height: 60px; }
.category-view .categ-img { text-align: center; padding: 0; height: 60px; width: 56px; vertical-align: middle; }
.category-view .categ-name { width: 145px; line-height: 16px; font-size: 12px; padding: 5px 0 0 5px; }
.category-view .categ-name a { font-weight: bold; font-size: 11px; color: #000000; }
.category-view .categ-name .manufacturer { font-size: 11px; line-height: 11px; }
.category-view .categ-name .artnr { font-size: 11px; line-height: 11px; }
.category-view .categ-color { width: 27px; padding: 0; }
.category-view .categ-price { width: 71px; padding: 17px 10px 0 0; text-align: right; }
.category-view .categ-price .taxinfo { float: right; }
.category-view .categ-price .price-box { font-size: 16px; float: right; }
.category-view .categ-price .price-box .price { font-size: 16px; }
.category-view .categ-price .tax-details { display: none; }
.category-view .categ-price .deliverytime { font-size: 9px; }
.category-view .categ-tocart { width: 28px; text-align: right; padding: 11px 10px 11px 0; }
.category-view .product-shop .noproducts { padding: 5px 15px; }
.category-view .product-shop .categ-tocart button { width: 38px; height: 38px; margin: 0; padding: 0; background: url(../images/media/warenkorb_button_klein.png) 0 0 no-repeat; }
.category-view .product-shop .categ-tocart button:hover { background: url(../images/media/warenkorb_button_klein_hover.png) 0 0 no-repeat; }
.category-view .product-shop .categ-tocart button span { display: none; }
.category-view .product-shop .categ-tocart .out-of-stock { width: 38px; height: 38px; margin: 0; padding: 0; background: url(../images/media/ausverkauft_button_klein.png) 0 0 no-repeat; }
.categ-arrow-left {
  margin-top: 42px;
  width: 13px;
  height: 29px;
  float: left;
  background: url(../images/media/pfeil_hor_right.png) 0 0 no-repeat;
}

/* Product View ========================================================================== */
.product-view {
  float: left;
  width: 360px;
}
.product-view .product-name {
  width: 330px;
  height: 24px;
  padding: 4px 15px 0;
  background: url(../images/media/category2_top_360px.png) 0 0 repeat-x;
}
.product-view .product-name h2 {
  display: block;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  font-family: Arial,Helvetica,Arial,sans-serif;
  /*font-family: Verdana,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",sans-serif;*/
}
.product-view .product-essential {
  /*width: 348px;*/
  width: 349px;
  padding: 18px 0px 0 9px;
  /*padding: 18px 1px 0 9px;*/
  border-left: 1px solid #d7d7d7;
  border-right: 1px solid #c1c1c1;
  background: url(../images/media/detailbox_farbverlauf.png) 0 100% repeat-x;
  /* alternativ: background: url(../images/media/detailbox_farbverlauf_komplett.png) 0 100% no-repeat; */
}
.product-view .product-bottom {
  width: 360px;
  height: 15px;
  background: url(../images/media/detailbox_bottom_15px.png) 0 0 no-repeat;
}

.product-view .preistipp { float: left; width: 148px; height: 150px; background: url(../images/media/preistipp.png) 0 0 repeat; }

/* Product Shop */
.product-view .product-shop { float: right; width: 201px; }
.product-view .product-shop .preisbox { width: 166px; height: 85px; padding: 15px 0 0 12px; float: right; background: url(../images/media/preisbox.png) 0 0 no-repeat; }
.product-view .product-shop .preisbox .price-box { margin-bottom: 5px; }
.product-view .product-shop .preisbox .price-box .price { font-size: 30px; color: black; }
/*.product-view .product-shop .preisbox .price-box .price { font-size: 30px; color: #888888; } */
.product-view .product-shop .preisbox .tax-details {}
.product-view .product-shop .preisbox .in-stock { display: block; /*background:url(../images/media/sofort_lieferbar_gruen.png) 0 4px no-repeat;*/ font-size: 10px; line-height: 12px; padding-left: 18px; padding-top: 2px; height: 35px; }
.product-view .product-shop .staffelpreise { float: right; width: 201px; }
.product-view .product-shop .staffelpreise .staffelpreise-top { float: right; width: 201px; height: 40px; background: url(../images/media/staffelpreise_top.png) 0 0 no-repeat; }
.product-view .product-shop .staffelpreise .staffelpreise-content { float: right; width: 151px; padding: 0 10px 0 18px; background: url(../images/media/staffelpreise_content.png) 0 0 repeat-y; }
.product-view .product-shop .staffelpreise .staffelpreise-content .product-pricing { padding: 0; margin-top: 10px; }
.product-view .product-shop .staffelpreise .staffelpreise-content .product-pricing .price { float: right; }
.product-view .product-shop .staffelpreise .staffelpreise-content .product-pricing .benefit { display: none; }
.product-view .product-shop .staffelpreise .staffelpreise-bottom { float: right; width: 179px; height: 9px; background: url(../images/media/staffelpreise_bottom.png) 0 0 no-repeat; }
.product-view .product-shop .staffelpreise-pfeil { clear: both; float: right; margin-bottom: 5px; height: 12px; width: 202px; background: url(../images/media/pfeil_vert.png) 55% 0 no-repeat; }
.product-view .product-shop .add-to-box { width: 160px; height: 80px; padding: 15px 9px 5px 9px; float: right; background: url(../images/media/tocartbutton.png) 0 0 no-repeat; }
.product-view .product-shop .add-to-cart input#qty { width: 89px; }
.product-view .product-shop .add-to-cart select#qty { width: 95px; }
.product-view .product-shop .add-to-cart select#qty option { padding-left: 5px; }
.product-view .product-shop .add-to-cart button { width: 160px; height: 35px; margin: 10px 0 0; padding: 0; background: url(../images/media/warenkorb_button_dp.gif) 0 0 no-repeat; }
.product-view .product-shop .add-to-cart button span { display: none; }
.product-view .product-shop .product-navigation { background-color: #f2eee3; margin-bottom: 10px; font-size: 11px !important; text-align: center; }
.product-view .product-shop .product-navigation .prev-link { background: url(../images/media/pfeil_links.gif) 0 4px no-repeat; padding-left: 13px; }
.product-view .product-shop .product-navigation .next-link { background: url(../images/media/pfeil.gif) 100% 4px no-repeat; padding-right: 13px; }
.product-view .product-shop .product-top { background-color: #f2eee3; margin-bottom: 10px; font-size: 11px !important; }
.product-view p.toplink-bg { background-color: #e5e0d2; margin: 0; padding: 3px 7px; float: right; /*-moz-border-radius-bottomleft: 10px;*/ }
.product-view .product-shop .product-bottom { background-color: #f2eee3; border:5px solid #e5e0d2; padding: 5px; }
.product-view .product-zubehoer { float:right; width:340px; margin-top: 10px; padding: 0 5px 0; border:5px solid #e5e0d2; }
.product-view .bookmark-link { background: url(../images/media/bookmark.gif) 0 0 no-repeat; margin: 0; padding: 0 7px 5px; float: right; }
.product-view .rotate-link { background: url(../images/media/rotate.gif) 0 0 no-repeat; margin: 0; padding: 0 7px 5px; float: right; }
.product-view hr { color: #e5e0d2; background: #e5e0d2; width: 100%; margin: 10px 0; }

.product-view .product-essential #product-name { margin-top: 15px; font-size: 15px; font-weight: bold; padding: 0 19px 0 10px; }
.product-view .product-essential .product-printers { margin-top: 15px; padding: 0 19px 0 10px; line-height: 17px; }
.product-view .product-essential .product-printers #headline { color: #009EE0; font-weight: bold; font-size: 13px; }
.product-view .product-essential .product-details { margin-top: 10px; padding: 0 19px 0 10px; line-height: 17px; }

/* J2T AJAX Cart */

.j2tajax-checkout-img { margin-right: 10px; width: 36px; height: 41px; background: url(../images/media/header/warenkorb.png) 0 0 no-repeat; }
.j2tajax-checkout-img img { display: none; }
.j2tajax-checkout-txt { font-size: 12px; font-weight: normal; line-height: 17px; }
.j2tajax-confirm .sub { margin: 5px; }
.j2tajax-confirm .sub .tierprices { margin-top: 10px; }
.j2tajax-confirm .sub .hr { margin: 10px 5px; }
.j2tajax-confirm .sub .payment { text-align: left; /*background: url(../images/media/button_payment.gif) 100% 100% no-repeat;*/ }

.j2tajax-confirm .payment h2 {
  display: block;
  color: #555555;
  font-size: 16px;
  font-weight: bold;
  font-family: Arial,Helvetica,Arial,sans-serif;
  /*font-family: Verdana,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",sans-serif;*/
  margin-bottom: 10px;
}

/* Kurzbeschreibung / Short Description */

.product-view .product-essential .short-description { padding: 0 10px; margin-top: 15px; font-size: 12px; line-height: 17px; }
.product-view .product-essential .short-description h3 { display: none; }

.product-view .product-essential .other { margin-top: 15px; font-size: 12px; line-height: 17px; }

.product-collateral .description {
  margin: 20px 0 0 20px;
  line-height: 17px;
}
.product-collateral .description h3 {
  display: block; font-size: 22px; color: #666666; margin-bottom: 02px;
}

.product-collateral .additional {
  margin: 20px 0 0 20px;
}

.product-collateral .tags {
  margin: 20px 0 0 20px;
}

.product-collateral .tags .form-add-tags .input-box {
  display: inline;
  margin: 0 10px 0;
}

/* Product Images */
.product-view .product-img-box {
  float: left;
  text-align: right;
  width: 146px;
  margin-bottom: 10px;
}
.product-view .product-img-box .more-views img { border: 2px solid #e5e0d2; }

/* Product Shop */
.product-view .product-name h2 {
  font-family: Arial,Helvetica,Arial,sans-serif;
  /*font-family: Verdana,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",sans-serif;*/
}

/* Availability */
.availability .out-of-stock { color:#cc0000; }

/********** < Product Prices */

/* Block: Description */
/*.product-view .description h3 {
	display: inline;
	background-color: #E5E0D2;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	padding: 3px 5px;
	line-height: 15px;
	margin: 0;
	border-bottom: 0;
}
.product-view .description .std {
	border: 5px solid #E5E0D2;
	padding: 5px;
	background-color: #F2EEE3;
}*/

/* Block: Tags */
.product-view .tags .form-add-tags .input-box { width:206px; }
.product-view .tags .form-add-tags input.input-text { width:200px; }

/* Checkout ============================================================================== */

/* Cart Table */
.cart .cart-icon {
  float: left;
  margin-left: 20px;
  width: 36px;
  height: 41px;
  background: url(../images/media/header/warenkorb.png) 0 0 no-repeat;
}
.cart .cart-title {
  float: left;
  font-weight: bold;
  font-size: 26px;
  color: #000000;
  line-height: 31px;
  margin: 10px 0 0 10px;
}
.cart .table-top { width: 726px; height: 25px; background: url(../images/media/cart/carttable_top.png) 0 0 no-repeat; }
.cart .cart-table { border-collapse: separate; border-spacing: 0; width: 726px; border-left: 1px solid #DCDCDC; border-right: 1px solid #DCDCDC; }
.cart .cart-table > thead { font-size: 11px; color: #ffffff; background: none; line-height: 11px; }
.cart .cart-table > thead > tr > th { padding-top: 0; padding-bottom: 1px; height: 11px; border-bottom: 0; cursor: default; }
/* .cart .cart-table thead tr#cart-head { background: url(../images/media/cart/table_top.png) 0 0 no-repeat; } */
.cart .cart-table > tbody > tr > td, .cart .cart-table > tfoot > tr > td { border-bottom: 1px solid #DCDCDC; }
.cart .cart-table tr.odd { /*padding: 0 1px 0; background: url(../images/media/cart/table_body_grey.png) 0 0 repeat-y;*/ }
.cart .cart-table tr.odd td { background-color: #ECECEC; }
.cart .cart-table tr.even { /*padding: 0 1px 0; background: url(../images/media/cart/table_body_white.png) 0 0 repeat-y;*/ }
.cart .cart-table tr.odd td { }
.cart .cart-table tr.even td { }
.cart .cart-table tbody td .cart-price { margin-right: 10px; text-align: right; }
.cart .cart-table tbody td input.qty { margin: 0 10px; }
.cart .cart-table tfoot tr { padding: 0 1px 0; background: url(../images/media/cart/table_body.png) 0 0 repeat-y; }
.cart .cart-table table#shopping-cart-totals-table tr { border: 0; background: none; }
.cart .table-bottom-odd { width: 726px; height: 25px; font-size: 11px; background: url(../images/media/cart/table_bottom_grey.png) 0 0 no-repeat; }
.cart .table-bottom-even { width: 726px; height: 25px; font-size: 11px; background: url(../images/media/cart/table_bottom_white.png) 0 0 no-repeat; }


/* One Page */

.opc { position:relative; }
.opc li.section { }
.opc .step-title { padding: 5px; text-align: right; }
.opc .step-title h3 { float:left; }
.opc .allow .step-title { cursor:pointer; }
.opc .active {}
.opc .active .step-title { cursor:default; }
.opc .step { padding:10px; position:relative; }
.opc .step .tool-tip { right:10px; }
.opc .order-review {}
.opc dl.sp-methods dd { margin-bottom: 15px; }

.checkout-onepage-index .opc-top {
  height: 24px;
  width: 726px;
  background: url(../images/media/cart/table_top.png) 0 0 no-repeat;
}
.checkout-onepage-index .opc-bottom {
  height: 25px;
  width: 726px;
  background: url(../images/media/cart/table_bottom_white.png) 0 0 no-repeat;
  margin-bottom: 20px;
}

.checkout-onepage-index .opc li.section { border-left:1px solid #d7d7d7; border-right:1px solid #d7d7d7; }
.checkout-onepage-index .opc .step-title { color: #888888; }
.checkout-onepage-index .opc .active .step-title, .checkout-onepage-index .opc .allow .step-title:hover { background-color: #ececec; color: #009ee0; }
.checkout-onepage-index .opc .step-title h3 { margin: 0; line-height: 27px; }
.checkout-onepage-index .opc .step { /*border-top:1px solid #d7d7d7;*/ }

.checkout-onepage-index .opc .step-title .number { float: left; width: 27px; height: 27px; margin-right: 10px; }

.checkout-onepage-index .opc #opc-login .step-title .number { background: url(../images/media/checkout/1_inactive.png) 2px 2px no-repeat; }
.checkout-onepage-index .opc #opc-billing .step-title .number { background: url(../images/media/checkout/1_inactive.png) 2px 2px no-repeat; }
.checkout-onepage-index .opc #opc-shipping .step-title .number { background: url(../images/media/checkout/2_inactive.png) 2px 2px no-repeat; }
/*.checkout-onepage-index .opc #opc-shipping_method .step-title .number { background: url(../images/media/checkout/3_inactive.png) 2px 2px no-repeat; }*/
.checkout-onepage-index .opc #opc-payment .step-title .number { background: url(../images/media/checkout/3_inactive.png) 2px 2px no-repeat; }
.checkout-onepage-index .opc #opc-review .step-title .number { background: url(../images/media/checkout/4_inactive.png) 2px 2px no-repeat; }

.checkout-onepage-index .opc #opc-login.active .step-title .number { background: url(../images/media/checkout/1_active.png) 0 0 no-repeat; }
.checkout-onepage-index .opc #opc-billing.active .step-title .number { background: url(../images/media/checkout/1_active.png) 0 0 no-repeat; }
.checkout-onepage-index .opc #opc-shipping.active .step-title .number { background: url(../images/media/checkout/2_active.png) 0 0 no-repeat; }
/*.checkout-onepage-index .opc #opc-shipping_method.active .step-title .number { background: url(../images/media/checkout/3_active.png) 0 0 no-repeat; }*/
.checkout-onepage-index .opc #opc-payment.active .step-title .number { background: url(../images/media/checkout/3_active.png) 0 0 no-repeat; }
.checkout-onepage-index .opc #opc-review.active .step-title .number { background: url(../images/media/checkout/4_active.png) 0 0 no-repeat; }

/* Adress */
#opc-billing .input-box, #opc-shipping .input-box { float: none; margin-bottom: 5px; }
#opc-billing select, #opc-shipping select { width: 326px; }
#opc-billing input.input-text, #opc-shipping input.input-text { width: 320px; }
#opc-billing select#billing-address-select { width: 455px; }

.input-box .dob-day { float: left; }
.input-box .dob-month { float: left; }
.input-box .dob-year { float: left; }
.customer-dob > label { display: block; }
.customer-dob > .input-box { margin-right: 15px; float: left !important; }
select.customer-dob-day { width: 55px !important; }
select.customer-dob-month { width: 80px !important; margin-left: 10px; }
select.customer-dob-year { width: 55px !important; margin-left: 10px; }

/*.dob-day, .dob-month, .dob-year { width: 130px !important; }*/
.account-create h3 { margin-top: 15px; }

/* Payment Methods */
#checkout-payment-method-load dd { padding-bottom: 10px; border-bottom: 1px solid #CFCFCF; }

/*#co-billing-form li.key { clear: both; float: right; }
#co-billing-form li.value { float: right; }*/

/* Checkout Agreements */
.checkout-agreements .agreement-content { border:1px solid #d7d7d7; background-color:#f2eee3; }

/* Account Create */
.customer-account-create .input-box { float: none; margin-bottom: 5px; }
.customer-account-create select { width: 326px; }
.customer-account-create input.input-text { width: 320px; }

form#login-form input#login-email, form#login-form input#login-password { width: 270px; }

.group-select input.input-text, .buttons-set { clear:both; margin: 0; padding: 2px; }
.group-select select { padding: 1px; }

.checkout-onepage-success .content a.trusted-logo {
  display: block;
  width: 70px;
  height: 70px;
  background: url(../images/media/trusted_siegel.gif) 0 0 no-repeat;
}

#loadingpage {
    text-align:		center;
    display:		none;
    font-size:		16px;
    font-weight:		bold;
    overflow:		hidden !important;
    padding-top:		250px;
    position:		fixed;
    width:			100%;
    height:			100%;
    background-image:	url(../images/black-40.png) !important;
    top:			0;
    left:			0;
    z-index:		1000!important;


}
.loadingpage_inner{
    text-align:		center;
    padding:		30px;
    font-size:		15px;
    font-weight:		bold;
    width:			400px;
    margin:			auto;
    overflow:		hidden !important;
    -moz-border-radius:5px;
    -khtml-border-radius:5px;
    border:			5px solid #1CA0DC;
    background-color:	#ffffff;
}

.j2tajax-confirm .messages,
.j2tajax-confirm .messages ul,
.j2tajax-confirm .messages li {
    margin: 0 !important;
    padding: 0 !important;
}

.j2tajax-confirm .messages .j2tajax-checkout-img {
    display: none;
}

.j2tajax-confirm .messages .j2tajax-checkout-txt {
    padding: 27px 98px 0 32px;
    font-size: 12px;
    font-weight: bold;
    color: #111111;
    line-height: 16px;
    text-align: left;    
}

.j2tajax-confirm .layer-checkout {
    padding: 0 32px 0 32px;
}

.j2tajax-confirm .layer-checkout .layer-checkout-hint {
    font-size: 10px;
    line-height: 14px;
    color: #111111;
    text-align: left;
    margin: 0;
    padding: 6px 70px 17px 0;
    display: block;
}

.j2tajax-confirm .layer-checkout .layer-checkout-link-continue,
.j2tajax-confirm .layer-checkout .layer-checkout-link-continue:hover {
    background: url(../images/media/layer/layer-checkout-link-continue.gif) no-repeat left top;
    width: 136px;
    text-align: center;
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    float: left;
}

.j2tajax-confirm .layer-checkout .layer-checkout-link-checkout,
.j2tajax-confirm .layer-checkout .layer-checkout-link-checkout:hover {
    background: url(../images/media/layer/layer-checkout-link-checkout.gif) no-repeat left top;
    width: 115px;
    text-align: left;
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    float: right;
}

.j2tajax-confirm .layer-checkout .layer-checkout-link-checkout span {
    padding: 0 0 0 12px;
}

.j2tajax-confirm .layer-checkout .layer-checkout-info {
    clear: both;
    padding: 38px 0 0 0;
    text-align: left;
}

.j2tajax-confirm .layer-checkout .layer-checkout-info .layer-checkout-info-title {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    line-height: 22px;
    color: #111111;
    padding: 0 0 7px 0;
}

.j2tajax-confirm .layer-checkout .layer-checkout-info ul {
    list-style-type: none;
    padding: 0 0 0 12px;
    margin: 0;
}

.j2tajax-confirm .layer-checkout .layer-checkout-info .layer-checkout-info-check {
    width: 133px;
    float: left;
    padding: 0 0 1px 0;
    margin: 0;
    font-size: 12px;
    line-height: 24px;
}

#onestepcheckout-form { 
    margin: 0;
    padding: 0;
    background: transparent;
    width: 940px;
}

#onestepcheckout-form .group-select {
    background: transparent url(../images/media/block/block-onestepcheckout-end.gif) no-repeat left bottom;
    padding: 0 0 15px 0;
}

#onestepcheckout-form .group-select .onestepcheckout-title {
    background: transparent url(../images/media/block/block-onestepcheckout-title.gif) no-repeat left top;
    padding: 0 20px 0 20px;
    margin: 0;
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    text-transform: none;
    color: #111111;
}

#onestepcheckout-form .group-select .onestepcheckout-description {
    background: transparent url(../images/media/block/block-onestepcheckout-bg.gif) repeat-y left top; 
    padding: 20px 20px 20px 20px;
    font-size: 12px;
    line-height: 16px;
    color: #111111;
    margin: 0;
}

#onestepcheckout-form .group-select .onestepcheckout-threecolumns {
    background: transparent url(../images/media/block/block-onestepcheckout-bg-cols.gif) repeat-y left top; 
    padding: 0 20px 5px 20px;
    border-top: 0;
}

#onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-left {
    float: left;
    width: 273px;
    padding: 0 20px 0 0;
    margin: 0;
    border-right: 0;
}

#onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-middle {
    float: left;
    width: 273px;
    padding: 0 20px 0 20px;
    margin: 0;
    border-right: 0;
}

#onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-column-right {
    float: left;
    width: 273px;
    padding: 0 0 0 20px;
    margin: 0;
}

#onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-numbers {
    font-size: 14px;
    font-weight: bold;
    color: #111111;
    font-style: italic;
    text-transform: none;
    line-height: 24px;
    height: 24px;
    padding: 0 0 0 30px;
    margin: 0 0 10px 0;
}

#onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-numbers-1 {
    background: transparent url(../images/media/block/block-onestepcheckout-number-1.gif) no-repeat left center;
}

#onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-numbers-2 {
    background: transparent url(../images/media/block/block-onestepcheckout-number-2.gif) no-repeat left center;
}

#onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-numbers-3 {
    background: transparent url(../images/media/block/block-onestepcheckout-number-3.gif) no-repeat left center;
}

#onestepcheckout-form .group-select .onestepcheckout-threecolumns .onestepcheckout-numbers-4 {
    background: transparent url(../images/media/block/block-onestepcheckout-number-4.gif) no-repeat left center;
}

div.checkoutcontainer div.input-address-short,
div.checkoutcontainer div.input-firstname,
div.checkoutcontainer div.input-lastname,
div.checkoutcontainer div.input-email,
div.checkoutcontainer div.input-telephone,
div.checkoutcontainer div.input-company,
div.checkoutcontainer div.input-fax,
div.checkoutcontainer div.input-password,
div.checkoutcontainer div.input-postcode {
    float: left;
    width: 100%;
}

div.checkoutcontainer div .input-text {
    width: 266px;
    border: 1px solid #cfcfcf;
    font-size: 12px;
    color: #111111;
    height: 24px;
    padding: 0 0 0 4px;
    background: #ffffff;
}

div.checkoutcontainer div select {
    border: 1px solid #cfcfcf;
    font-size: 12px;
    color: #111111;
    background: #ffffff;    
}

div.checkoutcontainer .input-country select {
    width: 250px;
}