

#discount-coupon-button {
	float:left;
	display:none;
}

#discount-coupon-popup{
	position:relative;
}
#discount-coupon-popup p.close{
	background: url(../images/media/box/close.png) no-repeat scroll 0 0;
    height: 42px;
    position: absolute;
    right: 0;
    top: 0;
    width: 42px;
	cursor:pointer;
	margin:0;
}

#discount-coupon-popup table.promotion-popup-box,
#discount-coupon-popup .promotion-popup-bottom-center table,
#discount-coupon-popup .promotion-popup-center-center table{
	width:100%; 
	margin:0;
	padding:0;
}

#discount-coupon-popup table.promotion-popup-box td.promotion-popup-title-left{
	height:56px;
	width:30px;
	background: url(../images/media/box/box-title-left.png) no-repeat scroll 0 0;
}

#discount-coupon-popup table.promotion-popup-box td.promotion-popup-title-right{
	height:56px;
	width:30px;
	background: url(../images/media/box/box-title-right.png) no-repeat scroll 0 0;
}

#discount-coupon-popup table.promotion-popup-box td.promotion-popup-title-center{
	height:56px;
	background: url(../images/media/box/box-title-center.png) repeat scroll 0 0;
    font-size: 18px;
    font-weight: bold;	
	vertical-align: bottom;
	line-height: 43px;
}

#discount-coupon-popup table.promotion-popup-box td.promotion-popup-center-left{
	width:30px;
	background: url(../images/media/box/box-center-left.png) repeat-y scroll 0 0;
}

#discount-coupon-popup table.promotion-popup-box td.promotion-popup-center-right{
	width:30px;
	background: url(../images/media/box/box-center-right.png) repeat-y scroll 0 0;
}

#discount-coupon-popup table.promotion-popup-box td.promotion-popup-center-center{
	background: #fff;
	padding-top:5px;
}

#discount-coupon-popup table.promotion-popup-box td.promotion-popup-bottom-left{
	height:68px;
	width:30px;
	background: url(../images/media/box/box-bottom-left.png) no-repeat scroll 0 0;
}

#discount-coupon-popup table.promotion-popup-box td.promotion-popup-bottom-right{
	height:68px;
	width:30px;
	background: url(../images/media/box/box-bottom-right.png) no-repeat scroll 0 0;
}

#discount-coupon-popup table.promotion-popup-box td.promotion-popup-bottom-center{
	height:68px;
	background: url(../images/media/box/box-bottom-center.png) repeat scroll 0 0;
	vertical-align:top;
	line-height: 60px;
}

#discount-coupon-popup .button-artikel{
	width:160px;
	height:38px;
	background: url(../images/media/box/button-green.png) no-repeat scroll 0 0;
	border:none;
	color:#fff;
	padding-right:2px;
	text-align:center;
	padding-left:2px;
	font-size: 12px;
	cursor:pointer;
	font-weight: bold;	
}
#discount-coupon-popup .button-artikel2{
	width:247px;
	height:46px;
	background: url(../images/media/box/button.png) no-repeat scroll 0 0;
	border:none;
	color:#fff;
	padding-right:2px;
	text-align:center;
	padding-left:2px;
	font-size: 16px;
	cursor:pointer;
	font-weight: bold;	
}
#discount-coupon-popup .button-close{
	width:100px;
	height:38px;
	background: url(../images/media/box/button-blue.png) no-repeat scroll 0 0;
	border:none;
	color:#fff;
	padding-right:2px;
	text-align:center;
	padding-left:2px;
	font-size: 12px;
	cursor:pointer;
	font-weight: bold;	
}
.discount-coupon-button{
	width:155px;
	height:26px;
	background: #E1007A;
	border:none;
	border-radius:5px;
	color:#fff;
	padding-right:2px;
	text-align:center;
	padding-left:2px;
	font-size: 12px;
	cursor:pointer;
	font-weight: bold;	
}
#discount-coupon-popup .button-artikel2:hover,
#discount-coupon-popup .button-artikel:hover,
#discount-coupon-popup .button-close:hover,
.discount-coupon-button:hover
{
	background-position: 0 100%;
}

.dialog .table_window{
	background: none !important;
}

.dialog .title_window{
	display: none !important;
}