

#promotion-gifts-button {
	float:left;
	display:none;
}

#promotion-gifts-popup{
	position:relative;
}
#promotion-gifts-popup p.close{
	background: url(../images/media/box/close.png) no-repeat scroll 0 0;
    height: 42px;
    position: absolute;
    right: 0;
    top: 0;
    width: 42px;
	cursor:pointer;
	margin:0;
}

#promotion-gifts-popup table.promotion-popup-box,
#promotion-gifts-popup .promotion-popup-bottom-center table,
#promotion-gifts-popup .promotion-popup-center-center table{
	width:100%; 
	margin:0;
	padding:0;
}

#promotion-gifts-popup table.promotion-popup-box td.promotion-popup-title-left{
	height:56px;
	width:30px;
	background: url(../images/media/box/box-title-left.png) no-repeat scroll 0 0;
}

#promotion-gifts-popup table.promotion-popup-box td.promotion-popup-title-right{
	height:56px;
	width:30px;
	background: url(../images/media/box/box-title-right.png) no-repeat scroll 0 0;
}

#promotion-gifts-popup table.promotion-popup-box td.promotion-popup-title-center{
	height:56px;
	background: url(../images/media/box/box-title-center.png) repeat scroll 0 0;
    font-size: 18px;
    font-weight: bold;	
	vertical-align: bottom;
	line-height: 43px;
}

#promotion-gifts-popup table.promotion-popup-box td.promotion-popup-center-left{
	width:30px;
	background: url(../images/media/box/box-center-left.png) repeat-y scroll 0 0;
}

#promotion-gifts-popup table.promotion-popup-box td.promotion-popup-center-right{
	width:30px;
	background: url(../images/media/box/box-center-right.png) repeat-y scroll 0 0;
}

#promotion-gifts-popup table.promotion-popup-box td.promotion-popup-center-center{
	background: #fff;
	padding-top:5px;
}

#promotion-gifts-popup table.promotion-popup-box td.promotion-popup-bottom-left{
	height:68px;
	width:30px;
	background: url(../images/media/box/box-bottom-left.png) no-repeat scroll 0 0;
}

#promotion-gifts-popup table.promotion-popup-box td.promotion-popup-bottom-right{
	height:68px;
	width:30px;
	background: url(../images/media/box/box-bottom-right.png) no-repeat scroll 0 0;
}

#promotion-gifts-popup table.promotion-popup-box td.promotion-popup-bottom-center{
	height:68px;
	background: url(../images/media/box/box-bottom-center.png) repeat scroll 0 0;
	vertical-align:top;
	line-height: 60px;
}

#promotion-gifts-popup table.promotion-popup-box td.promotion-popup-border{
	width:45px;
	/*background: url(../images/media/box/box-border.png) repeat-y scroll 0 0;*/
	/*vertical-align:middle;*/
	padding-top: 35px;
}
#promotion-gifts-popup div.promotion-popup-arrow{
	width:45px;
	height:20px;
	background: url(../images/media/box/arrow.jpg) no-repeat scroll 0 0;
}
#promotion-gifts-popup div.promotion-popup-gift{
	width:45px;
	height:20px;
	background: url(../images/media/box/gift.jpg) no-repeat scroll 0 0;
}
#promotion-gifts-popup .image{
	width:60px; 
	height:105px; 
	vertical-align:top;
	padding-top:5px;
}
#promotion-gifts-popup .description p{
	line-height:15px;
	margin:0;
}
#promotion-gifts-popup .promotion-popup-product-header,
#promotion-gifts-popup .promotion-popup-product-header-exchange,
#promotion-gifts-popup .promotion-popup-product-header-gift{
	line-height:20px;
	font-weight: bold;
	font-size: 15px;
	color:#009ee0;
	padding-bottom:0;
	vertical-align: middle;
}
#promotion-gifts-popup .promotion-popup-product-header-exchange{
	color:#4faa3c;
}
#promotion-gifts-popup .promotion-popup-product-header-gift{
	color:#e71d87;
}
#promotion-gifts-popup .button-artikel{
	width:160px;
	height:38px;
	background: url(../images/media/box/button-green.png) no-repeat scroll 0 0;
	border:none;
	color:#fff;
	padding-right:2px;
	text-align:center;
	padding-left:2px;
	font-size: 12px;
	cursor:pointer;
	font-weight: bold;	
}
#promotion-gifts-popup .button-artikel2{
	width:247px;
	height:46px;
	background: url(../images/media/box/button.png) no-repeat scroll 0 0;
	border:none;
	color:#fff;
	padding-right:2px;
	text-align:center;
	padding-left:2px;
	font-size: 16px;
	cursor:pointer;
	font-weight: bold;	
}
#promotion-gifts-popup .button-close{
	width:100px;
	height:38px;
	background: #009EE0;
	border-radius:15px;
	border:none;
	color:#fff;
	padding-right:2px;
	text-align:center;
	padding-left:2px;
	font-size: 12px;
	cursor:pointer;
	font-weight: bold;	
}
.promotion-gifts-button{
	width:155px;
	height:26px;
	background:#FF0090;
	border-radius:15px;
	border:none;
	color:#fff;
	padding-right:2px;
	text-align:center;
	padding-left:2px;
	font-size: 12px;
	cursor:pointer;
	font-weight: bold;	
}
#promotion-gifts-popup .button-artikel2:hover,
#promotion-gifts-popup .button-artikel:hover,
#promotion-gifts-popup .button-close:hover,
.promotion-gifts-button:hover
{
	background-position: 0 100%;
}
#promotion-gifts-popup .promotion{
	font-weight: bold;
	line-height:57px;
}
#promotion-gifts-popup .sticker{
	width:57px;
	height:57px;
	background: url(../images/media/box/sticker.png) no-repeat scroll 0 0;
	color:#fff;
	font-weight: bold;
	line-height:57px;
	text-align:center;
}
#promotion-gifts-popup  td.promotion-popup-exchange,
#promotion-gifts-popup .promotion-popup-product-header-exchange{
	padding-left:15px;
}

#promotion-gifts-popup  td.promotion-button-box{
	padding-left:5px;
}
#promotion-gifts-popup  td.gift-exchange-button,
#promotion-gifts-popup  td.gift-product-button{
	width:170px;
}
#promotion-gifts-popup  td.gift-exchange-button{
	vertical-align:bottom;
	padding-bottom:64px;
	width:170px;
}

td.promotion-gift-box{
	width:227px;
}

#promotion-gifts-popup  td.gift-product-button button{
	margin-top:15px;
}

.dialog .table_window{
	background: none !important;
}

.dialog .title_window{
	display: none !important;
}
#promotion-gifts-popup .upsell-successful{
	height:110px; 
	font-weight: bold;
	font-size: 14px;
	text-align:center;
	line-height:110px; 
} 
#promotion-popup-items-overflow{
	overflow-y: auto;
	overflow-x: hidden;
    max-height: 333px;
}

.promotion-popup-item{
	border-top: 1px #e2e2e2 solid;
}
tr.promotion-popup-item td{
	padding-top:5px;
	padding-bottom:5px;
}