<ul class="messages">
    <li class="error-msg">
        <?php
        echo $this->__('Please be informed that, if you use AfterPay as acquirer on PayEngine side, it\'s not possible to perform partial captures');
        ?>.
    </li>
</ul>