<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script type="text/javascript" src="<?php echo $this->getJsUrl()?>ext-3.0-rc1.1/adapter/ext/ext-base.js"></script>
<script 	type="text/javascript" src="<?php echo $this->getJsUrl()?>ext-3.0-rc1.1/ext-all-debug.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo $this->getJsUrl()?>ext-3.0-rc1.1/resources/css/ext-all.css" />
<link rel="stylesheet" type="text/css" href="<?php echo $this->getJsUrl()?>ext-3.0-rc1.1/resources/css/xtheme-darkgray.css" />


<div class="content-header">
    <table cellspacing="0">
        <tr>
            <td><h3><?php echo $this->__('Suchmaschine anlegen') ?></h3></td>
        </tr>
    </table>
</div>



<script language="javascript" type="text/javascript">
Event.observe(document,'dom:loaded',function (){
	buildMyGrid(<?php echo $this->getFunctionNamesAndNumbers()?>,<?php echo Zend_Json::encode(Mage::helper('psmext')->getExistingEngines())?>);
});
	
function getList(json) {
	  var data = eval(json);
	  var list = [];
	  for (p in data.response.list) {
	    list[0+p] = data.response.list[p];
	  }
	  return list;
}

function checkFileName(str) {
	   if (/^[^\\\/\:\*\?\"\<\>\|\.]+(\.[^\\\/\:\*\?\"\<\>\|\.]+)+$/.test(str)) {
	      return true;
	   }
	   else {
	      return false;
	   }
	}


function buildMyGrid(myData, machines){ 

	Ext.BLANK_IMAGE_URL = '<?php echo $this->getJsUrl()?>ext-3.0-rc1.1/resources/images/default/s.gif';
	// Generic fields array to use in both store defs.
	var fields = [
	   {name: 'name', mapping : 'name'},
	   {name: 'column1', mapping : 'column1'}	
	];
	
    // create the data store
    var firstGridStore = new Ext.data.JsonStore({
        fields : fields,
		data   : myData,
		root   : 'records'
    });
	

	// Column Model shortcut array
	var cols = [
		{ id : 'name', header: "Feldname", width: 160, sortable: false, dataIndex: 'name'},
		{header: "column1", width: 50, sortable: false, dataIndex: 'column1', hidden:true}
	];
    
	// declare the source Grid
    var firstGrid = new Ext.grid.GridPanel({
		ddGroup          : 'secondGridDDGroup',
        store            : firstGridStore,
        columns          : cols,
		enableDragDrop   : true,
        stripeRows       : true,
        autoExpandColumn : 'name',
        width            : 325,
		region           : 'west',
        title            : 'Quelle Datenfelder'
    });
    

    var secondGridStore = new Ext.data.JsonStore({
        fields  : fields,
		root    : 'records'

    });
	
    // create the destination Grid
    var secondGrid = new Ext.grid.GridPanel({
		ddGroup          : 'firstGridDDGroup',
        store            : secondGridStore,
        columns          : cols,
		enableDragDrop   : true,
        stripeRows       : true,
        autoExpandColumn : 'name',
        width            : 325,
		region           : 'center',
        title            : 'Ziel Datenfelder'
    });
    
  
    
	
	//Simple 'border layout' panel to house both grids
	var displayPanel = new Ext.Panel({
		width    : 650,
		height   : 300,
		layout   : 'border',
		renderTo : 'grid',
		items    : [
			firstGrid,
			secondGrid
		],
		tbar :[{xtype: 'tbtext', text: 'Kopfzeile'},
		       {xtype: 'textfield',
		     name: 'Kopfzeile',
		     id: 'headline',
		     width: 550}
		],
		bbar    : [
			{xtype: 'tbtext', text: 'Exportdatei'},
			{xtype: 'textfield',
		     name: 'Suchmaschine',
		     id: 'searchengine',
		     allowBlank:false
		     
			},{ xtype:'tbseparator'},
			{xtype: 'tbtext', text: 'Trennzeichen'},
			{xtype: 'textfield',
			     name: 'Trennzeichen',
			     id: 'separator',
			     allowBlank:false 
				},
			{ xtype: 'tbfill'},
			{ xtype:'tbseparator'},
			{
				text    : 'Zurücksetzen',
				handler : function() {
					//refresh source grid
				firstGridStore.loadData(myData);
					//purge destination grid
					secondGridStore.removeAll();
				}
			}
		,{ xtype:'tbseparator'},
			{
						text    : 'Speichern',
						handler : function() {
			x = "";	
			Ext.each(secondGridStore.data.items, function(record){
			   x = x +  record.json.column1 + ",";
			});
			//Abfrage  Ext.get("searchengine").getValue()  nicht leer oder in json:machines
			var exists = false;
			var machines1 = eval(machines);
			for (var i = 0; i<machines1.length;i++ ) {
					if (machines1[i]==Ext.get("searchengine").getValue()){
						exists=true;
					}				
			}	
		
			if (Ext.get("searchengine").getValue()==""){
				Ext.Msg.show({msg: 'Kein Name für den Datensatz angegeben'});
			}
			else if (secondGridStore.data.items.length == 0) {
				Ext.Msg.show({msg: 'Keine Spaltenwerte ausgewählt!'});
			}
			else if (!checkFileName(Ext.get("searchengine").getValue())){
				Ext.Msg.show({msg: 'Kein gültiger Dateiname angegeben'});
			}
			else if (exists==true) {
				Ext.Msg.show({msg: 'Es exisitiert bereits ein Datensatz mit diesem Namen'});
			}
			else if (Ext.get("separator").getValue()=="") {
				Ext.Msg.show({msg: 'Kein Trennzeichen angegeben'});
			}
			else{
				$('loading-mask').show();
			window.location.href='<?php echo $this->getUrl("*/*/receive")."?param="?>'+ x.substr(0,x.length-1)+
					'&psmset='+Ext.get("searchengine").getValue()+'&psmseparator='+Ext.get("separator").getValue()+'&headline='+Ext.get("headline").getValue();
			}
						}
					}			
				]
	});


	
	// used to add records to the destination stores
	var blankRecord =  Ext.data.Record.create(fields);

	/****
	* Setup Drop Targets
	***/
	// This will make sure we only drop to the view container
	var firstGridDropTargetEl =  firstGrid.getView().el.dom.childNodes[0].childNodes[1];
	var firstGridDropTarget = new Ext.dd.DropTarget(firstGridDropTargetEl, {
		ddGroup    : 'firstGridDDGroup',
		copy       : true,
		notifyDrop : function(ddSource, e, data){
			
			// Generic function to add records.
			function addRow(record, index, allItems) {
				
				// Search for duplicates
				var foundItem = firstGridStore.find('name', record.data.name);
				// if not found
				if (foundItem  == -1) {
					firstGridStore.add(record);
					
					// Call a sort dynamically
					firstGridStore.sort('name', 'ASC');
					
					//Remove Record from the source
					ddSource.grid.store.remove(record);
				}
			}

			// Loop through the selections
			Ext.each(ddSource.dragData.selections ,addRow);
			return(true);
		}
	}); 	

	
	// This will make sure we only drop to the view container
	var secondGridDropTargetEl = secondGrid.getView().el.dom.childNodes[0].childNodes[1]
	
	var destGridDropTarget = new Ext.dd.DropTarget(secondGridDropTargetEl, {
		ddGroup    : 'secondGridDDGroup',
		copy       : false,
		notifyDrop : function(ddSource, e, data){
			
			// Generic function to add records.
			function addRow(record, index, allItems) {
				
				// Search for duplicates
				var foundItem = secondGridStore.find('name', record.data.name);
				// if not found
				if (foundItem  == -1) {
					secondGridStore.add(record);
					// Call a sort dynamically
					secondGridStore.sort(null, null);
			
					//Remove Record from the source
					ddSource.grid.store.remove(record);
				}
			}
			// Loop through the selections
			Ext.each(ddSource.dragData.selections ,addRow);
			return(true);
		}
	}); 
}

</script>

<div id='grid'></div>
<br>
<br>
<a href="http://www.psmext.de"><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'psmext/images/logo.jpg' ?>"></img></a>