<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script
	type="text/javascript"
	src="<?php echo $this->getJsUrl()?>ext-3.0-rc1.1/adapter/ext/ext-base.js"></script>
<script
	type="text/javascript"
	src="<?php echo $this->getJsUrl()?>ext-3.0-rc1.1/ext-all.js"></script>
<link
	rel="stylesheet" type="text/css"
	href="<?php echo $this->getJsUrl()?>ext-3.0-rc1.1/resources/css/ext-all.css" />
<link
	rel="stylesheet" type="text/css"
	href="<?php echo $this->getJsUrl()?>ext-3.0-rc1.1/resources/css/xtheme-darkgray.css" />



<div class="content-header">
<table cellspacing="0">
	<tr>
		<td>
		<h3><?php echo $this->__('Dateien verwalten') ?></h3>
		</td>
	</tr>
</table>
</div>



<script language="javascript" type="text/javascript">
Event.observe(document,'dom:loaded',function (){
	buildResultGrid();
});
function buildResultGrid(){

	Ext.BLANK_IMAGE_URL = '<?php echo $this->getJsUrl()?>ext-3.0-rc1.1/resources/images/default/s.gif';
    Ext.state.Manager.setProvider(new Ext.state.CookieProvider());

	selected = false;
   
    function change(val){
        if(val > 0){
            return '<span style="color:green;">' + val + '</span>';
        }else if(val < 0){
            return '<span style="color:red;">' + val + '</span>';
        }
        return val;
    }

    function pctChange(val){
        if(val > 0){
            return '<span style="color:green;">' + val + '%</span>';
        }else if(val < 0){
            return '<span style="color:red;">' + val + '%</span>';
        }
        return val;
    }
  
	function preSelect(value){
		if (typeof value =='undefined'){
			value = <?php  echo Mage::helper('psmext')->getRandomShopValue()?>;
			selected_id=value;
			return value;
		}
		else {
			selected_id=value;
			return value
			};
	}
	preselect = preSelect(<?php echo $_SESSION['_storeId'];?>);
	
    // create the data store
    var store = new Ext.data.ArrayStore({
        fields: [
           {name: 'file'},
           {name: 'url'},
           {name: 'data'}
        ]
    });

    var combo = new Ext.form.ComboBox({
 	   id: 'store_combo',
       store: new Ext.data.SimpleStore({
       fields: ['id', 'name'],
       data: 
		<?php echo Zend_Json::encode(Mage::helper('psmext')->getShopOptions());?>
      }),
     mode: 'local',  
	    listeners:{select:{fn:function(field, value) {
  	  	 selected_name = value.data.name; 
	  		 selected_id = value.data.id;
	  		 selected = true;
	  		Ext.Ajax.request({
				 
			   url: '<?php echo $this->getUrl("*/*/getdirlisting")?>'+'?storeId='+selected_id,
			   method:'GET',
			   success: function (response){
			store.loadData(response.responseText.evalJSON());
 			},
			   failure: function (result, request) { 
						alert('ERROR');
				},
			   headers: {
			       'my-header': 'psmext'
			   }		   
			});
         }}, render:{fn:function(field, value){
			
        	 Ext.Ajax.request({
			   
  			   url: '<?php echo $this->getUrl("*/*/getdirlisting")?>'+'?storeId='+preselect,
  			   method:'GET',
  			   success: function (response){
  				store.loadData(response.responseText.evalJSON());
  				combo.setValue(preselect);
   			},
  			   failure: function (result, request) { 
  						alert('ERROR GETTING DIR LISTING / SCHREIBRECHTE!');
  				},
  			   headers: {
  			       'my-header': 'psmext'
  			   }		   
  			});
         }}
		

   },
        emptyText: 'Shop auswählen..',
        editable: false,
		allowBlank:false,
     displayField:'name',
     valueField:'id',
     typeAhead: 'false',
   triggerAction: 'all',
   autoLoad:true
});


    
    // create the Grid
    var grid = new Ext.grid.GridPanel({
        store: store,
        width    : 650,
        columns: [
            {id:'file',header: "Datei", width: 250, sortable: true, dataIndex: 'file'},
            {header: "URL", width: 50, sortable: true, dataIndex: 'url'},
            {header: "Datum", width: 200, sortable: true, renderer: change, dataIndex: 'data'}

        ],

        bbar    : [
                 combo,
                { xtype: 'tbfill'},
       			{
    				text    : 'Löschen',
    				handler: function() {
    					sm = grid.getSelectionModel();
    					var sel = sm.selections.itemAt(0);
    					if (sm.hasSelection()){
    						grid.getStore().remove(sel);
    						$('loading-mask').show();
    						window.location.href='<?php echo $this->getUrl("*/*/delfile")."?param="?>'+sel.data.file+"&storeId="+selected_id;
    						}
							else if (sm.hasSelection() == false) {Ext.Msg.show({msg: 'Keine Datei  ausgewählt!'})}
    						else if (selected == false) {Ext.Msg.show({msg: 'Keinen Shop ausgewählt!'})};
    				}
    			
    				}],
        stripeRows: true,
        autoExpandColumn: 'file',
        height:350,
        width:650,
        title:'Datei Übersicht'
    });
    grid.render('grid');
    
}; 
</script>

<div id="grid"></div>
<br>
<br>
<a href="http://www.psmext.de"><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'psmext/images/logo.jpg' ?>"></img></a>
