<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script type="text/javascript" src="<?php echo $this->getJsUrl()?>ext-3.0-rc1.1/adapter/ext/ext-base.js"></script>
<script 	type="text/javascript" src="<?php echo $this->getJsUrl()?>ext-3.0-rc1.1/ext-all.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo $this->getJsUrl()?>ext-3.0-rc1.1/resources/css/ext-all.css" />
<link rel="stylesheet" type="text/css" href="<?php echo $this->getJsUrl()?>ext-3.0-rc1.1/resources/css/xtheme-darkgray.css" />
<div class="content-header">
<table cellspacing="0">
    <tr>
        <td><h3><?php echo $this->__('Versandkosten') ?></h3></td>
    </tr>
</table>
</div>
<script language="javascript" type="text/javascript">
Event.observe(document,'dom:loaded',function (){
	buildTabsGrid();
});

function buildTabsGrid(){
	//Ext.QuickTips.init();
	Ext.BLANK_IMAGE_URL = '<?php echo $this->getJsUrl()?>ext-3.0-rc1.1/resources/images/default/s.gif';
	json = <?php echo Mage::helper('psmext')->getCategoryOptions()?>;
	
	function setActiveTabByTitle( tabs, tabTitle ) {	
	    var tabsarray = tabs.find( 'title', tabTitle ); 
	    if (tabsarray.length > 0){
	    tabs.setActiveTab( tabsarray[ 0 ] ); 
		}
	}

	function getShippers(){
		Ext.Ajax.request({
			 
			   url: '<?php echo $this->getUrl("*/*/getshipper")?>',
			   method:'GET',
			   success: received,
			   failure: function (result, request) { 
		            response_getshipper = result.responseText;
		            alert('Keine Versender gefunden');
				},
			   headers: {
			       'my-header': 'psmext'
			   }		   
			});
	}
	
		getShippers();

		 function received(response) {
			


			var tabs = new Ext.TabPanel({
	        renderTo:'tabs',
	        resizeTabs:true, // turn on tab resizing
	        minTabWidth: 115,
	        tabWidth:135,
	        enableTabScroll:true,
	        width:800,
	        height:250,
	        activeTab : 0,
	        defaults: {autoScroll:true},
	        bbar    : [        
	               	{xtype: 'textfield',
					     name: 'Name',
					     id: 'shipping_name',
					     allowBlank:false
						},
	         {
		      text    : 'Neue Versandart',
		      handler: function() {
						var temp_grid= new Ext.grid.EditorGridPanel({				
							sm: new Ext.grid.RowSelectionModel({
								singleSelect: false				
								}),
								 listeners: {
						              activate: function(e){
										temp_grid.getStore().removeAll();
									}},
									width    : 650,
									columns: [
									  {header: "id", dataIndex: 'id', hidden:true},
							          {header: "Max. Lang", dataIndex: 'mlength', editor: mlength_edit},
							          {header: "Max. Hoch", dataIndex: 'mheight', editor: mheight_edit},
							          {header: "Max. Breit", dataIndex: 'mwidth', editor: mwidth_edit},
							          {header: "Bis  Gewicht", sortable:true,dataIndex: 'mweight', editor: mweight_edit},
							          {header: "Ab VK", dataIndex: 'mprice', editor: mprice_edit},
							          {header: "Kategorie", sortable:true, dataIndex: 'cat', editor: cat_edit, width: 170},
							          {header: "Preis", dataIndex: 'price', editor: price_edit}],			          
							          store:  numbers
						    });
						name = Ext.get("shipping_name").getValue();
						var array = eval('(' + response.responseText + ')'); 
						var exists =new Boolean(false);
						for (i=0;i<array.length; i++){
							if (array[i]==name){
								exists=true;
								}
						}
						if (name !='' && exists==false){
							temp_grid.setTitle(name);
							temp_grid.getStore().removeAll();
							tabs.add(temp_grid).show();
						}
						else Ext.Msg.show({msg: 'Keine Name oder  Versandart  existiert bereits !'});
	    	     		//tabs.setActiveTab(grid);	
		       			}
		       			 
		       			
		       	},
		       
					{ xtype:'tbseparator'},

					{ text    : 'Neue Zeile',
				      handler: function() {
						if (tabs.getActiveTab() != null){
						tabs.getActiveTab().getStore().insert(
								0, 
								new ds_model({
								mlength: '',
								price: ''
								})
		   			     );
				       	}
					
					else Ext.Msg.show({msg: 'Keine Versandart geöffnet!'});
					}},
					{ xtype:'tbseparator'},
					{
			       		text    : 'Zeile Löschen',
			       		handler: function() {
						if (tabs.getActiveTab() != null){
						var sm = tabs.getActiveTab().getSelectionModel();
			       		var sel = sm.selections.itemAt(0);
			       		if (sm.hasSelection()){
			       			tabs.getActiveTab().getStore().remove(sel);
			       			}
			       		   }
			       		   else Ext.Msg.show({msg: 'Keine Versandart geöffnet!'});
			       		 }
		       		 },
	       	    { xtype: 'tbfill'},
	          	{
	       		text    : 'Löschen',
	       		handler: function() {
	       	    	if (tabs.getActiveTab() != null){
		       	 var title = tabs.getActiveTab().title;
	       	 	Ext.MessageBox.confirm('Bestätigen', 'Sind Sie sicher? Alle angelegten Preissuchmaschinen, die diesen  Versender verwenden, werden entfernt!', function(btn, text){
	       	     if (btn == 'yes'){
	       	    	$('loading-mask').show();
	       	    	window.location.href= '<?php echo $this->getUrl("*/*/delshipper")."?title="?>'+tabs.getActiveTab().title;
	       	    }
	       	});

	       	    }	else Ext.Msg.show({msg: 'Keine Versandart geöffnet!'});
	       		
	       		 }
	       		 },
	       		{ xtype:'tbseparator'},
	       		{
		       	text    : 'Speichern',
		       	handler: function() {
	       			if (tabs.getActiveTab() != null && tabs.getActiveTab().getStore().data.items.length > 0){
   								var fArray = [];
		       					Ext.each(tabs.getActiveTab().getStore().data.items, function(record){
							    fArray.push(record.data);				       					
		       					});
		       					var fChanges = Ext.util.JSON.encode(fArray);
		       					var title = tabs.getActiveTab().title;
		       					$('loading-mask').show();
		       					window.location.href='<?php echo $this->getUrl("*/*/shippingwrite")."?param="?>'+ fChanges+'&title='+title;
		       				}else Ext.Msg.show({msg: 'Keine Versandart geöffnet oder keine Einträge vorhanden!'});
		       	}
		       	}  
				]      				
	    });


	    var ds_model = Ext.data.Record.create(['mlength','mheight','mwidth','mweight','price']);


		var numbers = new Ext.data.SimpleStore({
			  fields: ['id','mlength','mheight','mwidth','mweight','price'],
			  data: [['','','','','']]
				});
				//var myData = { records: [ {key: '1', value:"EINS"},	{key: '2', value:"ZWEI"}]};	
			    var categoryStore = new Ext.data.JsonStore({
			        fields : ['key', 'value'],
					data   : json,
					root   : 'records'
			    });
			    
		Ext.form.VTypes['numericVal'] = /^\d+\.?\d*/;
		Ext.form.VTypes['numericMask'] =/[0-9\.]/;
		Ext.form.VTypes['numericText']='Ungültig';
		Ext.form.VTypes['numeric'] = function(v){
		return Ext.form.VTypes['numericVal'].test(v);
			}
			    
					  
		var mlength_edit = new Ext.form.TextField({vtype: 'numeric'});
	    var mheight_edit = new Ext.form.TextField({vtype: 'numeric'});
	    var mwidth_edit = new Ext.form.TextField({vtype: 'numeric'});
	    var mweight_edit = new Ext.form.TextField({vtype: 'numeric'});
	    var mprice_edit = new Ext.form.TextField({vtype: 'numeric'});

	    var cat_edit = new Ext.form.ComboBox({
	    	emptyText:'Select a state...',
            store: categoryStore,
            triggerAction: 'all',
            mode: 'local',
            valueField:'key',
            displayField:'value',
            listClass: 'x-combo-list-small'
        });
	


	    
	    var price_edit = new Ext.form.TextField();
		//Alle GridPanels holen, adden und  anzeigen im Tab
		//Aufruf an getShipperData

		array = eval('(' + response.responseText + ')'); 

		for (i=0;i<array.length; i++){
				 grid = new Ext.grid.EditorGridPanel({
						title: array[i],
						columns: [
						      {header: "id", dataIndex: 'id', hidden:true},
					    	  {header: "Max. Lang", dataIndex: 'mlength', editor: mlength_edit, sortable:true},
					  	     {header: "Max. Hoch", dataIndex: 'mheight', editor: mheight_edit,sortable:true},
					   	     {header: "Max. Breit", dataIndex: 'mwidth', editor: mwidth_edit,sortable:true},
					     	  {header: "Bis  Gewicht", dataIndex: 'mweight', editor: mweight_edit,sortable:true},
					     	  {header: "Ab VK", sortable:true, dataIndex: 'mprice', editor: mprice_edit},
					     	 {header: "Kategorie", sortable: true,dataIndex: 'cat', editor: cat_edit, width: 170},
					     	    {header: "Preis", dataIndex: 'price', editor: price_edit,sortable:true}],
					     	    store:  numbers,
					     		sm: new Ext.grid.RowSelectionModel({
									singleSelect: false						
									}),
					     	   listeners: {
					              activate: function(e){
					                   	//Alle Datensätze zum aktuellen Versender holen
										Ext.Ajax.request({
			  							 url: '<?php echo $this->getUrl("*/*/getshippingvalues")."?param="?>'+e.title,
			   						    method:'GET',
			   							//Store holen und Datensätze einfügen	
			   							success: function (response){
											//New JSON Reader um response  in records zu überführen und dem Store zu adden
											
											var shipperValue = Ext.data.Record.create([
    										{name: 'id', mapping: 'shipping_id'},  // map data
    										{name: 'mlength'},
    										{name: 'mheight'},
    										{name: 'mwidth'},	
    										{name: 'mweight'},
    										{name: 'mprice'},
    										{name: 'cat'},
    										{name: 'price'}
											]);
											var myReader = new Ext.data.JsonReader(
    										{                            
        									root: "root"        
    										},
    										shipperValue
											);
											var temp = myReader.read(response);
											grid.getStore().removeAll();
											grid.getStore().insert(0,temp.records);
										},
			  							failure: function (result, request) { 
		            					response_getshipper = result.responseText;
										},
			   							headers: {
			   						    'my-header':'psmext'
			  							 }		   
										});      		
					                }
                		}
				  	  });
				tabs.add(grid);
			   }
		setActiveTabByTitle(tabs, array[0]);
		}
}

</script>

<div id="tabs"></div>
<br><br>
<a href="http://www.psmext.de"><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'psmext/images/logo.jpg' ?>"></img></a>