.ac_results li {text-align:left;}
.ac_results li .ac_product_row{position:relative;}
.ac_results li .ac_product_image{float:left;border:1px solid #cccccc;margin:2px;}
.ac_results li .ac_product_title{white-space:nowrap;position:absolute;left:60px;top:2px;font-size:14px;}
.ac_results li .ac_product_manufacturer{white-space:nowrap;position:absolute;left:60px;top:17px;font-size:11px;color:#999999;}
.ac_results li .ac_product_price{white-space:nowrap;position:absolute;left:60px;top:37px;font-size:14px;font-weight:bold;}
